<template>
  <div class="ml-popover" :class="{thin}">
    <span class="ml-popover-target" @click="handlerPopoverClick" @mouseenter="handlerPopoverHoverIn" @mouseleave="handlerPopoverHoverOut">
      <slot name="target"></slot>
    </span>
    <transition :name="'ml-popover-animate-' + (minimal ? 'minimal' : 'default')">
      <div class="ml-popover-content" v-show="show" @mouseenter="handlerPopoverHoverIn" @mouseleave="handlerPopoverHoverOut" @click="handlerPopoverContentClick">
        <div class="ml-popover-content-inner ml-popover-content-sizing" :style="styleObject">
          <div ref="arrow" class="ml-popover-arrow" :class="{'no-arrow': !arrow}">
            <svg viewBox="0 0 30 30" :style="{transform: arrowTransform}">
                <path class="ml-popover-arrow-border" :d="SVG_SHADOW_PATH" />
                <path class="ml-popover-arrow-fill" :d="SVG_ARROW_PATH" />
            </svg>
          </div>
          <div class="ml-popover-content-content">
            <slot :popover="this"></slot>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { getTransformOrigin, getArrowAngle, arrowOffsetModifier } from './popoverUtil.js'
import Popper from 'popper.js'

const SVG_SHADOW_PATH =
    'M8.11 6.302c1.015-.936 1.887-2.922 1.887-4.297v26c0-1.378' +
    '-.868-3.357-1.888-4.297L.925 17.09c-1.237-1.14-1.233-3.034 0-4.17L8.11 6.302z'
const SVG_ARROW_PATH =
    'M8.787 7.036c1.22-1.125 2.21-3.376 2.21-5.03V0v30-2.005' +
    'c0-1.654-.983-3.9-2.21-5.03l-7.183-6.616c-.81-.746-.802-1.96 0-2.7l7.183-6.614z'

export default {
  name: 'MLPopover',
  props: {
    placement: {
      default: 'auto',
      type: String
    },
    prevent: {
      default: false,
      type: Boolean
    },
    target: {
      type: [Object, String, HTMLElement],
      default: ''
    },
    interact: {
      default: 'click',
      type: String
    },
    thin: {
      default: false,
      type: Boolean
    },
    plain: {
      default: false,
      type: Boolean
    },
    minimal: {
      default: false,
      type: Boolean
    },
    arrow: {
      default: true,
      type: Boolean
    },
    hoverDelay: {
      default: 100,
      type: Number
    },
    hoverLeaveDelay: {
      default: 300,
      type: Number
    }
  },
  data () {
    return {
      show: false,
      $popver: '',
      localTargetElement: '',
      content: '',
      transformOrigin: '',
      arrowTransform: '',
      SVG_SHADOW_PATH: SVG_SHADOW_PATH,
      SVG_ARROW_PATH: SVG_ARROW_PATH,
      hoverOnTargetOrContent: false,
      hoverInTimeout: '',
      hoverOutTimeout: ''
    }
  },
  computed: {
    styleObject () {
      return {
        transformOrigin: this.transformOrigin
      }
    },
    targetElement () {
      if (this.target) {
        return (this.target && this.target.$el) || this.target
      } else {
        return this.localTargetElement
      }
    }
  },
  watch: {
  },
  mounted () {
    this.$nextTick(() => {
      this.setupPopover()
    })
  },
  destroyed () {
    this.$popover && this.$popover.destroy()
  },
  methods: {
    setupPopover () {
      this.localTargetElement = this.$el.querySelector('.ml-popover-target')
      this.content = this.$el.querySelector('.ml-popover-content')
      this.$popover = new Popper(this.targetElement, this.content, {
        placement: this.placement,
        positionFixed: true,
        removeOnDestroy: true,
        modifiers: {
          hide: {
            enabled: true
          },
          flip: {
            enabled: true,
            boundariesElement: 'window',
            padding: 40,
            order: 600
          },
          arrow: {
            enabled: true,
            element: this.$refs.arrow
          },
          preventOverflow: {
            enabled: true,
            boundariesElement: 'window',
            order: 300
          },
          arrowOffset: {
            enabled: true,
            fn: this.arrowOffsetModifier,
            order: 510
          },
          updatePopoverState: {
            enabled: true,
            fn: this.updatePopoverState,
            order: 900
          }
        }
      })
      this.$popover.enableEventListeners()
      this.$nextTick(() => {
        this.$popover.scheduleUpdate()
      })
      if (this.target) {
        this.target.addEventListener('click', this.handlerPopoverClick)
        this.target.addEventListener('keypress', (event) => {
          var code = event.charCode || event.keyCode
          event.preventDefault()
          if ((code === 32) || (code === 13)) {
            this.handlerPopoverClick(event)
          }
        })
        this.target.addEventListener('mouseenter', this.handlerPopoverHoverIn)
        this.target.addEventListener('mouseleave', this.handlerPopoverHoverOut)
      }
      document.addEventListener('click', (event) => {
        if (this.content && (this.content.contains(event.target) || this.content === event.target)) {
          return false
        }
        if (this.targetElement && (this.targetElement.contains(event.target) || this.targetElement === event.target)) {
        } else if (this.show && !event.defaultPrevented) {
          if (this.prevent) {
            event.preventDefault()
          }
          this.close()
        }
      })
    },
    handlerPopoverContentClick (event) {
      const target = event.target
      const dismissElement = target.closest(`.ml-popover-dismiss, .ml-menu-dismiss`)
      if (dismissElement && !event.defaultPrevented) {
        if (this.prevent) {
          event.preventDefault()
        }
        this.close()
      }
    },
    handlerPopoverClick (event) {
      if (this.interact === 'click') {
        this.toggle()
        this.$nextTick(() => {
          this.$popover.scheduleUpdate()
        })
      }
    },
    handlerPopoverHoverIn () {
      this.hoverOnTargetOrContent = true
      if (this.interact === 'hover') {
        window.clearTimeout(this.hoverInTimeout)
        this.hoverInTimeout = window.setTimeout(() => {
          if (this.hoverOnTargetOrContent) {
            this.open()
            this.$nextTick(() => {
              this.$popover.scheduleUpdate()
            })
          }
        }, this.hoverDelay)
      }
    },
    handlerPopoverHoverOut () {
      this.hoverOnTargetOrContent = false
      if (this.interact === 'hover') {
        window.clearTimeout(this.hoverOutTimeout)
        this.hoverOutTimeout = window.setTimeout(() => {
          if (!this.hoverOnTargetOrContent) {
            this.close()
          }
        }, this.hoverLeaveDelay)
      }
    },
    update () {
      this.$popover.scheduleUpdate()
    },
    updateArrowTransform (placement) {
      this.arrowTransform = `rotate(${getArrowAngle(placement)}deg)`
    },
    updatePopoverState (data) {
      this.transformOrigin = getTransformOrigin(data, this.minimal)
      this.updateArrowTransform(data.placement)
      return data
    },
    arrowOffsetModifier (data) {
      if (this.arrow) {
        return arrowOffsetModifier(data)
      } else {
        return data
      }
    },
    open () {
      this.$emit('open')
      this.show = true
    },
    toggle () {
      this.show ? this.close() : this.open()
    },
    close () {
      this.$emit('close')
      this.show = false
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.ml-popover {
  display: inline-block;
}
.ml-popover-target {
  display: block;
}
.ml-popover-content {
  z-index: 1000;
}
.ml-popover-content-inner {
  background: $white;
  box-shadow: $dropShadow;
  -webkit-transform: scale(1);
  transform: scale(1);
  display: block;
  z-index: 20;
  bdrs(2px)
  .ml-popover-content-content {
    padding: 20px;
    max-width: 100%;
    .thin & {
      padding: 0px;
    }
  }
}
.ml-popover-arrow {
  position: absolute;
  width: 28px;
  height: 28px;
  &.no-arrow {
    width: 0;
    height: 0;
  }
  .ml-popover-arrow-border {
    fill: alpha($dark, .6);
    opacity: .1;
  }
  .ml-popover-arrow-fill {
    fill: $white
  }
}

.ml-popover-animate-minimal-enter-active {
  opacity: 0
}
.ml-popover-animate-minimal-enter-to {
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transition-timing-function: cubic-bezier(.4,1,.75,.9);
  transition-timing-function: cubic-bezier(.4,1,.75,.9);
  -webkit-transition-delay: 0;
  transition-delay: 0
}
.ml-popover-animate-minimal-leave-active {
  opacity: 1
}
.ml-popover-animate-minimal-leave-to {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transition-timing-function: cubic-bezier(.4,1,.75,.9);
  transition-timing-function: cubic-bezier(.4,1,.75,.9);
  -webkit-transition-delay: 0;
  transition-delay: 0
}

.ml-popover-animate-default-enter-active {
    opacity: 0
}
.ml-popover-animate-default-enter-to {
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: cubic-bezier(.4,1,.75,.9);
    transition-timing-function: cubic-bezier(.4,1,.75,.9);
    -webkit-transition-delay: 0;
    transition-delay: 0
}

.ml-popover-animate-default-leave {
    opacity: 1
}

.ml-popover-animate-default-leave-active {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: cubic-bezier(.4,1,.75,.9);
    transition-timing-function: cubic-bezier(.4,1,.75,.9);
    -webkit-transition-delay: 0;
    transition-delay: 0
}

.ml-popover-animate-default-enter-active .ml-popover-content-inner {
    -webkit-transform: scale(.3);
    transform: scale(.3)
}

.ml-popover-animate-default-enter-to .ml-popover-content-inner {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.54,1.12,.38,1.11);
    transition-timing-function: cubic-bezier(.54,1.12,.38,1.11);
    -webkit-transition-delay: 0;
    transition-delay: 0
}

.ml-popover-animate-default-leave .ml-popover-content-inner {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.ml-popover-animate-default-leave-active .ml-popover-content-inner {
    -webkit-transform: scale(.3);
    transform: scale(.3);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.54,1.12,.38,1.11);
    transition-timing-function: cubic-bezier(.54,1.12,.38,1.11);
    -webkit-transition-delay: 0;
    transition-delay: 0
}
</style>
