<template>
  <li class="ml-menu-divider">
    <div class="ml-menu-divider-line"></div>
    <div class="ml-menu-divider-title" v-if="title">
      {{ title }}
    </div>
  </li>
</template>

<script>
export default {
  name: 'ml-menu-divider',
  props: {
    title: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.ml-menu-divider {
  margin: 0;
  list-style: none;
  .ml-menu-divider-line {
    padding: 3px;
    &:before {
      width: 100%;
      height: 1px;
      background: $light;
      display: block;
      content:  ''
    }
  }
  &:first-child {
    .ml-menu-divider-line {
      display: none;
    }
  }
  .ml-menu-divider-title {
    font-size: $fontSize;
    font-weight: 600;
    padding: 3px 0 3px 12px ;
  }
}

</style>
