<template>
  <ul class="ml-menu-group" :class="{'no-shadow': noShadow}">
    <slot></slot>
  </ul>
</template>

<script>
export default {
  name: 'ml-menu',
  props: {
    noShadow: {
      default: false,
      type: Boolean
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.ml-menu-group {
  bdrs(2px)
  padding: 3px 3px;
  margin: 0;
  display: inline-block;
  background: $white;
  width: auto;
  box-shadow: $dropShadow;
  text-align: left;
  color: $dark;
  &.no-shadow {
    box-shadow none;
  }
}
</style>
