<template>
  <li class="ml-menu-item" :class="{'ml-menu-dismiss': dismiss && !hasChildren}">
    <div ref="target" class="ml-menu-item-target" @click="handlerClick">
      <div class="ml-menu-icon" v-if="icon">
        <ml-icon :name="icon"></ml-icon>
      </div>
      <div class="ml-menu-text">
        <slot name="default">
          {{text}}
        </slot>
      </div>
      <div class="ml-menu-alt">
        <slot name="alt">
          {{label}}
        </slot>
      </div>
      <div class="ml-menu-icon append" v-if="hasChildren">
        <ml-icon name="caret-right"></ml-icon>
      </div>
      <div class="ml-menu-icon append" v-else-if="appendIcon">
        <ml-icon :name="appendIcon"></ml-icon>
      </div>
    </div>
    <ml-popover ref="popover" minimal :hoverLeaveDelay="100" :target="target" v-if="hasChildren" style="display: block;" placement="right-start" :arrow="false" thin :interact="interact">
      <ml-menu no-shadow>
        <slot name="children" :popover="$refs.popover"></slot>
      </ml-menu>
    </ml-popover>
  </li>
</template>

<script>
import MLPopover from '../Popover/Popover'
import MLMenu from './Menu'
export default {
  name: 'ml-menu-item',
  components: {
    MLPopover,
    MLMenu
  },
  props: {
    text: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: ''
    },
    appendIcon: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    dismiss: {
      default: true,
      type: Boolean
    },
    interact: {
      default: 'hover',
      type: String
    }
  },
  data () {
    return {
      target: ''
    }
  },
  computed: {
    hasChildren () {
      return this.$slots.children || this.$scopedSlots.children
    }
  },
  mounted () {
    this.target = this.$el.querySelector('.ml-menu-item-target')
  },
  methods: {
    handlerClick (...args) {
      this.$emit('click', ...args)
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
li.ml-menu-item {
  list-style: none
  bdrs(2px)
  font-size: $fontSize;
  line-height: 32px;
  transition: background .1s;
  .ml-menu-item-target {
    padding: 2px 10px;
    white-space nowrap
    cursor: pointer;
    transition: background .1s;
    &:active {
      background: $light + 20%;
    }
  }
  .ml-menu-icon {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    text-align center;
    color: $secondary;
  }
  .ml-menu-text {
    display: inline-block;
    vertical-align top;
    font-size: $fontSize;
    padding: 0 3px;
    min-width: 90px;
    padding-right: 30px;
    max-width: 300px;
    user-select none;
    overflow hidden;
    white-space: nowrap;
    text-overflow ellipsis;
  }
  .ml-menu-icon.append {
    float: right;
    width: 20px;
  }
  .ml-menu-alt {
    float: right;
    color: $secondary + 30%;
    font-size: 13px;
  }
  &:hover {
    background: $light + 50%;
  }
}
</style>
