<template>
  <div class="tab-container" :class="[type, position, {slim}]">
    <div class="tab-header" v-if="isLeftOrRightStructure">
      <div class="tab-title" v-for="(tab, $idx) in tabColumns" :key="$idx" :class="{active: current === $idx}" @click="toggleIdx($idx)">
        <slot name="title" :data="tab">
          <ml-icon class="tab-icon" :name="tab.icon" v-if="tab.icon"></ml-icon>
          <span class="tab-title-text">
            {{ tab.title }}
          </span>
        </slot>
      </div>
      <div class="tab-underline" :style="underline" v-if="type === 'default'"></div>
    </div>
    <div class="tab-content" :style="{padding}" v-if="position === 'bottom'">
      <div class="tab-content-wrapper">
        <slot></slot>
      </div>
    </div>
    <div class="tab-header-wrap">
      <span class="tab-extra-left" ref="extra">
        <slot name="extra-left"></slot>
      </span>
      <div :class="['tab-header', { 'is-scrollable': scrollable }]" :style="{width: headerWidth}" v-if="!isLeftOrRightStructure">
        <template v-if="scrollable">
          <span class="tab-prev" @click="handlePrev">
            <ml-icon name="chevron-left" class="tab-prev-icon"></ml-icon>
          </span>
          <span class="tab-next" @click="handleNext">
            <ml-icon name="chevron-right" class="tab-next-icon"></ml-icon>
          </span>
        </template>
        <div class="tab-title-wrap" ref="tabScroll">
          <div class="tab-title-list" ref="tabList" :style="navStyle">
            <div class="tab-title" v-for="(tab, $idx) in tabColumns" :key="$idx" :class="{active: current === $idx}" @click="toggleIdx($idx)">
              <slot name="title" :data="tab">
                <ml-icon class="tab-icon" :name="tab.icon" v-if="tab.icon"></ml-icon>
                <span class="tab-title-text">
                  {{ tab.title }}
                </span>
              </slot>
            </div>
            <div class="tab-underline" :style="underline" v-if="type === 'default'"></div>
          </div>
        </div>
      </div>
      <span class="tab-extra-right" ref="extra">
        <slot name="extra-right"></slot>
      </span>
    </div>
    <div class="tab-content" :style="{padding}" v-if="position !== 'bottom'">
      <div class="tab-content-wrapper">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
import MlSlotRender from '../slot-render.vue'
import dom from '@/utils/dom.js'
import _ from '@/utils/utils'

export default {
  name: 'MLTab',
  components: { MlSlotRender },
  props: {
    slim: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: 'default'
    },
    position: {
      default: 'top',
      type: String
    },
    padding: {
      type: String,
      default: '0'
    },
    animate: {
      default: false,
      type: Boolean
    },
    value: {
      type: [String, Number],
      default: ''
    },
    currentIndex: {
      type: [Number, String],
      default: 0
    }
  },
  data () {
    return {
      current: 0,
      tabColumns: [],
      childPosition: 'right',
      local_current: 0,
      underline: {
        left: 0,
        width: 0
      },
      scrollable: false,
      navOffset: 0,
      headerWidth: '100%'
    }
  },
  computed: {
    navStyle () {
      return {
        transform: `translateX(-${this.navOffset}px)`
      }
    },
    // 左右结构不需要计算滚动条
    isLeftOrRightStructure () {
      return _.includes(['left', 'right'], this.position)
    }
  },
  watch: {
    current: {
      immediate: true,
      handler: function (newVal, oldVal) {
        this.childPosition = this.getChildPosition(newVal, oldVal)
        this.local_current = newVal
        var currentTab = this.tabColumns[newVal]
        if (currentTab) {
          var name = currentTab.name
          if (name !== this.value) {
            this.$emit('input', name)
          }
        }
        this.$nextTick(() => {
          var active = this.$el.querySelector('.tab-title.active')
          if (!active) {
            this.underline = { width: 0, left: 0 }
            return
          }
          if (_.includes(['top', 'bottom'], this.position)) {
            var width = dom.outerWidth(active) + 'px'
            var left = dom.position(active).left + 'px'
            this.underline = { width, left }
          } else {
            var top = dom.position(active).top + 'px'
            var height = dom.outerHeight(active) + 'px'
            this.underline = { top, height }
          }
        })
      }
    },
    value: {
      immediate: true,
      handler: function (newValue, oldValue) {
        if (newValue && newValue !== oldValue) {
          this.$nextTick(() => {
            var idx = _.findIndex(this.tabColumns, { name: newValue })
            if (idx >= 0 && idx !== this.current) {
              this.toggleIdx(idx)
            }
          })
        }
      }
    },
    tabColumns: {
      handler: function (newVal, oldVal) {
        if (this.current > (newVal.length - 1)) {
          this.current = newVal.length - 1
        }
      }
    }
  },
  provide () {
    return {
      parent: this
    }
  },
  mounted () {
    this.$nextTick(() => {
      if (this.isLeftOrRightStructure) {
        return
      }
      const tabSize = this.$refs.tabList.offsetWidth
      const containerSize = this.$refs.tabScroll.offsetWidth
      this.scrollable = tabSize > containerSize
      this.getHeaderWidth()
    })
  },
  methods: {
    getHeaderWidth () {
      this.$nextTick(() => {
        let headerWidth = '100%'
        if (this.scrollable) {
          let tabWrap = this.$el.querySelector('.tab-header-wrap')
          let extra = this.$refs.extra
          let tabWrapWidth = dom.outerWidth(tabWrap)
          let extraWidth = dom.outerWidth(extra)
          headerWidth = tabWrapWidth - extraWidth + 'px'
          this.headerWidth = headerWidth
        }
      })
    },
    handleNext () {
      const tabSize = this.$refs.tabList.offsetWidth
      const containerSize = this.$refs.tabScroll.offsetWidth
      const currentOffset = this.navOffset
      if (tabSize - currentOffset <= containerSize) {
        return
      }
      this.navOffset = tabSize - currentOffset > containerSize * 2 ? currentOffset + containerSize : tabSize - containerSize
    },
    handlePrev () {
      const containerSize = this.$refs.tabScroll.offsetWidth
      const currentOffset = this.navOffset
      if (!currentOffset) {
        return
      }
      this.navOffset = currentOffset > containerSize ? currentOffset - containerSize : 0
    },
    toggleIdx (idx) {
      this.current = idx
      this.$nextTick(() => {
        if (this.isLeftOrRightStructure) {
          return
        }
        const tab = this.$refs.tabList
        const tabScroll = this.$refs.tabScroll
        const activeTab = this.$el.querySelector('.active')
        const activeTabBounding = activeTab.getBoundingClientRect()
        const tabScrollBounding = tabScroll.getBoundingClientRect()
        const maxOffset = tab.offsetWidth - tabScroll.offsetWidth
        const currentOffset = this.navOffset
        let newOffset = currentOffset
        if (activeTabBounding.right > tabScrollBounding.right) {
          newOffset = currentOffset + activeTabBounding.right - tabScrollBounding.right
        }
        if (activeTabBounding.left < tabScrollBounding.left) {
          newOffset = currentOffset - (tabScrollBounding.left - activeTabBounding.left)
        }
        newOffset = Math.max(newOffset, 0)
        this.navOffset = Math.min(newOffset, maxOffset)
      })
    },
    visible (child) {
      return this.tabColumns[this.current] === child
    },
    refreshChildren () {
      let tabColumns = []
      this.$slots.default.forEach(comp => {
        let instance = comp.componentInstance
        if (instance && instance.$options.name === 'ml-tab-item') {
          tabColumns.push(comp.componentInstance)
        }
      })
      this.tabColumns = tabColumns
      if (this.value) {
        let index = 0
        const target = this.tabColumns.find((tab, idx) => {
          if (tab.name === this.value) {
            index = idx
            return true
          }
        })
        if (target) {
          this.current = index
        }
      } else if (this.currentIndex) {
        this.current = Number(this.currentIndex) || 0
      }
      var currentTab = this.tabColumns[this.current]
      if (currentTab) {
        let name = currentTab.name
        this.$nextTick(() => {
          if (name !== this.value) {
            this.$emit('input', name)
          }
        })
      }
    },
    getChildPosition (newVal, oldVal) {
      var asc = newVal > oldVal
      if (_.includes(['top', 'bottom'], this.position)) {
        return asc ? 'left' : 'right'
      } else {
        return asc ? 'bottom' : 'top'
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.tab-container {
  &.left, &.right {
    overflow hidden
  }
  .is-scrollable {
    padding: 0 20px;
  }
  .tab-header-wrap {
    display: flex;
    flex-wrap: nowrap;
    .card& {
      border: 1px solid alpha($light, .75);
      background: alpha($light, .3);
    }
    .tab-extra-left, .tab-extra-right {
      flex: none;
      box-sizing: border-box;
      align-self: center;
    }
  }
  .tab-header {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    .left& {
      float: left;
    }
    .right& {
      float: right;
    }
    .tab-icon {
      font-size: 16px;
      margin-right: 4px;
      .slim& {
        font-size: $fontSize;
      }
    }
    .tab-title-wrap {
      position: relative;
      display: flex;
      align-self: stretch;
      overflow: hidden;
      white-space: nowrap;
    }
    .tab-title-list {
      position: relative;
      display: flex;
      transition: 0.3s transform;
      .default& {
        .top& {
          // padding: 5px 1px 0 1px;
          border-bottom 2px solid $light
          .slim& {
            border-bottom-width: 1px
          }
        }
        .bottom& {
          border-top: 2px solid $light;
          .slim& {
            border-top-width: 1px
          }
        }
      }
    }
    .tab-prev, .tab-next {
      color: #7886a0;
      position: absolute;
      height: 100%;
      width: 20px;
      text-align: center;
      background: #ffffff;
      z-index: 1;
      cursor pointer
    }
    .tab-prev {
      left: 0;
    }
    .tab-next {
      right: 0;
    }
    .tab-next-icon, .tab-prev-icon {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    .default& {
      .left& {
        border-right: 2px solid $light;
        .slim& {
          border-right-width: 1px
        }
      }
      .right& {
        border-left: 2px solid $light;
        .slim& {
          border-left-width: 1px
        }
      }
      .tab-underline {
        display: block;
        width: 1px;
        height: 2px;
        background: $primary;
        position: absolute;
        transition: left .3s, width .3s, height .3s, top .3s;
        .slim& {
          height: 1px;
        }
        .top& {
          bottom: -2px;
          .slim& {
            bottom: -1px;
          }
        }
        .bottom& {
          top: -2px;
          .slim& {
            top: -1px;
          }
        }
        .left& {
          right: -2px;
          width: 2px;
          .slim& {
            right: -1px;
            width: 1px;
          }
        }
        .right& {
          left: -2px;
          width: 2px;
          .slim& {
            left: -1px;
            width: 1px;
          }
        }
      }
    }
    // .card& {
    //   border: 1px solid alpha($light, .75);
    //   background: alpha($light, .3);
    // }
    .code& {
      border-top: 1px solid alpha($light, .75);
      background: alpha($light, .3);
      .tab-title {
        padding: 8px 12px;
        font-weight: normal;
        white-space: nowrap;
        .tab-title-text {
          margin-left: 2px;
          display: inline-block;
          vertical-align: top;
          line-height: 20px;
        }
      }
    }
    .tab-title {
      display: inline-block;
      padding: 10px 20px;
      cursor: pointer;
      font-weight: bold;
      border-bottom-color: $light;
      color: $gray - 20%;
      transition: color .3s;
      flex: none;
      &:hover {
        color: $primary + 30%;
      }
      &.active {
        color: $primary;
        background: $white;
      }
      .slim& {
        font-weight: normal;
        padding: 3px 15px;
      }
      .left&, .right& {
        display: block;
      }
      .left& {
        text-align: right;
      }
      .right& {
        text-align: left;
      }
      .default& {
        border-left: 0;
        border-right: 0;
      }
      .card& {
        margin: -1px;
        border: 1px solid transparent;
        &.active  {
          border: 1px solid $light;
          .top& {
            border-bottom-color: transparent;
            bdrs(3px 3px 0 0)
          }
          .left& {
            border-right-color: transparent;
            bdrs(3px 0 0 3px)
          }
          .right& {
            border-left-color: transparent;
            bdrs(0 3px 3px 0)
          }
          .bottom& {
            border-top-color: transparent;
            bdrs(0 0 3px 3px)
          }
        }
      }
    }
  }
  .tab-content {
    .tab-content-wrapper {
      overflow: hidden;
      position: relative;
    }
  }
}
</style>
