<template>
  <div v-if="parent.animate">
    <transition name="tab-slide">
      <div class="tab-slot" :class="[parent.childPosition, {visible: visible, animate: parent.animate, slim}]" v-show="visible">
        <slot></slot>
      </div>
    </transition>
  </div>
  <div v-else>
    <div class="tab-slot" :class="[parent.childPosition, {visible: visible, animate: parent.animate, slim}]" v-show="visible">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ml-tab-item',
  props: {
    title: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: ''
    },
    name: {
      type: [String, Number],
      default: ''
    },
    slim: {
      default: false,
      type: Boolean
    }
  },
  data () {
    return {
      value: '',
      initialized: false
    }
  },
  computed: {
    visible () {
      return this.parent.visible(this)
    }
  },
  watch: {
    visible: {
      immediate: true,
      handler: function (newVal) {
        if (newVal && !this.initialized) {
          this.initialized = true
          this.$emit('init')
        }
      }
    }
  },
  mounted () {
    // this.parent.tabColumns.push(this)
    this.parent.refreshChildren()
  },
  destroyed () {
    var index = this.parent.tabColumns.indexOf(this)
    if (index >= 0) {
      this.parent.tabColumns.splice(index, 1)
    }
  },
  inject: ['parent']
}
</script>

<style lang="stylus">
.tab-slot {
  transition: transform;
  // transition-duration: .3s;
  width: 100%;
  display: block;
  padding: 15px;
  &.slim {
    padding: 0;
  }
  &.visible {
  }
  &.tab-slide-leave-active, &.tab-slide-leave-to {
    position: absolute;
    with: 100%;
    top: 0;
  }
  &.animate {
    &.right {
      &.tab-slide-enter-active {
        animation: slide-left .3s reverse;
      }
      &.tab-slide-leave-active {
        animation: slide-right .3s;
      }
    }
    &.left {
      &.tab-slide-enter-active {
        animation: slide-right .3s reverse;
      }
      &.tab-slide-leave-active {
        animation: slide-left .3s;
      }
    }
    &.top {
      &.tab-slide-enter-active {
        animation: slide-up .3s reverse;
      }
      &.tab-slide-leave-active {
        animation: slide-down .3s;
      }
    }
    &.bottom {
      &.tab-slide-enter-active {
        animation: slide-down .3s reverse;
      }
      &.tab-slide-leave-active {
        animation: slide-up .3s;
      }
    }
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0)
    opacity: 1;
  }
  100% {
    transform: translateX(-100%)
    opacity: 0;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(0)
    opacity: 1;
  }
  100% {
    transform: translateX(100%)
    opacity: 0;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(0)
    opacity: 1;
  }
  100% {
    transform: translateY(-100%)
    opacity: 0;
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(0)
    opacity: 1;
  }
  100% {
    transform: translateY(100%)
    opacity: 0;
  }
}
</style>
