<template>
  <div>
    <ml-row :gutter="10">
      <ml-col width="20%" style="margin-bottom: 20px;" v-for="(color, $idx) in colors" :key="$idx">
        <div class="ml-card-wrapper" :style="colorStyle(color)"></div>
        <div class="color-name">
          {{ color.name }}
        </div>
      </ml-col>
    </ml-row>
  </div>
</template>

<script>
export default {
  data () {
    return {
      colors: [
        { name: 'dark', color: '#07001f' },
        { name: 'secondary', color: '#4e5a6f' },
        { name: 'gray', color: ' #a1abbd' },
        { name: 'light', color: '#dfe1e6' },
        { name: 'bright', color: '#f6f5f7' },
        { name: 'primary', color: '#2D4EF5' },
        { name: 'success', color: '#28d3a9' },
        { name: 'warning', color: '#fdc138' },
        { name: 'danger', color: '#fb054c' },
        { name: 'info', color: '#b100ff' }
      ]
    }
  },
  methods: {
    colorStyle (color) {
      return {
        background: color.color,
        color: color.color
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.ml-card-wrapper {
  bdrs(3px)
  padding: 15px;
  box-shadow: 0 10px 32px -8px alpha($dark,0.15);
  min-height: 50px;
}
.color-name {
  text-align: center;
  line-height: 32px;
}
</style>
