<template>
  <div>
    <ml-row style="margin: 40px 0;">
      <ml-col :span="6" :offset="3">
        <p class="align-center ml-text-runing">
          Moonlite icons mostly comes from <a href="https://blueprintjs.com/docs/#icons">Blueprint.js</a>, with over 300 vector UI icons and two formats (SVG and fonts). It's easy to change their color or apply effects like text shadows via standard SVG or CSS properties.
        </p>
        <p class="align-center">
          Many Moonlite components support an icon prop which accepts an icon name (such as "history") as the icon.
        </p>
        <p>
          Basic usage:
          <ml-example language="html" :template="exampleTemplate">
            <template>
              <div>
                <div class="ml-text-intent-secondary" style="font-size: 20px;">
                  <ml-icon name="help"></ml-icon>
                  <ml-icon name="airplane"></ml-icon>
                  <ml-icon name="git-push"></ml-icon>
                  <ml-icon name="grid"></ml-icon>
                  <ml-icon name="zoom-to-fit"></ml-icon>
                </div>
                <div class="ml-text-intent-primary" style="font-size: 30px;">
                  <ml-icon name="help"></ml-icon>
                  <ml-icon name="airplane"></ml-icon>
                  <ml-icon name="git-push"></ml-icon>
                  <ml-icon name="grid"></ml-icon>
                  <ml-icon name="zoom-to-fit"></ml-icon>
                </div>
                <div class="ml-text-intent-success" style="font-size: 40px;">
                  <ml-icon name="help"></ml-icon>
                  <ml-icon name="airplane"></ml-icon>
                  <ml-icon name="git-push"></ml-icon>
                  <ml-icon name="grid"></ml-icon>
                  <ml-icon name="zoom-to-fit"></ml-icon>
                </div>
              </div>
            </template>
          </ml-example>
        </p>
        <ml-input v-model="filter" size="xlarge" icon="search" append focus placeholder="Search for icons" fill></ml-input>
      </ml-col>
    </ml-row>
    <div v-for="(group, title) in groups" class="icon-group" :key="title">
      <h2 class="group-title">{{ title }}</h2>
      <ml-row>
        <ml-col class="icons align-center" :span="1" :md="2" :sm="3" :xs="4" :lg="1" v-for="icon in group" :key="icon.iconName" :title="icon.tags">
          <ml-icon style="font-size: 24px" :name="icon.iconName"></ml-icon>
          <div class="icon-name">
            <span>
              {{ icon.displayName }}
            </span>
          </div>
          <div class="icon-name-code">
            <span>{{ icon.iconName }}</span>
          </div>
        </ml-col>
      </ml-row>
    </div>
  </div>
</template>

<script>
import _ from '@/utils/utils'
import icons from '@/data/icons/icons.json'
const template = `<template>
  <div>
    <div class="ml-text-intent-secondary" style="font-size: 20px;">
      <ml-icon name="help"></ml-icon>
      <ml-icon name="airplane"></ml-icon>
      <ml-icon name="git-push"></ml-icon>
      <ml-icon name="grid"></ml-icon>
      <ml-icon name="zoom-to-fit"></ml-icon>
    </div>
    <div class="ml-text-intent-primary" style="font-size: 30px;">
      <ml-icon name="help"></ml-icon>
      <ml-icon name="airplane"></ml-icon>
      <ml-icon name="git-push"></ml-icon>
      <ml-icon name="grid"></ml-icon>
      <ml-icon name="zoom-to-fit"></ml-icon>
    </div>
    <div class="ml-text-intent-success" style="font-size: 40px;">
      <ml-icon name="help"></ml-icon>
      <ml-icon name="airplane"></ml-icon>
      <ml-icon name="git-push"></ml-icon>
      <ml-icon name="grid"></ml-icon>
      <ml-icon name="zoom-to-fit"></ml-icon>
    </div>
  </div>
</template>`

export default {
  data () {
    return {
      filter: '',
      icons,
      exampleTemplate: template
    }
  },
  computed: {
    groups () {
      var filter = this.filter.toLowerCase()
      var icons = _.filter(_.clone(this.icons), (icon) => {
        return icon.iconName.toLowerCase().indexOf(filter) >= 0 ||
        icon.displayName.toLowerCase().indexOf(filter) >= 0 ||
        icon.tags.toLowerCase().indexOf(filter) >= 0
      })
      return _.groupBy(_.sortBy(icons, 'group'), 'group')
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '~@/stylesheets/vars'
.group-title {
  text-align center
  text-transform: capitalize;
  &:after {
    display: block;
    content: ''
    width: 60%;
    height: 1px;
    background $gray;
    margin: 20px auto 0 auto;
  }
}
.icons {
  margin-bottom: 10px;
  font-weight: 400;
  color: $secondary;
  padding: 20px;
  height: 100px;
  bdrs(5px)
  &:hover {
    background: $gray + 80%;
  }
  i {
    font-size: 20px;
  }
  .icon-name {
    font-size: 12px;
    margin: 10px 0;
    span {
      display: inline-block;
      padding: 1px 10px;
      bdrs(10px)
    }
  }
  .icon-name-code {
    font-size 12px;
    margin: 10px 10px;
    display none;
    span {
      display: inline-block;
      background: $gray + 40%
      padding: 1px 10px;
      bdrs(10px)
      font-family: $code_font
    }
  }
  &:hover {
    .icon-name-code {
      display block;
    }
    .icon-name {
      display none;
    }
  }
}
</style>
