<template>
  <ml-row :gutter="10">
    <ml-col :span="5" :offset="1" class="align-center">
      <ml-information
        v-loading="loading"
        type="default" title="Warining Information" message="Alert components are non-overlay elements in the page that does not disappear automatically."></ml-information>
      <ml-button @click="loading = !loading" :icon="loading ? 'loading' : 'floppy-disk'">Toggle Loading State</ml-button>
    </ml-col>
    <ml-col :span="5" class="align-center">
      <ml-information
        v-loading.md="loading2"
        type="primary" title="Warining Information" message="Alert components are non-overlay elements in the page that does not disappear automatically."></ml-information>
      <ml-button intent="primary" @click="loading2 = !loading2" :icon="loading2 ? 'loading' : 'floppy-disk'">Toggle Loading State</ml-button>
    </ml-col>
  </ml-row>
</template>

<script>
export default {
  data () {
    return {
      loading: false,
      loading2: false
    }
  }
}
</script>
