<template>
  <div>
    <h1 class="align-center large">
      该页无法找到
    </h1>
    <p class="align-center small">
      <pre><code>ERROR: 404</code></pre>
    </p>
    <p class="align-center small">
      <router-link :to="{
          path: '/'
      }">
        <ml-button size="large" type="primary" icon="arrow-left">
          返回首页
        </ml-button>
      </router-link>
    </p>
  </div>
</template>
<style lang='stylus' scoped>
@import "~@/stylesheets/vars";
.large {
  font-size: 30px;
  margin-top: 160px;
  font-weight: normal;
  color: $dark;
}
.small {
  font-size: 24px;
  margin: 20px;
  color: $dark + 20%;
  margin-bottom: 100px;
}
</style>
