<template>
  <div>
    <ml-row :gutter="10">
      <ml-col span="3">
        <ml-tree v-model="tree" selectable></ml-tree>
      </ml-col>
      <ml-col span="3">
        <ml-tree v-model="tree" selectable draggable></ml-tree>
      </ml-col>
      <ml-col span="3">
        <ml-tree v-model="tree" checkable></ml-tree>
      </ml-col>
      <ml-col span="3">
        <ml-tree v-model="tree" selectable></ml-tree>
      </ml-col>
    </ml-row>
    <hr class="ml-hr">
    <ml-row>
      <ml-col span="3">
        <ml-tree defaultCollapse v-model="fileTree" can-collapse>
          <template slot="title" slot-scope="{ node }">
            <ml-icon class="custom-icon-theme" :name="showIcon(node)"></ml-icon>
            {{ node.title }}
          </template>
        </ml-tree>
      </ml-col>
      <ml-col span="3">
        <ml-tree v-model="tree" can-collapse show-check></ml-tree>
      </ml-col>
      <ml-col span="3">
        <ml-tree v-model="tree" selectable draggable>
        </ml-tree>
      </ml-col>
      <ml-col span="3">
        <ml-tree v-model="fileTree" selectable draggable @nodecontextmenu="rightMenu">
          <template slot="toggle" slot-scope="{ node }">
            <ml-icon :name="node.isLeaf ? 'blank' : (node.isCollapsed ? 'chevron-right' : 'chevron-down')"></ml-icon>
          </template>
          <template slot="title" slot-scope="{ node }">
            <ml-icon class="custom-icon-theme" :name="showIcon(node)"></ml-icon>
            {{ node.title }}
          </template>
        </ml-tree>
      </ml-col>
    </ml-row>
    <ml-menu :style="contextMenuStyle">
      <ml-menu-divider title="Edit"></ml-menu-divider>
      <ml-menu-item text="Cut" icon="cut" label="⌘X"></ml-menu-item>
      <ml-menu-item text="Copy" icon="duplicate" label="⌘C"></ml-menu-item>
      <ml-menu-item text="Paste" icon="clipboard" label="⌘V"></ml-menu-item>
      <ml-menu-divider title="Text"></ml-menu-divider>
      <ml-menu-item icon="align-left" text="Alignment">
        <template slot="children">
          <ml-menu-item icon="align-left" text="Left"></ml-menu-item>
          <ml-menu-item icon="align-center" text="Center"></ml-menu-item>
          <ml-menu-item icon="align-right" text="Right"></ml-menu-item>
          <ml-menu-item icon="align-justify" text="Justify"></ml-menu-item>
        </template>
      </ml-menu-item>
      <ml-menu-item icon="style" text="Style">
        <template slot="children" slot-scope="scope">
          <ml-menu-item icon="bold" text="Bold" @click="scope.popover.close()" />
          <ml-menu-item icon="italic" text="Italic" />
          <ml-menu-item icon="underline" text="Underline" />
        </template>
      </ml-menu-item>
      <ml-menu-item icon="asterisk" text="Miscellaneous"></ml-menu-item>
    </ml-menu>
  </div>
</template>

<script>
export default {
  data () {
    return {
      contextMenuStyle: {
        display: 'none'
      },
      tree: [
        {
          title: 'build',
          isChecked: false,
          label: 'alt'
        },
        {
          title: 'World',
          isChecked: false,
          label: 'alt',
          children: [
            {
              title: 'Samurai',
              isChecked: true,
              children: [
                {
                  title: 'Checkbox',
                  label: 'show??'
                }
              ]
            },
            {
              title: 'Sakura',
              isChecked: true,
              children: [
                {
                  title: 'Radio Box',
                  label: 'show'
                }
              ]
            }
          ]
        },
        {
          title: 'Foo',
          isChecked: true,
          label: 'alt'
        }
      ],
      fileTree: [
        {
          title: 'build',
          isChecked: false,
          label: 'alt'
        },
        {
          title: 'node_modules',
          isChecked: false,
          label: 'alt',
          isCollapsed: true,
          children: [
            {
              title: '.bin',
              isChecked: true,
              children: [
                {
                  title: '...',
                  label: 'show??',
                  isLeaf: true
                }
              ]
            },
            {
              title: '@babel',
              isChecked: true,
              children: [
                {
                  title: '...',
                  label: 'show',
                  isLeaf: true
                }
              ]
            }
          ]
        },
        {
          title: 'src',
          isCollapsed: false,
          children: [
            {
              title: 'assets'
            },
            {
              title: 'components',
              children: [
                {
                  title: 'Navigation',
                  children: [
                    {
                      title: '***.vue',
                      isLeaf: true
                    }
                  ]
                },
                {
                  title: '***'
                },
                {
                  title: '***.js',
                  isLeaf: true
                }
              ]
            },
            {
              title: 'stylesheets',
              children: [
                {
                  title: '***.styl',
                  isLeaf: true
                }
              ]
            },
            {
              title: 'utils',
              children: [
                {
                  title: 'dom.js',
                  isLeaf: true
                }
              ]
            },
            {
              title: 'App.vue',
              isLeaf: true
            },
            {
              title: 'main.js',
              isLeaf: true
            }
          ]
        },
        {
          title: 'index.html',
          isLeaf: true,
          isChecked: true,
          label: 'alt'
        },
        {
          title: '.gitignore',
          isLeaf: true
        },
        {
          title: 'index.js',
          isLeaf: true
        },
        {
          title: 'package.json',
          isLeaf: true
        }
      ]
    }
  },
  mounted () {
    window.document.addEventListener('click', () => {
      this.contextMenuStyle = {
        display: 'none'
      }
    }, false)
  },
  methods: {
    showIcon (item) {
      if (item.isLeaf) {
        return 'document'
      } else {
        if (item.isCollapsed) {
          return 'folder-close'
        } else {
          return 'folder-open'
        }
      }
    },
    rightMenu (node, selected, $event) {
      $event.preventDefault()
      this.contextMenuVisible = true
      this.contextMenuStyle = {
        display: 'block',
        position: 'fixed',
        left: $event.clientX + 'px',
        top: $event.clientY + 'px'
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.custom-icon-theme {
  color: $secondary
}
</style>
