<template>
  <div>
    <ml-row max-width="800px" center>
      <ml-col>
        <div class="ml-text-large">
          <h1>Typography</h1>
          <h2>Usage</h2>
          <p>
            Keep in mind these general web typography guidelines when building your applications.
          </p>
          <h2>UI text</h2>
          <p>Blueprint does not include any fonts of its own; it will use the default sans-serif operating system font. A handful of utility CSS classes can be combined freely to further customize a block of text.</p>
          <p>The base font size for Blueprint web applications is 14px. This should be the default type size for most short strings of text which are not headings or titles. If you wish to reset some element's font size and line height to the default base styles, use the .bp3-ui-text class.</p>
          <p>For longer blocks of running text, such as articles or documents, see running text styles.</p>
        </div>
        <p>
          Blahblahblah
          <span data-tooltip="Hello Tooltip" class="tooltip-bottom">
            测试 Tooltip
          </span>
          OK
        </p>
        <p>
          <span data-tooltip="Hello Tooltip">
            测试 Tooltip
          </span>
        </p>
        <template v-for="h in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']">
          <component :is="h" class="typo" :key="h">
            AaBbCcDd 12345
            <ml-icon name="add-column-left"></ml-icon>
            <ml-icon name="insert"></ml-icon>
            <ml-icon name="graph-remove"></ml-icon>
            <!-- <i class="ml-icon-add-column-left large"></i> -->
            <!-- <i class="ml-icon-insert large"></i> -->
          </component>
        </template>
        <div>
          <span style="display: inline-block;">
            AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz1234567890
          </span>
          <ml-icon name="add-column-left"></ml-icon>
        </div>
      </ml-col>
    </ml-row>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.typo {
  line-height: 1;
  // border-top: 1px solid $danger;
  // border-bottom 1px solid $danger;
  color: $primary;
  font-weight: normal;
  position: relative;
  &:before, &:after {
    display: block;
    content: ''
    top: 1em;
    width: 100%;
    height: 1px;
    background: $danger;
    top: 1.125em;
    position: absolute;
  }
  &:after {
    bottom: 1.125em;
    top: auto;
    position: absolute;
  }
  h1&{
      line-height: 3em
      font-size: 36px
  }
  h2&{
      line-height: 3em
      font-size: 28px
  }
  h3&{
      line-height: 3em
      font-size: 22px
  }
  h4&{
      line-height: 3em
      font-size: 18px
  }
  h5&{
      line-height: 3em
      font-size: 16px
  }
  h6&{
      line-height: 3em
      font-size: $fontSize;
  }
}
</style>
