<template>
  <div class="ml-bread-crumb" aria-label="Breadcrumb" role="navigation">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'ml-breadcrumb',
  props: {
    separator: {
      type: String,
      default: '/'
    },
    separatorIcon: {
      type: String,
      default: ''
    }
  },
  data () {
    return {}
  },
  provide () {
    return {
      parent: this
    }
  }
}
</script>

<style lang="stylus">
.ml-bread-crumb {
  font-size: $fontSize;
}
</style>
