<template>
  <div class="ml-bread-crumb-item">
    <span @click="togoLink" class="ml-breadcrumb-text" :class="{'ml-breadcrumb-link': to}">
      <slot></slot>
    </span>
    <ml-icon v-if="parent.separatorIcon" class="ml-breadcrumb-separator" :name="parent.separatorIcon"></ml-icon>
    <span v-else class="ml-breadcrumb-separator" role="presentation">{{parent.separator}}</span>
  </div>
</template>

<script>
export default {
  name: 'ml-breadcrumb-item',
  props: {
    to: {
      type: [String, Object],
      default: ''
    }
  },
  data () {
    return {}
  },
  inject: ['parent'],
  methods: {
    togoLink () {
      if (this.to && this.$router) {
        this.$router.push(this.to)
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.ml-bread-crumb-item {
  display: inline-block;
  .ml-breadcrumb-text {
    color: $gray - 10%
    &.ml-breadcrumb-link {
      cursor: pointer;
      color: $gray - 40%
      &:hover {
        color: $primary + 10%
      }
    }
  }
  .ml-breadcrumb-separator {
    display: inline-block;
    margin: 0 4px;
    min-width: 16px;
    text-align: center;
    color: $gray - 10%;
  }
  &:last-child {
    .ml-breadcrumb-text {
      color: $gray
    }
    .ml-breadcrumb-separator {
      display: none;
    }
  }
}
</style>
