<template>
  <div>
    <div class="ml-nav-group-name" :class="{fill: navigation.fill, 'parent-collapse': isCollapsed}" :style="styleObj">
      <ml-row>
        <ml-col width="calc(100% - 36px)" v-if="!isCollapsed">
          <slot name="title">
            {{ title }}
          </slot>
        </ml-col>
        <ml-col width="36px" class="align-right" v-if="collapsable && !isCollapsed">
          <ml-button circle @click="toggleCollapse" class="ml-nav-group-toggle-button" :icon="local_collapsed ? 'chevron-left' : 'chevron-down'" :style="{color: navigation.theme.primary}" size="large" type="subtle"></ml-button>
        </ml-col>
        <ml-col v-if="isCollapsed">
          <div class="ml-nav-group-divide">
            <div class="divide-line" :style="{borderColor: navigation.theme.primary}"></div>
          </div>
        </ml-col>
      </ml-row>
    </div>
    <transition name="collapse-menu">
      <div v-show="showChildren" class="ml-child-menus" :class="{collapsed: !showChildren}">
        <slot></slot>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'ml-nav-group',
  inject: {
    navigation: {
      default: ''
    },
    parentNavbarItem: {
      default: ''
    }
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    collapsed: {
      default: false,
      type: Boolean,
      sync: true
    },
    collapsable: {
      default: true,
      type: Boolean
    }
  },
  data () {
    return {
      local_collapsed: this.collapsed
    }
  },
  computed: {
    isCollapsed () {
      if (this.parentNavbarItem) {
        return false
      } else {
        return this.navigation.collapse
      }
    },
    styleObj () {
      var obj = {}
      obj.color = this.navigation.theme.primary
      obj.opacity = 0.6
      return obj
    },
    showChildren () {
      if (this.navigation.collapse) {
        return true
      } else {
        return !this.local_collapsed
      }
    }
  },
  methods: {
    toggleCollapse () {
      this.local_collapsed = !this.local_collapsed
      this.$emit('update:collapsed', !this.local_collapsed)
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.ml-nav-group-name {
  text-align: left;
  padding: 10px 0px 10px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
  &.fill {
    padding-left: 20px;
  }
  &.parent-collapse {
    padding-left: 0
  }
}
.ml-child-menus {
  transition: max-height;
  overflow hidden;
  height: auto;
  max-height: 800px;
  &.collapsed {
    max-height: 0;
  }
}
.ml-nav-group-toggle-button {
  margin-top: -8px;
  margin-bottom: -8px;
}
.collapse-menu-enter-active {
  animation: slideUp .3s reverse;
}
.collapse-menu-leave-active {
  animation: slideUp .3s;
}
.ml-nav-group-divide {
  width: 100%;
  text-align: center;
  .divide-line {
    border-top: 1px solid $dark;
    margin: 10px 15px 10px 15px;
    opacity: .3;
  }
}
@keyframes slideUp {
  0% {
    max-height: 800px;
  }
  100% {
    max-height: 0;
  }
}
</style>
