<template>
  <nav class="ml-navigation" :class="{collapse: collapse, fill: fill}" :style="styleObject">
    <slot></slot>
  </nav>
</template>

<script>
export default {
  name: 'MLNavigation',
  props: {
    theme: {
      type: [Object, String],
      default: () => ({
        primary: '#ffffff',
        secondary: '#c7d5e8',
        background: '#1446a2',
        active: '#2359b7',
        hover: '#2662c9',
        selected: '#0e357c'
      })
    },
    width: {
      default: '240px',
      type: String
    },
    collapseWidth: {
      default: '64px',
      type: String
    },
    height: {
      default: 'auto',
      type: String
    },
    collapse: {
      default: false,
      type: Boolean
    },
    fill: {
      default: false,
      type: Boolean
    }
  },
  computed: {
    styleObject () {
      var obj = {}
      obj.background = this.theme.background
      obj.width = this.width
      obj.height = this.height
      if (this.collapse) {
        // delete obj.width
        obj.width = this.collapseWidth
      }
      return obj
    }
  },
  provide () {
    return {
      navigation: this
    }
  },
  methods: {
    clearSelect () {
      this.$emit('clearSelect')
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.ml-navigation {
  padding: 12px 16px 12px 16px;
  transition: background .3s, width .3s;
  overflow-y: auto;
  &.collapse {
    padding: 12px;
    width: 64px;
  }
  &.fill {
    padding: 12px 0;
    &.collapse {
      padding: 12px 0;
    }
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color:transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: alpha($gray, 0.3);
  }
}
</style>
