<template>
  <div class="ml-nav-item" :class="{
      collapse: isCollapsed,
      'not-collapsed': !isCollapsed,
      fill: navigation.fill,
      'ml-nav-item-theme-custom': customTheme,
    selected}">
    <div class="ml-nav-item-event-consumer" @click="clickHandler" @mouseover="mouseover" @mouseout="mouseout">
      <component ref="link" class="ml-nav-item-target router-link-wrapper" :is="componentName" :to="localTo" :target="target" :href="href" :style="styleObj">
        <slot name="prepend">
          <div class="ml-nav-item-icon" v-if="!append">
            <ml-icon :name="icon"></ml-icon>
          </div>
        </slot>
        <div class="ml-nav-item-content" v-if="!isCollapsed">
          <slot>
            {{ text }}
          </slot>
        </div>
        <slot name="append">
          <div class="ml-nav-item-icon child-chevron-icon append" v-if="hasPopover">
            <ml-icon name="chevron-right"></ml-icon>
          </div>
          <div class="ml-nav-item-icon append" v-else-if="append">
            <ml-icon :name="icon"></ml-icon>
          </div>
        </slot>
      </component>
    </div>
    <ml-popover :target="popoverTarget" ref="popover" v-if="hasPopover" minimal class="ml-nav-popover" thin :arrow="false" :placement="placement" :interact="interact">
      <div :style="{background: navigation.theme.background, width: navigation.width}">
        <slot name="children"></slot>
      </div>
    </ml-popover>
  </div>
</template>

<script>
import { createRoute, isSameRoute, isIncludedRoute } from './routerUtil'
import MLPopover from '../Popover/Popover'
import _ from '@/utils/utils'

export default {
  name: 'ml-nav-item',
  components: {
    MLPopover
  },
  props: {
    text: {
      type: String,
      default: ''
    },
    to: {
      type: [Object, String],
      default: ''
    },
    href: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: ''
    },
    target: {
      type: String,
      default: ''
    },
    append: {
      default: false,
      type: Boolean
    },
    exact: { type: Boolean, default: false },
    interact: {
      default: 'hover',
      type: String
    },
    placement: {
      default: 'right-start',
      type: String
    }
  },
  data () {
    return {
      localTo: _.cloneDeep(this.to),
      hover: false,
      active: false,
      selected: false,
      routerMatch: false,
      popoverTarget: ''
    }
  },
  computed: {
    customTheme () {
      var theme = this.navigation.theme
      return typeof theme !== 'object'
    },
    isCollapsed () {
      if (this.parentNavbarItem) {
        return false
      } else {
        return this.navigation.collapse
      }
    },
    hasPopover () {
      return this.$slots.children || this.$scopedSlots.children
    },
    componentName () {
      if (this.$router && this.to) {
        return 'router-link'
      } else {
        return 'a'
      }
    },
    styleObj () {
      var obj = {}
      var theme = this.navigation.theme
      if (typeof theme !== 'object') {
        return obj
      }
      obj.color = theme.primary
      // obj.background = theme.background
      if (this.hover) {
        obj.background = theme.hover
      }
      if (this.active) {
        obj.background = theme.active
      }
      if (this.selected) {
        obj.background = theme.selected
      }
      return obj
    }
  },
  watch: {
    to: {
      immediate: true,
      handler: function (newVal) {
        this.updateRouter()
      }
    },
    '$route': {
      immediate: true,
      handler: function () {
        this.updateRouter()
      }
    }
  },
  mounted () {
    this.popoverTarget = this.$el.querySelector('.ml-nav-item-target')
    this.navigation.$on('clearSelect', () => {
      this.selected = false
    })
  },
  provide () {
    var navigation = this.navigation
    var parentNavbarItem = this
    return {
      navigation: navigation,
      parentNavbarItem: parentNavbarItem
    }
  },
  methods: {
    updateRouter () {
      this.active = false
      var target = _.cloneDeep(this.to)
      this.localTo = target
      if (target && !_.isEmpty(target)) {
        const current = this.$route
        const router = this.$router
        const { location, route } = router.resolve(target, current, false)
        const compareTarget = location.path
          ? createRoute(null, location, null, router)
          : route
        var same = isSameRoute(current, compareTarget)
        this.selected = this.exact
          ? same
          : isIncludedRoute(current, compareTarget)
        this.routerMatch = this.selected
      }
    },
    mouseover () {
      this.hover = true
    },
    mouseout () {
      this.hover = false
    },
    mousedown () {
      this.active = true
    },
    mouseup () {
      this.active = false
    },
    clearParentSelect () {
      this.navigation.clearSelect()
    },
    clickHandler () {
      if (this.$slots.children) {
        // this.$refs.popover.toggle()
        return false
      }
      if (this.$router && this.to) {
        this.clearParentSelect()
        this.$nextTick(() => {
          this.selected = true
        })
      }
      if (this.href) {
        if (this.target) {
          window.open(this.href, this.target)
        } else {
          if (!this.href.startsWith('http') && this.$router) {
            this.$router.push({
              path: this.href
            })
          } else {
            window.location.href = this.href
          }
          this.clearParentSelect()
          this.$nextTick(() => {
            this.selected = true
          })
        }
      }
    }
  },
  inject: {
    navigation: {
      default: ''
    },
    parentNavbarItem: {
      default: ''
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.ml-nav-item {
  text-align: left;
  height: 40px;
  line-height: 36px;
  transition: background .05s, width .3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  bdrs(2px)
  a.router-link-wrapper {
    color: inherit;
    display: inline-block;
    width: 100%;
    padding: 2px 12px;
    cursor: pointer;
    user-select none;
    transition: background .05s, color .2s, width .3s;
    .ml-nav-item-theme-custom& {
      color: $secondary;
      &:hover {
        color: $dark;
        background: $light + 50%;
      }
      .selected& {
        color: $dark;
        background: $light + 30%;
      }
    }
    &.router-link-active {
      background: inherit;
    }
  }
  &.collapse {
    text-align: center;
    max-width: 64px;
    a.router-link-wrapper {
      padding: 2px 0;
    }
  }
  &.not-collapsed {
    text-align: left;
    max-width: auto;
    a.router-link-wrapper {
      text-align: left;
      padding: 2px 0;
      padding: 2px 12px;
    }
  }
  &.fill {
    &.collapse {
      a.router-link-wrapper {
        width: 100%;
        padding: 2px 0;
        text-align: center;
      }
    }
    &.not-collapsed {
      a.router-link-wrapper {
        padding-left: 22px;
        text-align: left;
      }
    }
  }
  .ml-nav-item-icon {
    display: inline-block;
    font-size: 18px;
    margin-right: 12px;
    .collapse& {
      float: none;
      margin: 0;
      &.child-chevron-icon {
        font-size: 16px;
        width: 0;
        margin-left: 3px;
      }
    }
    .not-collapsed& {
      float: none;
      margin-right: 12px;
      &.append {
        float: right;
        margin: 0;
      }
    }
  }
  .ml-nav-item-content {
    display: inline-block;
    vertical-align: top;
  }
  .ml-nav-mock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
  }
  .ml-nav-popover {
    display: block;
  }
}
</style>
