<template>
  <div class="main">
    <aside class="sidebar">
      <router-link class="logo" :to="{path: '/'}">
        <div>
          <ml-avatar class="logo-img" :size="36" url="logo.svg"></ml-avatar>
          <span class="logo-text">
            <span class="primary-text">MoonLite Project</span>
            <small>v0.0.1</small>
          </span>
        </div>
      </router-link>
      <ml-navigation :theme="theme" fill width="240px" height="calc(100% - 50px)" :collapse="collapse">
        <ml-nav-group title="基础信息">
          <ml-nav-item icon="tint" :to="{name: 'Color'}">
            颜色 Color
          </ml-nav-item>
          <ml-nav-item icon="layout-grid" :to="{name: 'Icons'}">
            图标列表
          </ml-nav-item>
          <ml-nav-item icon="page-layout" :to="{name: 'Layout'}">
            布局 Layout
          </ml-nav-item>
          <ml-nav-item icon="align-center" :to="{name: 'Typography'}">
            排版 Typography
          </ml-nav-item>
        </ml-nav-group>
        <ml-nav-group title="表单组件">
          <ml-nav-item icon="widget-button" :to="{name: 'Button'}">
            按钮 Button
          </ml-nav-item>
          <ml-nav-item icon="text-highlight" :to="{name: 'Input'}">
            输入框 Input
          </ml-nav-item>
          <ml-nav-item icon="form" :to="{name: 'Label'}">
            标签 Label
          </ml-nav-item>
          <ml-nav-item icon="segmented-control" :to="{name: 'Switch'}">
            开关 Switch
          </ml-nav-item>
          <ml-nav-item icon="tick-circle" :to="{name: 'Checkbox'}">
            多选框 Checkbox
          </ml-nav-item>
          <ml-nav-item icon="selection" :to="{name: 'Radio'}">
            单选框 Radio
          </ml-nav-item>
          <ml-nav-item icon="chevron-down" :to="{name: 'Select'}">
            下拉选择 Select
          </ml-nav-item>
          <ml-nav-item icon="chevron-down" :to="{name: 'Select2'}">
            下拉选择 Select 2
          </ml-nav-item>
          <ml-nav-item icon="calendar" :to="{name: 'DatePicker'}">
            日期选择 Date Picker
          </ml-nav-item>
        </ml-nav-group>
        <ml-nav-group title="组件列表">
          <ml-nav-item icon="user" :to="{name: 'Avatar'}">
            头像 Avatar
          </ml-nav-item>
          <ml-nav-item icon="info-sign" :to="{name: 'Information'}">
            信息 Information
          </ml-nav-item>
          <ml-nav-item icon="more" :to="{name: 'Loading'}">
            加载中 Loading
          </ml-nav-item>
          <ml-nav-item icon="notifications" :to="{name: 'Message'}">
            消息 Message
          </ml-nav-item>
          <ml-nav-item icon="tag" :to="{name: 'Tag'}">
            标签 Tag
          </ml-nav-item>
          <ml-nav-item icon="applications" :to="{name: 'Modal'}">
            模态窗口 Modal
          </ml-nav-item>
          <ml-nav-item icon="chat" :to="{name: 'Popover'}">
            弹出框 Popover
          </ml-nav-item>
          <ml-nav-item icon="menu-list" :to="{name: 'Menu'}">
            菜单 Menu
          </ml-nav-item>
          <ml-nav-item icon="doughnut-chart" :to="{name: 'Progress'}">
            进度 Progress
          </ml-nav-item>
          <ml-nav-item icon="th" :to="{name: 'Table'}">
            表格 Table
          </ml-nav-item>
          <ml-nav-item icon="diagram-tree" :to="{name: 'Tree'}">
            树形 Tree
          </ml-nav-item>
          <ml-nav-item icon="align-left" :to="{name: 'Slider'}">
            滑块 Slider
          </ml-nav-item>
          <ml-nav-item icon="align-left" :to="{name: 'Drawer'}">
            抽屉 Drawer
          </ml-nav-item>
        </ml-nav-group>
        <ml-nav-group title="导航组件">
          <ml-nav-item icon="list-detail-view" :to="{name: 'Tab'}">
            标签页 Tab
          </ml-nav-item>
          <ml-nav-item icon="widget-button" :to="{name: 'Pagination'}">
            分页 Pagination
          </ml-nav-item>
          <ml-nav-item icon="menu" :to="{name: 'Navigation'}">
            侧栏导航 Navigation
          </ml-nav-item>
          <ml-nav-item icon="flows" :to="{name: 'BreadCrumb'}">
            面包屑导航 Bread Crumb
          </ml-nav-item>
        </ml-nav-group>
      </ml-navigation>
    </aside>
    <main class="frame-content">
      <div class="inner-content">
        <router-view/>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data () {
    return {
      collapse: false,
      theme: {
        primary: '#ffffff',
        secondary: '#c7d5e8',
        background: '#07001f',
        active: '#15007d',
        hover: '#15007d',
        selected: '#1b00a0'
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/table';
</style>

<style lang="stylus" scoped>
@import '~@/stylesheets/vars';

.main {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.sidebar {
  width: 240px;
  position: fixed;
  top: 0;
  height: 100vh;

  .logo {
    display: block;
    height: 50px;
    padding: 7px 20px;
    line-height: 30px;
    font-size: 24px;
    background: $dark;
    text-decoration: none;

    .logo-img {
      float: left;
    }

    .logo-text {
      margin-left: 50px;
      font-size: 16px;
      display: block;
      vertical-align: top;
      color: $light;

      .primary-text {
        display: block;
        line-height: 20px;
      }

      small {
        display: block;
        font-size: 12px;
        line-height: 16px;
        color: $gray;
      }
    }
  }
}

.frame-content {
  margin-left: 240px;
  overflow-x: hidden;
  padding: 20px;
  width: 100%;

  .inner-content {
    max-width: 1000px;
    margin: 0 auto;
  }
}
</style>
