<template>
  <div>
    <h1>
      Playground
    </h1>
    <TimePicker v-model="value1"></TimePicker>
    <TimePicker v-model="value1" style="margin-top: 10px" precision="second"></TimePicker>
    <hr>
    <TimePicker v-model="value3" style="margin-top: 10px" precision="second"></TimePicker>
    <!-- <TimePicker v-model="value3" style="margin-top: 10px"></TimePicker> -->
    <TimePicker v-model="value3" style="margin-top: 10px" precision="second"></TimePicker>
  </div>
</template>

<script>
import TimePicker from '@/components/DatePicker/time-picker'
export default {
  components: {
    TimePicker
  },
  data () {
    return {
      value1: new Date(),
      value2: new Date(),
      value3: '12:22:23'
    }
  }
}
</script>

<style>

</style>
