html, body
  margin: 0
  -ms-word-break: break-word
  word-break: break-word
  font: $fontSize / 1.5 $default_font
  color: $dark

[lang|=en] {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Fira Sans","Droid Sans","Helvetica Neue",sans-serif
}

[lang|=ja] {
  font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Verdana,Arial,sans-serif
}

body {
  background: $white
}

a {
  color: $primary
  transition: color 0.3s
  &:visited {
    color: $primary + 30%
  }
  &:hover {
    color: $primary - 20%
  }
  &:active {
    color: $primary + 30%
  }
}

.ml-dark {
  body {
    background $dark
  }
}

:focus {
  outline: 2px auto alpha($primary,.6);
  outline-offset: 2px;
  -moz-outline-radius: 6px
}

.clearfix:after,.clearfix:before{
  display: table;
  content: " "
}

.clearfix:after{
  clear: both
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: $primary + 50%
  color: $white;
}

img{
  max-width 100%
}

pre{
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  overflow-y auto
}

blockquote{
  padding: 0 0 0 16px;
  margin: 0 0 30px;
  border-left: 3px solid $dark + 30%;
  font-size: 18px;
  color: $dark;
}

ul{
  &.standard{
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }
  &.bare{
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.hide{
  display: none;
}
.pull-left{
  float: left
}
.pull-right{
  float: right
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid $secondary;
}

.align-left{
  flex: auto;
  text-align: left;
}
.align-right{
  flex: auto;
  text-align: right;
}
.align-center{
  flex: auto;
  text-align: center;
}
.position-relative{
  position: relative
}
.position-absolute{
  position: absolute
}

for $direction in top bottom left right {
  .margin-{$direction} {
    margin-{$direction}: 10px;
    &.double {
      margin-{$direction}: 20px
    }
    &.triple {
      margin-{$direction}: 30px
    }
  }
}

.border-right{
  position: relative;
  &:after{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    content: "";
    width: 0;
    border-right: 1px solid #eaeefb;
  }
}

.border-left{
  position: relative;
  &:after{
    position: absolute;
    height: 100%;
    left: -1px;
    top: 0;
    content: "";
    width: 0;
    border-left: 1px solid #eaeefb;
  }
}

input {
  &::-webkit-input-placeholder {
  color: $gray;
  }
  &::-moz-placeholder {
    color: $gray;
  }
  &:-ms-input-placeholder {
    color: $gray;
  }
  &:-moz-placeholder {
    color: $gray;
  }
}

hr.ml-hr {
  border: 0;
  border-bottom: 1px solid $light
  margin: 30px 0;
}

.ml-scroll {
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color:transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: alpha($gray, 0.3);
  }
}

.ml-inline-block {
  display inline-block;
}
