.zoom-in-top-enter-active,
.zoom-in-top-leave-active {
  opacity: 1;
  transition: all 0.1s cubic-bezier(.645,.045,.355,1);
  transform-origin: center top;
}
.zoom-in-top-enter,
.zoom-in-top-leave-active {
  opacity: 0;
}

.ml-picker-panel-sidebar {
    position: absolute;
    background: $white;
    width: 110px;
    height: 100%;
    border-right: 1px solid $light + 20%;
    box-sizing: border-box;
    padding-top: 7px;
    cursor: default;
    span {
        display: block;
        color: $dark;
        font-size: $fontSize;
        line-height: 28px;
        text-align: left;
        padding-left: 12px;
        cursor: pointer;
        &:hover {
            color: $primary;
        }
    }
}

// 日期选择 -- start
.ml-date-wrap {
    position: relative;
    display: inline-block;
    vertical-align: top;
    user-select: none;
    min-width: 150px;
    height: 32px;
    box-sizing: border-box;
    cursor: pointer;
    // background: $white;
    // border-radius: 4px;
    // border: 1px solid $light;
    &:hover {
        border-color: $light;
    }
    &.is-disabled {
        background: $light;
        cursor: not-allowed;
        &:hover {
            border-color: $light;
        }
        .ml-picker-trigger {
            cursor: not-allowed;
        }
    }
    &.ml-date-wrap-fill {
        width: 100%;
    }
    .ml-picker-trigger {
        position: relative;
        display: block;
        height: 32px;
        line-height: 32px;
        padding-right: 20px;
        padding-left: 12px;
        font-size: $fontSize;
        cursor: pointer;
        margin: 0;
        overflow: hidden;
        &.empty-text {
            color: $light
        }
    }
    .ml-date-clear {
        position: absolute;
        top: 50%;
        right: 21px;
        transform: translateY(-50%);
    }
}

.ml-picker-panel-wrap {
    position: fixed;
    z-index: 10001;
    border-radius: 2px;
    background-color: $white;
    box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.1), 0 8px 24px rgba(16,22,26,.1);
    transform: scale(1);
    box-sizing: border-box;
    margin: 5px 0px;
    padding: 0;
    overflow: hidden;
}

.ml-picker-panel {
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ml-picker-panel-header {
    position: relative;
    margin-top: 5px;
    padding: 8px 8px 0 8px;
    text-align: center;
    .ml-picker-header-label {
        font-size: $fontSize;
        color: $dark;
        cursor: default;
        span:last-child {
            padding-left: 3px;
            font-weight: bold;
        }
    }
}

.ml-picker-header-toggle {
    position: absolute;
    z-index: 2;
    top: 8px;
    width: 45px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    font-size: $fontSize;
    user-select none;
    &.ml-picker-header-toggle-prev {
        left: 12px;
        text-align: left;
        .ml-svg-icon-container {
            width: 20px;
            height: 20px;
            .ml-svg-icon {
                width: 20px;
            }
        }
    }
    &.ml-picker-header-toggle-next {
        right: 12px;
        text-align: right;
        .ml-svg-icon-container {
            width: 20px;
            height: 20px;
            .ml-svg-icon {
                width: 20px;
            }
        }
    }
}

.ml-picker-panel-week-label {
    position: relative;
    cursor: default;
    span {
        display: table-cell;
        box-sizing: border-box;
        font-size: 12px;
        text-align: center;
        color: $dark + 20%;
        font-weight: 400;
        border-bottom: 1px solid $light;
    }
}

.ml-picker-panel-content {
    position: relative;
    padding: 10px 8px;
}

.ml-picker-panel-week-label span, .ml-picker-panel-day, .ml-picker-panel-range-day {
    padding: 4px;
}

.ml-picker-panel-table {
    display: table;
    // width: 100%;
    table-layout: fixed;
    // margin-top: 5px;
    .ml-picker-panel-table-row {
        display: table-row;
    }
    .ml-picker-panel-table-cell {
        display: table-cell;
    }
}

.ml-picker-panel-day {
    font-size: $fontSize;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    &.next-month, &.prev-month {
        color: $light
    }
    &.normal {
        color: $dark;
        &:hover {
            color: $primary;
        }
    }
    &.today {
        color: $primary;
    }
    span {
        display: block;
        text-align: center;
        width: 24px;
        height: 24px;
        line-height: 24px;
    }
    &.selected span {
        color: $white;
        background: $primary;
        border-radius: 50%;
    }
    &.disabled {
        background-color: $light;
        opacity: 1;
        cursor: not-allowed;
        color: $gray;
        border-radius: 0;
        &:hover {
            color: $gray;
            background-color: $light;
        }
        span {
            color: $gray;
            background: $light;
            border-radius: 0;
        }
        &.selected span {
            color: $white;
            background: $primary;
            border-radius: 50%;
        }
    }
}

// 日期范围选择
.ml-date-range-wrap {
    min-width: 215px;
}

.ml-picker-range-panel-wrap {
    font-size: 0;
    box-sizing: border-box;
    white-space: nowrap;
}

.ml-picker-range-panel {
    position: relative;
    // width: 50%;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: $fontSize;
    box-sizing: border-box;
    overflow: hidden;
    &.ml-picker-range-left-panel {
        border-right: 1px solid $light; 
    }
    &.ml-picker-range-right-panel {

    }
}

.ml-picker-panel-range-day {
    font-size: $fontSize;
    text-align: center;
    font-weight: 400;
    &.next-month, &.prev-month {
        color: $light;
        cursor: default;
    }
    &.normal {
        color: $dark;
        cursor: pointer;
        &:hover {
            color: $primary;
        }
    }
    &.today {
        color: $primary;
    }
    span {
        display: block;
        text-align: center;
        width: 24px;
        height: 24px;
        line-height: 24px;
    }
    &.in-range {
        background-color: $primary + 85%;
    }
    &.start-date, &.end-date {
        span {
            color: $white;
            background: $primary;
            border-radius: 50%;
        }
    }
    &.start-date {
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;
    }
    &.end-date {
        border-top-right-radius: 22px;
        border-bottom-right-radius: 22px;
    }
    &.disabled {
        background-color: $light;
        opacity: 1;
        cursor: not-allowed;
        color: $gray;
        border-radius: 0;
        &:hover {
            color: $gray;
            background-color: $light;
        }
        span {
            color: $gray;
            background: $light;
            border-radius: 0;
        }
        &.start-date, &.end-date {
            span {
                color: $white;
                background: $primary;
                border-radius: 50%;
            }
        }
    }
}