@font-face {
  font-family: 'ml-icon-16';
  src:  url('~@/stylesheets/fonts/icons/icons-16.eot?el9h1m');
  src:  url('~@/stylesheets/fonts/icons/icons-16.eot?el9h1m#iefix') format('embedded-opentype'),
    url('~@/stylesheets/fonts/icons/icons-16.ttf?el9h1m') format('truetype'),
    url('~@/stylesheets/fonts/icons/icons-16.woff?el9h1m') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'ml-icon-20';
  src:  url('~@/stylesheets/fonts/icons/icons-20.eot?el9h1m');
  src:  url('~@/stylesheets/fonts/icons/icons-20.eot?el9h1m#iefix') format('embedded-opentype'),
    url('~@/stylesheets/fonts/icons/icons-20.ttf?el9h1m') format('truetype'),
    url('~@/stylesheets/fonts/icons/icons-20.woff?el9h1m') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

[class^="ml-icon-"], [class*=" ml-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ml-icon-16' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align top;
  &.large {
    font-family: 'ml-icon-20' !important;
  }
  &.rotate {
    animation: rotating 2s linear infinite;
  }
}



.ml-icon-blank:before {
  content: '\e900'
}
.ml-icon-style:before {
  content: '\e601'
}
.ml-icon-align-left:before {
  content: '\e602'
}
.ml-icon-align-center:before {
  content: '\e603'
}
.ml-icon-align-right:before {
  content: '\e604'
}
.ml-icon-align-justify:before {
  content: '\e605'
}
.ml-icon-bold:before {
  content: '\e606'
}
.ml-icon-italic:before {
  content: '\e607'
}
.ml-icon-underline:before {
  content: '\2381'
}
.ml-icon-search-around:before {
  content: '\e608'
}
.ml-icon-graph-remove:before {
  content: '\e609'
}
.ml-icon-group-objects:before {
  content: '\e60a'
}
.ml-icon-merge-links:before {
  content: '\e60b'
}
.ml-icon-layout:before {
  content: '\e60c'
}
.ml-icon-layout-auto:before {
  content: '\e60d'
}
.ml-icon-layout-circle:before {
  content: '\e60e'
}
.ml-icon-layout-hierarchy:before {
  content: '\e60f'
}
.ml-icon-layout-grid:before {
  content: '\e610'
}
.ml-icon-layout-group-by:before {
  content: '\e611'
}
.ml-icon-layout-skew-grid:before {
  content: '\e612'
}
.ml-icon-geosearch:before {
  content: '\e613'
}
.ml-icon-heatmap:before {
  content: '\e614'
}
.ml-icon-drive-time:before {
  content: '\e615'
}
.ml-icon-select:before {
  content: '\e616'
}
.ml-icon-predictive-analysis:before {
  content: '\e617'
}
.ml-icon-layers:before {
  content: '\e618'
}
.ml-icon-locate:before {
  content: '\e619'
}
.ml-icon-bookmark:before {
  content: '\e61a'
}
.ml-icon-citation:before {
  content: '\e61b'
}
.ml-icon-tag:before {
  content: '\e61c'
}
.ml-icon-clipboard:before {
  content: '\e61d'
}
.ml-icon-selection:before {
  content: '\29bf'
}
.ml-icon-timeline-events:before {
  content: '\e61e'
}
.ml-icon-timeline-line-chart:before {
  content: '\e61f'
}
.ml-icon-timeline-bar-chart:before {
  content: '\e620'
}
.ml-icon-applications:before {
  content: '\e621'
}
.ml-icon-projects:before {
  content: '\e622'
}
.ml-icon-changes:before {
  content: '\e623'
}
.ml-icon-notifications:before {
  content: '\e624'
}
.ml-icon-lock:before {
  content: '\e625'
}
.ml-icon-unlock:before {
  content: '\e626'
}
.ml-icon-user:before {
  content: '\e627'
}
.ml-icon-search-template:before {
  content: '\e628'
}
.ml-icon-inbox:before {
  content: '\e629'
}
.ml-icon-more:before {
  content: '\e62a'
}
.ml-icon-help:before {
  content: '\003F'
}
.ml-icon-calendar:before {
  content: '\e62b'
}
.ml-icon-media:before {
  content: '\e62c'
}
.ml-icon-link:before {
  content: '\e62d'
}
.ml-icon-share:before {
  content: '\e62e'
}
.ml-icon-download:before {
  content: '\e62f'
}
.ml-icon-document:before {
  content: '\e630'
}
.ml-icon-properties:before {
  content: '\e631'
}
.ml-icon-import:before {
  content: '\e632'
}
.ml-icon-export:before {
  content: '\e633'
}
.ml-icon-minimize:before {
  content: '\e634'
}
.ml-icon-maximize:before {
  content: '\e635'
}
.ml-icon-tick:before {
  content: '\2713'
}
.ml-icon-cross:before {
  content: '\2717'
}
.ml-icon-plus:before {
  content: '\002b'
}
.ml-icon-minus:before {
  content: '\2212'
}
.ml-icon-arrow-left:before {
  content: '\2190'
}
.ml-icon-arrow-right:before {
  content: '\2192'
}
.ml-icon-exchange:before {
  content: '\e636'
}
.ml-icon-comparison:before {
  content: '\e637'
}
.ml-icon-list:before {
  content: '\2630'
}
.ml-icon-filter:before {
  content: '\e638'
}
.ml-icon-confirm:before {
  content: '\e639'
}
.ml-icon-fork:before {
  content: '\e63a'
}
.ml-icon-trash:before {
  content: '\e63b'
}
.ml-icon-person:before {
  content: '\e63c'
}
.ml-icon-people:before {
  content: '\e63d'
}
.ml-icon-add:before {
  content: '\e63e'
}
.ml-icon-remove:before {
  content: '\e63f'
}
.ml-icon-geolocation:before {
  content: '\e640'
}
.ml-icon-zoom-in:before {
  content: '\e641'
}
.ml-icon-zoom-out:before {
  content: '\e642'
}
.ml-icon-refresh:before {
  content: '\e643'
}
.ml-icon-delete:before {
  content: '\e644'
}
.ml-icon-cog:before {
  content: '\e645'
}
.ml-icon-flag:before {
  content: '\2691'
}
.ml-icon-pin:before {
  content: '\e646'
}
.ml-icon-warning-sign:before {
  content: '\e647'
}
.ml-icon-error:before {
  content: '\e648'
}
.ml-icon-info-sign:before {
  content: '\2139'
}
.ml-icon-credit-card:before {
  content: '\e649'
}
.ml-icon-edit:before {
  content: '\270E'
}
.ml-icon-history:before {
  content: '\e64a'
}
.ml-icon-search:before {
  content: '\e64b'
}
.ml-icon-log-out:before {
  content: '\e64c'
}
.ml-icon-star:before {
  content: '\2605'
}
.ml-icon-star-empty:before {
  content: '\2606'
}
.ml-icon-sort-alphabetical:before {
  content: '\e64d'
}
.ml-icon-sort-numerical:before {
  content: '\e64e'
}
.ml-icon-sort:before {
  content: '\e64f'
}
.ml-icon-folder-open:before {
  content: '\e651'
}
.ml-icon-folder-close:before {
  content: '\e652'
}
.ml-icon-folder-shared:before {
  content: '\e653'
}
.ml-icon-caret-up:before {
  content: '\2303'
}
.ml-icon-caret-right:before {
  content: '\232A'
}
.ml-icon-caret-down:before {
  content: '\2304'
}
.ml-icon-caret-left:before {
  content: '\2329'
}
.ml-icon-menu-open:before {
  content: '\e654'
}
.ml-icon-menu-closed:before {
  content: '\e655'
}
.ml-icon-feed:before {
  content: '\e656'
}
.ml-icon-two-columns:before {
  content: '\e657'
}
.ml-icon-one-column:before {
  content: '\e658'
}
.ml-icon-dot:before {
  content: '\2022'
}
.ml-icon-property:before {
  content: '\e65a'
}
.ml-icon-time:before {
  content: '\23F2'
}
.ml-icon-disable:before {
  content: '\e600'
}
.ml-icon-unpin:before {
  content: '\e650'
}
.ml-icon-flows:before {
  content: '\e659'
}
.ml-icon-new-text-box:before {
  content: '\e65b'
}
.ml-icon-new-link:before {
  content: '\e65c'
}
.ml-icon-new-object:before {
  content: '\e65d'
}
.ml-icon-path-search:before {
  content: '\e65e'
}
.ml-icon-automatic-updates:before {
  content: '\e65f'
}
.ml-icon-page-layout:before {
  content: '\e660'
}
.ml-icon-code:before {
  content: '\e661'
}
.ml-icon-map:before {
  content: '\e662'
}
.ml-icon-search-text:before {
  content: '\e663'
}
.ml-icon-envelope:before {
  content: '\2709'
}
.ml-icon-paperclip:before {
  content: '\e664'
}
.ml-icon-label:before {
  content: '\e665'
}
.ml-icon-globe:before {
  content: '\e666'
}
.ml-icon-home:before {
  content: '\2302'
}
.ml-icon-th:before {
  content: '\e667'
}
.ml-icon-th-list:before {
  content: '\e668'
}
.ml-icon-th-derived:before {
  content: '\e669'
}
.ml-icon-circle:before {
  content: '\e66a'
}
.ml-icon-draw:before {
  content: '\e66b'
}
.ml-icon-insert:before {
  content: '\e66c'
}
.ml-icon-helper-management:before {
  content: '\e66d'
}
.ml-icon-send-to:before {
  content: '\e66e'
}
.ml-icon-eye-open:before {
  content: '\e66f'
}
.ml-icon-folder-shared-open:before {
  content: '\e670'
}
.ml-icon-social-media:before {
  content: '\e671'
}
.ml-icon-arrow-up:before {
  content: '\2191 '
}
.ml-icon-arrow-down:before {
  content: '\2193 '
}
.ml-icon-arrows-horizontal:before {
  content: '\2194 '
}
.ml-icon-arrows-vertical:before {
  content: '\2195 '
}
.ml-icon-resolve:before {
  content: '\e672'
}
.ml-icon-graph:before {
  content: '\e673'
}
.ml-icon-briefcase:before {
  content: '\e674'
}
.ml-icon-dollar:before {
  content: '\0024'
}
.ml-icon-ninja:before {
  content: '\e675'
}
.ml-icon-delta:before {
  content: '\0394'
}
.ml-icon-barcode:before {
  content: '\e676'
}
.ml-icon-torch:before {
  content: '\e677'
}
.ml-icon-widget:before {
  content: '\e678'
}
.ml-icon-unresolve:before {
  content: '\e679'
}
.ml-icon-offline:before {
  content: '\e67a'
}
.ml-icon-zoom-to-fit:before {
  content: '\e67b'
}
.ml-icon-add-to-artifact:before {
  content: '\e67c'
}
.ml-icon-map-marker:before {
  content: '\e67d'
}
.ml-icon-chart:before {
  content: '\e67e'
}
.ml-icon-control:before {
  content: '\e67f'
}
.ml-icon-multi-select:before {
  content: '\e680'
}
.ml-icon-direction-left:before {
  content: '\e681'
}
.ml-icon-direction-right:before {
  content: '\e682'
}
.ml-icon-database:before {
  content: '\e683'
}
.ml-icon-pie-chart:before {
  content: '\e684'
}
.ml-icon-full-circle:before {
  content: '\e685'
}
.ml-icon-square:before {
  content: '\e686'
}
.ml-icon-print:before {
  content: '\2399'
}
.ml-icon-presentation:before {
  content: '\e687'
}
.ml-icon-ungroup-objects:before {
  content: '\e688'
}
.ml-icon-chat:before {
  content: '\e689'
}
.ml-icon-comment:before {
  content: '\e68a'
}
.ml-icon-circle-arrow-right:before {
  content: '\e68b'
}
.ml-icon-circle-arrow-left:before {
  content: '\e68c'
}
.ml-icon-circle-arrow-up:before {
  content: '\e68d'
}
.ml-icon-circle-arrow-down:before {
  content: '\e68e'
}
.ml-icon-upload:before {
  content: '\e68f'
}
.ml-icon-asterisk:before {
  content: '\002a'
}
.ml-icon-cloud:before {
  content: '\2601'
}
.ml-icon-cloud-download:before {
  content: '\e690'
}
.ml-icon-cloud-upload:before {
  content: '\e691'
}
.ml-icon-repeat:before {
  content: '\e692'
}
.ml-icon-move:before {
  content: '\e693'
}
.ml-icon-chevron-left:before {
  content: '\e694'
}
.ml-icon-chevron-right:before {
  content: '\e695'
}
.ml-icon-chevron-up:before {
  content: '\e696'
}
.ml-icon-chevron-down:before {
  content: '\e697'
}
.ml-icon-random:before {
  content: '\e698'
}
.ml-icon-fullscreen:before {
  content: '\e699'
}
.ml-icon-log-in:before {
  content: '\e69a'
}
.ml-icon-heart:before {
  content: '\2665'
}
.ml-icon-office:before {
  content: '\e69b'
}
.ml-icon-duplicate:before {
  content: '\e69c'
}
.ml-icon-ban-circle:before {
  content: '\e69d'
}
.ml-icon-camera:before {
  content: '\e69e'
}
.ml-icon-mobile-video:before {
  content: '\e69f'
}
.ml-icon-video:before {
  content: '\e6a0'
}
.ml-icon-film:before {
  content: '\e6a1'
}
.ml-icon-settings:before {
  content: '\e6a2'
}
.ml-icon-volume-off:before {
  content: '\e6a3'
}
.ml-icon-volume-down:before {
  content: '\e6a4'
}
.ml-icon-volume-up:before {
  content: '\e6a5'
}
.ml-icon-music:before {
  content: '\e6a6'
}
.ml-icon-step-backward:before {
  content: '\e6a7'
}
.ml-icon-fast-backward:before {
  content: '\e6a8'
}
.ml-icon-pause:before {
  content: '\e6a9'
}
.ml-icon-stop:before {
  content: '\e6aa'
}
.ml-icon-play:before {
  content: '\e6ab'
}
.ml-icon-fast-forward:before {
  content: '\e6ac'
}
.ml-icon-step-forward:before {
  content: '\e6ad'
}
.ml-icon-eject:before {
  content: '\23cf'
}
.ml-icon-record:before {
  content: '\e6ae'
}
.ml-icon-desktop:before {
  content: '\e6af'
}
.ml-icon-phone:before {
  content: '\260e'
}
.ml-icon-lightbulb:before {
  content: '\e6b0'
}
.ml-icon-glass:before {
  content: '\e6b1'
}
.ml-icon-tint:before {
  content: '\e6b2'
}
.ml-icon-flash:before {
  content: '\e6b3'
}
.ml-icon-font:before {
  content: '\e6b4'
}
.ml-icon-header:before {
  content: '\e6b5'
}
.ml-icon-saved:before {
  content: '\e6b6'
}
.ml-icon-floppy-disk:before {
  content: '\e6b7'
}
.ml-icon-book:before {
  content: '\e6b8'
}
.ml-icon-hand-right:before {
  content: '\e6b9'
}
.ml-icon-hand-up:before {
  content: '\e6ba'
}
.ml-icon-hand-down:before {
  content: '\e6bb'
}
.ml-icon-hand-left:before {
  content: '\e6bc'
}
.ml-icon-thumbs-up:before {
  content: '\e6bd'
}
.ml-icon-thumbs-down:before {
  content: '\e6be'
}
.ml-icon-box:before {
  content: '\e6bf'
}
.ml-icon-compressed:before {
  content: '\e6c0'
}
.ml-icon-shopping-cart:before {
  content: '\e6c1'
}
.ml-icon-shop:before {
  content: '\e6c2'
}
.ml-icon-layout-linear:before {
  content: '\e6c3'
}
.ml-icon-undo:before {
  content: '\238c'
}
.ml-icon-redo:before {
  content: '\e6c4'
}
.ml-icon-code-block:before {
  content: '\e6c5'
}
.ml-icon-double-caret-vertical:before {
  content: '\e6c6'
}
.ml-icon-double-caret-horizontal:before {
  content: '\e6c7'
}
.ml-icon-sort-alphabetical-desc:before {
  content: '\e6c8'
}
.ml-icon-sort-numerical-desc:before {
  content: '\e6c9'
}
.ml-icon-take-action:before {
  content: '\e6ca'
}
.ml-icon-contrast:before {
  content: '\e6cb'
}
.ml-icon-eye-off:before {
  content: '\e6cc'
}
.ml-icon-timeline-area-chart:before {
  content: '\e6cd'
}
.ml-icon-doughnut-chart:before {
  content: '\e6ce'
}
.ml-icon-layer:before {
  content: '\e6cf'
}
.ml-icon-grid:before {
  content: '\e6d0'
}
.ml-icon-polygon-filter:before {
  content: '\e6d1'
}
.ml-icon-add-to-folder:before {
  content: '\e6d2'
}
.ml-icon-layout-balloon:before {
  content: '\e6d3'
}
.ml-icon-layout-sorted-clusters:before {
  content: '\e6d4'
}
.ml-icon-sort-asc:before {
  content: '\e6d5'
}
.ml-icon-sort-desc:before {
  content: '\e6d6'
}
.ml-icon-small-cross:before {
  content: '\e6d7'
}
.ml-icon-small-tick:before {
  content: '\e6d8'
}
.ml-icon-power:before {
  content: '\e6d9'
}
.ml-icon-column-layout:before {
  content: '\e6da'
}
.ml-icon-arrow-top-left:before {
  content: '\2196'
}
.ml-icon-arrow-top-right:before {
  content: '\2197'
}
.ml-icon-arrow-bottom-right:before {
  content: '\2198'
}
.ml-icon-arrow-bottom-left:before {
  content: '\2199'
}
.ml-icon-mugshot:before {
  content: '\e6db'
}
.ml-icon-headset:before {
  content: '\e6dc'
}
.ml-icon-text-highlight:before {
  content: '\e6dd'
}
.ml-icon-hand:before {
  content: '\e6de'
}
.ml-icon-chevron-backward:before {
  content: '\e6df'
}
.ml-icon-chevron-forward:before {
  content: '\e6e0'
}
.ml-icon-rotate-document:before {
  content: '\e6e1'
}
.ml-icon-rotate-page:before {
  content: '\e6e2'
}
.ml-icon-badge:before {
  content: '\e6e3'
}
.ml-icon-grid-view:before {
  content: '\e6e4'
}
.ml-icon-function:before {
  content: '\e6e5'
}
.ml-icon-waterfall-chart:before {
  content: '\e6e6'
}
.ml-icon-stacked-chart:before {
  content: '\e6e7'
}
.ml-icon-pulse:before {
  content: '\e6e8'
}
.ml-icon-new-person:before {
  content: '\e6e9'
}
.ml-icon-exclude-row:before {
  content: '\e6ea'
}
.ml-icon-pivot-table:before {
  content: '\e6eb'
}
.ml-icon-segmented-control:before {
  content: '\e6ec'
}
.ml-icon-highlight:before {
  content: '\e6ed'
}
.ml-icon-filter-list:before {
  content: '\e6ee'
}
.ml-icon-cut:before {
  content: '\e6ef'
}
.ml-icon-annotation:before {
  content: '\e6f0'
}
.ml-icon-pivot:before {
  content: '\e6f1'
}
.ml-icon-ring:before {
  content: '\e6f2'
}
.ml-icon-heat-grid:before {
  content: '\e6f3'
}
.ml-icon-gantt-chart:before {
  content: '\e6f4'
}
.ml-icon-variable:before {
  content: '\e6f5'
}
.ml-icon-manual:before {
  content: '\e6f6'
}
.ml-icon-add-row-top:before {
  content: '\e6f7'
}
.ml-icon-add-row-bottom:before {
  content: '\e6f8'
}
.ml-icon-add-column-left:before {
  content: '\e6f9'
}
.ml-icon-add-column-right:before {
  content: '\e6fa'
}
.ml-icon-remove-row-top:before {
  content: '\e6fb'
}
.ml-icon-remove-row-bottom:before {
  content: '\e6fc'
}
.ml-icon-remove-column-left:before {
  content: '\e6fd'
}
.ml-icon-remove-column-right:before {
  content: '\e6fe'
}
.ml-icon-double-chevron-left:before {
  content: '\e6ff'
}
.ml-icon-double-chevron-right:before {
  content: '\e701'
}
.ml-icon-double-chevron-up:before {
  content: '\e702'
}
.ml-icon-double-chevron-down:before {
  content: '\e703'
}
.ml-icon-key-control:before {
  content: '\e704'
}
.ml-icon-key-command:before {
  content: '\e705'
}
.ml-icon-key-shift:before {
  content: '\e706'
}
.ml-icon-key-backspace:before {
  content: '\e707'
}
.ml-icon-key-delete:before {
  content: '\e708'
}
.ml-icon-key-escape:before {
  content: '\e709'
}
.ml-icon-key-enter:before {
  content: '\e70a'
}
.ml-icon-calculator:before {
  content: '\e70b'
}
.ml-icon-horizontal-bar-chart:before {
  content: '\e70c'
}
.ml-icon-small-plus:before {
  content: '\e70d'
}
.ml-icon-small-minus:before {
  content: '\e70e'
}
.ml-icon-step-chart:before {
  content: '\e70f'
}
.ml-icon-euro:before {
  content: '\20ac'
}
.ml-icon-drag-handle-vertical:before {
  content: '\e715'
}
.ml-icon-drag-handle-horizontal:before {
  content: '\e716'
}
.ml-icon-mobile-phone:before {
  content: '\e717'
}
.ml-icon-sim-card:before {
  content: '\e718'
}
.ml-icon-trending-up:before {
  content: '\e719'
}
.ml-icon-trending-down:before {
  content: '\e71a'
}
.ml-icon-curved-range-chart:before {
  content: '\e71b'
}
.ml-icon-vertical-bar-chart-desc:before {
  content: '\e71c'
}
.ml-icon-horizontal-bar-chart-desc:before {
  content: '\e71d'
}
.ml-icon-document-open:before {
  content: '\e71e'
}
.ml-icon-document-share:before {
  content: '\e71f'
}
.ml-icon-horizontal-distribution:before {
  content: '\e720'
}
.ml-icon-vertical-distribution:before {
  content: '\e721'
}
.ml-icon-alignment-left:before {
  content: '\e722'
}
.ml-icon-alignment-vertical-center:before {
  content: '\e723'
}
.ml-icon-alignment-right:before {
  content: '\e724'
}
.ml-icon-alignment-top:before {
  content: '\e725'
}
.ml-icon-alignment-horizontal-center:before {
  content: '\e726'
}
.ml-icon-alignment-bottom:before {
  content: '\e727'
}
.ml-icon-git-pull:before {
  content: '\e728'
}
.ml-icon-git-merge:before {
  content: '\e729'
}
.ml-icon-git-branch:before {
  content: '\e72a'
}
.ml-icon-git-commit:before {
  content: '\e72b'
}
.ml-icon-git-push:before {
  content: '\e72c'
}
.ml-icon-build:before {
  content: '\e72d'
}
.ml-icon-symbol-circle:before {
  content: '\e72e'
}
.ml-icon-symbol-square:before {
  content: '\e72f'
}
.ml-icon-symbol-diamond:before {
  content: '\e730'
}
.ml-icon-symbol-cross:before {
  content: '\e731'
}
.ml-icon-symbol-triangle-up:before {
  content: '\e732'
}
.ml-icon-symbol-triangle-down:before {
  content: '\e733'
}
.ml-icon-wrench:before {
  content: '\e734'
}
.ml-icon-application:before {
  content: '\e735'
}
.ml-icon-send-to-graph:before {
  content: '\e736'
}
.ml-icon-send-to-map:before {
  content: '\e737'
}
.ml-icon-join-table:before {
  content: '\e738'
}
.ml-icon-derive-column:before {
  content: '\e739'
}
.ml-icon-image-rotate-left:before {
  content: '\e73a'
}
.ml-icon-image-rotate-right:before {
  content: '\e73b'
}
.ml-icon-known-vehicle:before {
  content: '\e73c'
}
.ml-icon-unknown-vehicle:before {
  content: '\e73d'
}
.ml-icon-scatter-plot:before {
  content: '\e73e'
}
.ml-icon-oil-field:before {
  content: '\e73f'
}
.ml-icon-rig:before {
  content: '\e740'
}
.ml-icon-map-create:before {
  content: '\e741'
}
.ml-icon-key-option:before {
  content: '\e742'
}
.ml-icon-list-detail-view:before {
  content: '\e743'
}
.ml-icon-swap-vertical:before {
  content: '\e744'
}
.ml-icon-swap-horizontal:before {
  content: '\e745'
}
.ml-icon-numbered-list:before {
  content: '\e746'
}
.ml-icon-new-grid-item:before {
  content: '\e747'
}
.ml-icon-git-repo:before {
  content: '\e748'
}
.ml-icon-git-new-branch:before {
  content: '\e749'
}
.ml-icon-manually-entered-data:before {
  content: '\e74a'
}
.ml-icon-airplane:before {
  content: '\e74b'
}
.ml-icon-merge-columns:before {
  content: '\e74f'
}
.ml-icon-split-columns:before {
  content: '\e750'
}
.ml-icon-dashboard:before {
  content: '\e751'
}
.ml-icon-publish-function:before {
  content: '\e752'
}
.ml-icon-path:before {
  content: '\e753'
}
.ml-icon-moon:before {
  content: '\e754'
}
.ml-icon-remove-column:before {
  content: '\e755'
}
.ml-icon-numerical:before {
  content: '\e756'
}
.ml-icon-key-tab:before {
  content: '\e757'
}
.ml-icon-regression-chart:before {
  content: '\e758'
}
.ml-icon-translate:before {
  content: '\e759'
}
.ml-icon-eye-on:before {
  content: '\e75a'
}
.ml-icon-vertical-bar-chart-asc:before {
  content: '\e75b'
}
.ml-icon-horizontal-bar-chart-asc:before {
  content: '\e75c'
}
.ml-icon-grouped-bar-chart:before {
  content: '\e75d'
}
.ml-icon-full-stacked-chart:before {
  content: '\e75e'
}
.ml-icon-endorsed:before {
  content: '\e75f'
}
.ml-icon-follower:before {
  content: '\e760'
}
.ml-icon-following:before {
  content: '\e761'
}
.ml-icon-menu:before {
  content: '\e762'
}
.ml-icon-collapse-all:before {
  content: '\e763'
}
.ml-icon-expand-all:before {
  content: '\e764'
}
.ml-icon-intersection:before {
  content: '\e765'
}
.ml-icon-blocked-person:before {
  content: '\e768'
}
.ml-icon-slash:before {
  content: '\e769'
}
.ml-icon-percentage:before {
  content: '\e76a'
}
.ml-icon-satellite:before {
  content: '\e76b'
}
.ml-icon-paragraph:before {
  content: '\e76c'
}
.ml-icon-bank-account:before {
  content: '\e76f'
}
.ml-icon-cell-tower:before {
  content: '\e770'
}
.ml-icon-id-number:before {
  content: '\e771'
}
.ml-icon-ip-address:before {
  content: '\e772'
}
.ml-icon-eraser:before {
  content: '\e773'
}
.ml-icon-issue:before {
  content: '\e774'
}
.ml-icon-issue-new:before {
  content: '\e775'
}
.ml-icon-issue-closed:before {
  content: '\e776'
}
.ml-icon-panel-stats:before {
  content: '\e777'
}
.ml-icon-panel-table:before {
  content: '\e778'
}
.ml-icon-tick-circle:before {
  content: '\e779'
}
.ml-icon-prescription:before {
  content: '\e78a'
}
.ml-icon-new-prescription:before {
  content: '\e78b'
}
.ml-icon-filter-keep:before {
  content: '\e78c'
}
.ml-icon-filter-remove:before {
  content: '\e78d'
}
.ml-icon-key:before {
  content: '\e78e'
}
.ml-icon-feed-subscribed:before {
  content: '\e78f'
}
.ml-icon-widget-button:before {
  content: '\e790'
}
.ml-icon-widget-header:before {
  content: '\e791'
}
.ml-icon-widget-footer:before {
  content: '\e792'
}
.ml-icon-header-one:before {
  content: '\e793'
}
.ml-icon-header-two:before {
  content: '\e794'
}
.ml-icon-form:before {
  content: '\e795'
}
.ml-icon-series-add:before {
  content: '\e796'
}
.ml-icon-series-search:before {
  content: '\e797'
}
.ml-icon-series-filtered:before {
  content: '\e798'
}
.ml-icon-series-derived:before {
  content: '\e799'
}
.ml-icon-series-configuration:before {
  content: '\e79a'
}
.ml-icon-console:before {
  content: '\e79b'
}
.ml-icon-compass:before {
  content: '\e79c'
}
.ml-icon-walk:before {
  content: '\e79d'
}
.ml-icon-taxi:before {
  content: '\e79e'
}
.ml-icon-train:before {
  content: '\e79f'
}
.ml-icon-heart-broken:before {
  content: '\e7a2'
}
.ml-icon-inner-join:before {
  content: '\e7a3'
}
.ml-icon-left-join:before {
  content: '\e7a4'
}
.ml-icon-right-join:before {
  content: '\e7a5'
}
.ml-icon-strikethrough:before {
  content: '\e7a6'
}
.ml-icon-updated:before {
  content: '\e7a7'
}
.ml-icon-outdated:before {
  content: '\e7a8'
}
.ml-icon-flame:before {
  content: '\e7a9'
}
.ml-icon-folder-new:before {
  content: '\e7b0'
}
.ml-icon-mountain:before {
  content: '\e7b1'
}
.ml-icon-shield:before {
  content: '\e7b2'
}
.ml-icon-diagram-tree:before {
  content: '\e7b3'
}
.ml-icon-crown:before {
  content: '\e7b4'
}
.ml-icon-globe-network:before {
  content: '\e7b5'
}
.ml-icon-snowflake:before {
  content: '\e7b6'
}
.ml-icon-tree:before {
  content: '\e7b7'
}
.ml-icon-notifications-updated:before {
  content: '\e7b8'
}

@keyframes rotating {
  0% {
    transform:rotate(0deg)
  }
  to {
    transform:rotate(1turn)
  }
}