// Grid System
.ml-row
  margin: 0
  position: relative
  box-sizing: border-box
  width: 100%
  > [class^="span-"], [class*=" span-"]{
    display: block;
    float: left;
    position: relative;
    min-height: 1px;
  }
  &.ml-row-center {
    margin: 0 auto;
  }
  .span-hide{
    display: none;
  }
  .span-0{
    display: none;
  }
  for span in 1..$colum_number
    .span-{span}
      width: percentage(span / $colum_number)
    .offset-{span}
      margin-left: percentage(span / $colum_number)
  for span in 5 7 8 9 10
    .span-1-{span}
      width: percentage(1 / span)
  
  //  xs
  @media screen and (max-width: 768px)
    > [class^="span-xs-"], [class*=" span-xs-"]{
      display: block;
    }
    .span-xs-hide{
      display: none;
    }
    .span-xs-0{
      display: none;
    }
    for span in 1..$colum_number
      .span-xs-{span}
        width: percentage(span / $colum_number)
    for span in 5 7 8 9 10
      .span-xs-1-{span}
        width: percentage(1 / span)

  //  sm
  @media screen and (min-width: 768px)
    > [class^="span-sm-"], [class*=" span-sm-"]{
      display: block;
    }
    .span-sm-hide{
      display: none;
    }
    .span-sm-0{
      display: none;
    }
    for span in 1..$colum_number
      .span-sm-{span}
        width: percentage(span / $colum_number)
    for span in 5 7 8 9 10
      .span-sm-1-{span}
        width: percentage(1 / span)

  //  md
  @media screen and (min-width: 960px)
    > [class^="span-md-"], [class*=" span-md-"]{
      display: block;
    }
    .span-md-hide{
      display: none;
    }
    .span-md-0{
      display: none;
    }
    for span in 1..$colum_number
      .span-md-{span}
        width: percentage(span / $colum_number)
    for span in 5 7 8 9 10
      .span-md-1-{span}
        width: percentage(1 / span)

  //  lg
  @media screen and (min-width: 1170px)
    > [class^="span-lg-"], [class*=" span-lg-"]{
      display: block;
    }
    .span-lg-hide{
      display: none;
    }
    .span-lg-0{
      display: none;
    }
    for span in 1..$colum_number
      .span-lg-{span}
        width: percentage(span / $colum_number)
    for span in 5 7 8 9 10
      .span-lg-1-{span}
        width: percentage(1 / span)

  //  xlg
  @media screen and (min-width: 1700px)
    > [class^="span-xlg-"], [class*=" span-xlg-"]{
      display: block;
    }
    .span-xlg-hide{
      display: none;
    }
    .span-xlg-0{
      display: none;
    }
    for span in 1..$colum_number
      .span-xlg-{span}
        width: percentage(span / $colum_number)
    for span in 5 7 8 9 10
      .span-xlg-1-{span}
        width: percentage(1 / span)

.clearfix:before, .clearfix:after, .ml-row:before, .ml-row:after{
  display: table;
  content: " ";
}
.clearfix:after, .ml-row:after{
  clear: both;
}
