$spinnerSize = 3
$spinnerColor = $primary

.ml-loading-mask {
  position: absolute;
  z-index: 100;
  background-color: alpha($white, 0.8);
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .3s;
  opacity: 0;
  pointer-events: none;
  overflow hidden
  &.show {
    opacity: 1
    pointer-events: all;
  }
  .ml-loading-spinner {
    top: 50%;
    margin-top: -30px;
    width: 100%;
    text-align: center;
    position: absolute;
  }
  .ml-loading-text {
    margin-top: 2px;
  }
  &.small {
    .ml-loading-spinner {
      max-height: 32px;
      margin-top: -16px;
      .spinner {
        margin-top: 5px;
        width: 22px;
        height: 22px;
      }
      .ml-loading-text {
        display: none;
      }
    }
  }
}

.ml-loading-parent-relative {
  position relative
}

.spinner {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
svg .spinner, .spinner {
  .line {
    fill: none;
    stroke: $spinnerColor;
    stroke-width: $spinnerSize;
    opacity: 1;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transform: rotate3d(0, 0, 1, 0deg);
    animation: 1.2s spinner-arc ease-in-out infinite, 1s spinner-rotate linear infinite;
  }
  .ring {
    fill: none;
    stroke: $dark;
    stroke-width: $spinnerSize;
    opacity: 0.05;
  }
}

svg .spinner {
  .line, .ring {
    stroke-width: 2;
  }
  .line {
    stroke: currentColor;
    animation: 1.2s spinner-arc-mini ease-in-out infinite, 1s spinner-rotate linear infinite;
  }
}

@keyframes spinner-rotate {
  to { transform: rotate3d(0, 0, 1, 360deg); }
}
@keyframes spinner-arc {
  from { stroke-dasharray: 0 150; stroke-dashoffset: 0; }
  to { stroke-dasharray: 100 150; stroke-dashoffset: -140; }
}

@keyframes spinner-arc-mini {
  from { stroke-dasharray: 0 60; stroke-dashoffset: 0; }
  to { stroke-dasharray: 100 150;stroke-dashoffset: -54; }
}

// MD Loader from: https://materialdesignicons.com/
svg.loader path {
    fill: $primary;
    animation-duration: 1.6s;
    animation-name: md-loader;
    animation-iteration-count: infinite;
}
svg.loader path:nth-child(1) { animation-delay: 0.1s; }
svg.loader path:nth-child(2) { animation-delay: 0.2s; }
svg.loader path:nth-child(3) { animation-delay: 0.3s; }
svg.loader path:nth-child(4) { animation-delay: 0.4s; }
svg.loader path:nth-child(5) { animation-delay: 0.5s; }
svg.loader path:nth-child(6) { animation-delay: 0.6s; }
svg.loader path:nth-child(7) { animation-delay: 0.7s; }
svg.loader path:nth-child(8) { animation-delay: 0.8s; }
@keyframes md-loader {
    0% { fill-opacity: 0; }
    50% { fill-opacity: 1; }
    100% { fill-opacity: 0; }
}
