.ml-select {
  width: auto;
  min-width: 100px;
  display: inline-block;
  position relative
  vertical-align: top;
  &.fill {
    width: 100%;
  }
  &:before, &:after {
    transition: border-color .3s;
    display: block;
    content: '';
    position: absolute;
    pointer-events: none;
    border: 1px solid transparent;
    width: 0;
    height: 0;
    right: 12px;
    z-index: 10;
    border-width: 0 4.5px 6px 4.5px;
    border-bottom-color: $light;
    top: 25%;
  }
  &:after {
    border-width: 6px 4.5px 0 4.5px;
    border-top-color: $light;
    top: 55%;
  }
  &:hover {
    &:before {
      border-bottom-color: $light - 5%;
    }
    &:after {
      border-top-color: $light - 5%;
    }
  }
  &.focus {
    &:before {
      border-bottom-color: $primary;
    }
    &:after {
      border-top-color: $primary;
    }
  }
  + .ml-select {
    margin-left: 10px;
  }
  select {
    -webkit-appearance: none;
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    border: 1px solid $light;
    background: $light + 90%;
    padding: 6px 12px
    padding-right: 25px;
    font-size: $fontSize;
    width: 100%;
    position: relative;
    min-width: 100px;
    display: inline-block;
    vertical-align: top;
    color: $dark;
    outline: 0;
    line-height: 18px;
    transition: 0.2s background, .2s color;
    placeholder($gray);
    &:hover{
      // border-color: $secondary;
      background-color: $light + 60%;
    }
    &:focus{
      border-color: $primary;
      background-color: $white;
    }
    &.primary{
      input-color($primary)
    }
    &.danger {
      input-color($error)
    }
    &.invalid {
      input-color($error)
    }
    &.error{
      input-color($error)
    }
    &.warning{
      input-color($warning)
    }
    &.info{
      input-color($info)
    }
    &.success{
      input-color($success)
    }
    &.disabled{
      color: $gray;
      cursor: not-allowed;
      color: $secondary + 40%
      background: $gray + 80%
      border-color: $gray + 50%
      cursor: not-allowed
      box-shadow: none;
      &.allowed{
        cursor: pointer;
      }
    }
    &.invalid{
      input-color($danger)
    }
    &.underline {
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      bdrs(0)
    }
  }
}