@import '~@/stylesheets/select2.css'
@import './vars'
.ml-select-container {
  display: inline-block;
  + .ml-select-container {
    margin-left: 10px;
  }
  width: auto;
  min-width: 100px;
  &.fill {
    width: 100%;
  }
  select {
    width: 100%;
  }
}
.select2-search--dropdown {
  display: block;
  padding: 0px;
  margin-bottom: 3px;
}

.select2-container--default {
  min-width: 100px
  // margin-right: 10px
  vertical-align: top
  text-align: left;
  .pull-right > & {
    margin-right: 0;
  }
  &.select2-container--focus {
    .select2-selection--multiple{
      border-color: $light;
    }
  }
  &.select2-container--open {
    .select2-dropdown {
      bdrs(2px)
      border-color: $primary
    }
    .select2-dropdown--above {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; 
    }

    .select2-dropdown--below {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0; 
    }

    .select2-selection--single .select2-selection__arrow b{
      border-color: transparent transparent $gray transparent;
    }
    .select2-dropdown--above, .select2-dropdown--below{
      padding: 3px;
    }
  }
  .select2-search--dropdown {
    .select2-search__field {
      border: 1px solid $light;
      height: 32px;
      outline: 0;
      padding: 3px 8px;
      padding-right: 24px;
      background: url("/static/images/search.png") no-repeat;
      background-size: 14px;
      background-position: right 5px center;
      -webkit-appearance: none;
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      border: 1px solid $light;
      background: $light + 90%;
      padding: 6px 6px
      font-size: 13px
      width: 100%;
      display: inline-block;
      vertical-align: top;
      color: $dark;
      outline: 0;
      line-height: 18px;
      transition: 0.2s all;
      placeholder($gray)
      &:hover{
        // border-color: $secondary;
        background-color: $light + 60%;
      }
      &:focus{
        // border-color: $primary;
        background-color: $white;
      }
    }
  }
  .select2-search--inline {
    .select2-search__field{
      line-height: 24px;
      padding: 0 4px;
    }
  }
  .select2-selection--multiple{
    bdrs(2px)
    height: auto;
    border: 1px solid $light;
    background: $light + 90%;
    transition: background 0.3s
    &:hover{
      background-color: $light + 60%;
    }
    .select2-container--open&, .select2-container--focus& {
      background-color: $white;
      border-color: $primary
    }
    .select2-selection__rendered{
      padding: 3px;
      padding-bottom: 0;
      margin-bottom: -5px;
    }
    .select2-search--inline .select2-search__field{
      margin-top: 0px;
    }
    .select2-selection__choice__remove{
      color: alpha($dark, 0.3);
      font-size: $fontSize;
      line-height: 14px;
      &:hover{
        color: alpha($dark, 0.5);
      }
    }
    .select2-selection__choice{
      bdrs(2px)
      background-color: $light + 50%;
      border: 1px solid $light;
      padding: 1px 5px;
      margin: 0 4px 3px 0;
      line-height: 20px;
    }
  }
  .select2-selection--single{
    outline: 0
    height: 32px
    border-color: $light
    background: $light + 90%;
    bdrs(2px)
    transition: background 0.3s, border-color 0.3s
    &:focus{
      border-color: $light
    }
    &:hover{
      background-color: $light + 60%;
    }
    .select2-container--open&, .select2-container--focus& {
      background-color: $white;
      border-color: $primary
    }
    .select2-container--disabled& {
      background-color: $light;
      cursor: not-allowed;
      .select2-selection__clear {
        display: none
      }
    }
    .select2-selection__arrow b{
      border-color: $gray transparent transparent transparent;
    }
    .select2-selection__rendered {
      line-height: 30px;
      padding-left: 12px
      font-size: 13px;
      color: #262D38;
    }
    .select2-selection__arrow{
      height: 30px
    }
    .select2-selection__placeholder {
      color: $gray;
    }
  }
  .select2-dropdown {
    position: absolute
    left: auto!important
    right: auto
    border-color: $light
    font-size: 13px
    z-index: 9999999999
    bdrs(2px)
    .select2-results {
      display: block;
      margin: -3px;
      margin-top: 0;
      >.select2-results__options{
        padding: 3px;
        padding-top: 0;
        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar {
          width: 8px;
          height: 6px;
          background-color:alpha($dark, 0.05);
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 0px;
          background: alpha($gray, 0.4);
        }
      }
      .select2-results__group {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: alpha($gray, 0.2)
      }
      .select2-results__option[aria-selected=true] {
        background-color: $bright;
        position: relative;
        padding-right: 32px;
        &::after {
          transform: rotate(320deg) translateY(-50%);
          top: 40%;
          content: '';
          display: block;
          position: absolute;
          right: 5px;
          border: solid $primary; //Transparent instead of #fff cause of 1 px white visible bug
          border-right-width: 0;
          border-top-width: 0;
          width: 16px;
          height: 8px;
          border-bottom-width: 2px;
          border-left-width: 2px;
        }
      }
      .select2-results__option--highlighted[aria-selected] {
        background-color: $primary;
        color: white;
        &:after{
          border-color: $white;
        }
      }
    }
  }
}

