[data-tooltip]{
  position: relative;
  // color: red;
  text-decoration: none;
  &:hover,
  &:focus {
    &:before {
      opacity: 1;
      transform: translate(-50%,-10px);
      .tooltip-bottom& {
        transform: translate(-50%, 10px)
      }
    }
    &:after {
      opacity: 1;
      transform: translate(-50%, -10px) rotate(45deg);
      .tooltip-bottom& {
        transform: translate(-50%, 10px) rotate(45deg);
      }
    }
  }
  &:before {
    position: absolute;
    z-index: 2;
    white-space: nowrap;
    content: attr(data-tooltip);
    bottom: 100%;
    left: 50%;
    padding: 0.5em 1em;
    color: white;
    font-size: 0.8em;
    line-height: 1.7em;
    background-color: $dark;
    transition: transform 0.2s ease-out;
    opacity: 0;
    transform: translate(-50%,0);
    pointer-events: none;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    .tooltip-bottom& {
      bottom: initial;
      top: 100%;
    }
  }
  &:after {
    position: absolute;
    z-index: 3;
    display: block;
    bottom: 100%;
    left: 50%;
    content: '';
    width: 10px;
    height: 10px;
    background-color: $dark;
    margin-bottom: -4px;
    transform: translate(-50%,0) rotate(45deg);
    transition: transform 0.2s ease-out;
    opacity: 0;
    pointer-events: none;
    .tooltip-bottom& {
      bottom: initial;
      top: 100%;
      margin-top: -4px;
    }
  }
  &.break:before {
    white-space: normal;
    width: 360px;
  }
}