.ml-text-default {
  font-size 14px;
  color: $dark;
  font-family $default_font
}

.ml-text-paragraph {
  margin: 0;
  margin-bottom: 1em;
}

.ml-text-large {
  font-size: 16px;
}
.ml-text-small {
  font-size: 12px;
}

.ml-text-monospace {
  font-family $code_font
}

.ml-text-bold {
  font-weight bold
}
.ml-text-bolder {
  font-weight bolder
}
.ml-text-normal {
  font-weight normal
}
.ml-text-light {
  font-weight: lighter;
}

.ml-text-running {
  line-height 1.5
}

.ml-text-muted {
  color: $secondary
}

.ml-text-disabled {
  color: $gray
}

.ml-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

intents = ('white' $white) ('default' $secondary) ('dark' $dark) ('secondary' $secondary) ('primary' $primary) ('danger' $danger) ('warning' $warning) ('success' $success) ('info' $info) ('information' $info)
for intent in intents
  intentKey = intent[0]
  intentColor = intent[1]
  .ml-text-intent-{intentKey} {
    color: intentColor
  }
  .ml-text-background-{intentKey} {
    background-color intentColor
  }
  .ml-border-{intentKey} {
    border-color: intentColor
    border-width: 1px;
    border-style: solid;
  }
