$primary = #4400f8
$primary = #2D4EF5
$secondary = #4e5a6f
$gray =  #a1abbd
$light = #dfe1e6
$bright = #f6f5f7
// $dark = #07001f
$dark = #000e25
$success = #28d3a9
$warning = #ffab00
$danger  = #fb054c
$info = #b100ff
$error = $danger
$information = $info
$white = #ffffff
$fontSize = 14px

$colum_number = 12
// $default_font = "Open Sans","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft Yahei","Heiti SC","WenQuanYi Micro Hei",sans-serif
$default_font = -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Fira Sans","Droid Sans","Helvetica Neue",sans-serif
$code_font = Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif

$lightDropShadow = 0 0 0 1px alpha($secondary,.1), 0 1px 1px alpha($secondary,.2), 0 2px 6px alpha($secondary,.2)
// $dropShadow = 0 0 0 1px alpha($secondary, .1), 0 2px 4px alpha($secondary, .2), 0 8px 24px alpha($secondary, .2)
$dropShadow = 0 0 1px 0 rgba(74,85,117,0.20), 0 5px 15px 0 rgba(71,75,113,0.20);
$dropShadowDarker = 0 0 1px 0 rgba(74,85,117,0.20), 0 7px 25px 0 rgba(71,75,113,0.30);
$darkDropShadow = 0 0 0 1px alpha($secondary,.1), 0 4px 8px alpha($secondary,.2), 0 18px 46px 6px alpha($secondary,.2)

// Functions:
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

bdrs(n)
  border-radius(n)

  