<template>
  <div class='ml-avatar' :class='[className, intent]' :style='styleSheet'>
    <slot>
      <svg class="avatar-svg" :class="intent" viewBox="0 0 100 100" v-if="text">
        <text x='50' y='50' dy='.35em'>
          {{text}}
        </text>
      </svg>
      <div v-else-if="icon" class="avatar-svg" :class="intent">
        <ml-icon :name="icon"></ml-icon>
      </div>
    </slot>
  </div>
</template>

<script>
export default {
  name: 'MLAvatar',
  props: {
    url: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    },
    intent: {
      default: 'light',
      type: String
    },
    icon: {
      default: '',
      type: String
    },
    type: {
      type: String,
      default: ''
    },
    size: {
      type: Number,
      default: 100
    },
    round: {
      type: Boolean,
      default: false
    },
    circle: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
    }
  },
  computed: {
    className () {
      var classNames = {}
      if (this.round) {
        classNames['round'] = true
      }
      if (this.circle) {
        classNames['circle'] = true
      }
      if (!this.url) {
        classNames['default'] = true
      }
      return classNames
    },
    styleSheet () {
      var style = {}
      style['width'] = this.size + 'px'
      style['height'] = this.size + 'px'
      if (this.url) {
        style['background-image'] = 'url(' + this.url + ')'
        style['background-size'] = '100%'
      }
      return style
    }
  }
}
</script>

<style lang='stylus'>
@import '~@/stylesheets/vars'
accent-color(color, fg=$white) {
  background: color;
  color: fg;
  transition: background .3s;
  &:hover {
    background: alpha(color, .8)
  }
  &.plain {
    border: 1px solid color;
    background: $white;
    color: color;
    line-height: 24px;
    &:hover {
      background: alpha(color, .03)
    }
  }
}
.ml-avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position center center;
  overflow hidden
  &.default {
    background: $light;
  }
  &.round {
    border-radius 3px;
  }
  &.circle {
    border-radius 100%
  }
  .avatar-svg {
    display: block;
    color: $gray;
    text {
      fill: currentColor;
      font-size: 45px;
      text-anchor: middle
    }
    .ml-svg-icon-container {
      width: 100%;
      height: 100%;
      transform: none;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &.primary {
      accent-color($primary)
    }
    &.success {
      accent-color($success)
    }
    &.warning {
      accent-color($warning, $dark+20%)
    }
    &.danger {
      accent-color($danger)
    }
    &.information {
      accent-color($info)
    }
    &.info {
      accent-color($info)
    }
    &.dark {
      accent-color($dark)
    }
    &.default {
      accent-color($light)
    }
  }
}
</style>
