<template>
  <button class="ml-btn" :class="className" :disabled="disabled" v-on="$listeners" @click="pushLink">
    <ml-icon v-if="prepend && !append && icon" class="ml-btn-icon" :name="icon"></ml-icon>
    <span class="ml-btn-text" v-if="!circle && !square">
      <slot></slot>
    </span>
    <ml-icon v-if="append && icon" class="ml-btn-icon" :name="icon"></ml-icon>
  </button>
</template>

<script>
export default {
  name: 'MLButton',
  props: {
    type: {
      default: 'default',
      type: String
    },
    intent: {
      default: 'default',
      type: String
    },
    disabled: {
      type: Boolean,
      default: false
    },
    size: {
      type: String,
      default: ''
    },
    fill: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String,
      default: ''
    },
    prepend: {
      type: Boolean,
      default: true
    },
    append: {
      type: Boolean,
      default: false
    },
    round: {
      type: Boolean,
      default: false
    },
    circle: {
      type: Boolean,
      default: false
    },
    square: {
      type: Boolean,
      default: false
    },
    focus: {
      default: false,
      type: Boolean
    },
    to: {
      type: [Object, String],
      default: ''
    }
  },
  data () {
    return {
    }
  },
  computed: {
    className () {
      var type = this.type
      var classNames = {}
      classNames['ml-btn-' + type] = true
      classNames['ml-btn-' + this.intent] = true
      if (this.size) {
        var size = 'ml-btn-' + this.size
        classNames[size] = true
      }
      if (this.round) {
        classNames['round'] = true
      }
      if (this.circle) {
        classNames['circle'] = true
        classNames['round'] = true
      }
      if (this.square) {
        classNames['square'] = true
      }
      classNames['disabled'] = this.disabled
      classNames['ml-btn-block'] = this.fill
      return classNames
    }
  },
  mounted () {
    if (this.focus) {
      this.$nextTick(() => {
        this.focusButton()
      })
    }
  },
  methods: {
    pushLink () {
      if (this.to && this.$router) {
        this.$router.push(this.to)
      }
    },
    focusButton () {
      this.$el.focus()
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'

btn-color(bg, fg=$white, default, dark=$dark)
  bd = bg
  if default {
    bd = $light
  }
  &.ml-btn-default {
    background-color: bg;
    color: fg;
    border-color: bd;
    &:hover{
      background-color: bg + 20%;
      border-color: bd + 20%;
      box-shadow: 0px 0px 5px alpha(bg - 30%, 0.3)
    }
    &:active {
      background-color: bg - 10%;
      border-color: bd - 20%;
      box-shadow: 0px 0px 5px alpha(bg - 30%, 0.3)
    }
  }
  if default {
    bg = $secondary
    fg = $light
  }
  &.ml-btn-subtle {
    background-color: transparent;
    color: bg;
    border-color: transparent;
    &:hover{
      background-color: alpha(bg, 0.1);
      border-color: transparent
      box-shadow: none;
    }
    &:active {
      background-color: alpha(bg, 0.2);
      border-color: transparent
      box-shadow: none;
    }
  }
  &.ml-btn-link {
    background: none
    color: bg;
    border-color: transparent;
    &:hover{
      background-color: transparent;
      border-color: transparent
      box-shadow: none;
      .ml-btn-text {
        text-decoration underline;
      }
    }
    &:active {
      border-color: transparent
      box-shadow: none;
      .ml-btn-text {
        text-decoration underline;
      }
    }
    &:focus {
      .ml-btn-text {
        text-decoration underline;
      }
    }
  }
  &.ml-btn-hollow {
    background: none
    color: bg;
    border-color: bg;
    &:hover{
      background-color: bg;
      border-color: bg;
      color: fg;
      box-shadow: none;
    }
    &:active {
      background-color: bg + 20%
      box-shadow: none;
    }
  }
  &.disabled, &.disabled:hover{
    color: $secondary + 40%
    background: $gray + 75%
    border-color: $gray + 75%
    cursor: not-allowed
    box-shadow: none;
    &.allowed{
      cursor: pointer;
    }
  }

btn-size(fontSize, padding, height)
  padding: padding padding * 2;
  font-size: fontSize;
  line-height height - padding * 2;
  height: height;
  span.ml-btn-text {
    margin-top: -1px;
  }
  .ml-btn-icon {
    position: relative;
    top: -1px;
  }
  .ml-btn-icon {
    + .ml-btn-text {
      margin-left: padding;
    }
  }
  .ml-btn-text {
    + [class^="ml-icon-"], + [class*=" ml-icon-"] {
      margin-left: padding;
    }
  }
  &.circle {
    padding: padding;
    width: height;
    height: height;
    .ml-btn-icon {
      vertical-align: top;
      height: (height - padding * 2) - 2;
      line-height: (height - padding * 2) - 2;
      top: 0;
    }
    span.ml-btn-text {
      height: (height - padding * 2) - 2;
      line-height: (height - padding * 2) - 2;
    }
  }
  &.round {
    bdrs(height / 2)
  }
  &.square {
    padding: 0 7px;
  }

mix-btns()
  // types = 'default' 'link' 'subtle', 'hollow'
  // for type in types
  $darken = $dark + 20%
  intents = ('default' $bright $dark true) ('dark' $dark $white false) ('gray' $secondary $white false) ('primary' $primary $white false) ('danger' $danger $white false) ('warning' $warning $darken false) ('success' $success $white false) ('info' $info $white false) ('information' $info $white false)
  for intent in intents
    intentKey = intent[0]
    intentColor = intent[1]
    intentForeColor = intent[2]
    isDefault = intent[3]
    &.ml-btn-{intent} {
      btn-color(intentColor, intentForeColor, isDefault)
    }

.ml-btn{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $light;
  border: 1px solid $light;
  color: $dark;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  // outline: none!important;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 6px 15px;
  font-size: $fontSize;
  border-radius: 2px;
  vertical-align: top;
  transition: all 0.3s;
  height: 32px;
  btn-size($fontSize, 6px, 32px)
  &:focus {
    transition: outline .1s;
  }
  + .ml-btn {
    margin-left: 10px;
  }
  &.pull-right{
    margin-right: 0;
  }
  .align-right &:last-child {
    margin-right: 0
  }
  &.ml-btn-xlarge {
    btn-size(18px, 10px, 44px)
  }
  &.ml-btn-large {
    btn-size(16px, 8px, 36px)
  }
  &.ml-btn-small{
    btn-size(12px, 4px, 26px)
  }
  &.ml-btn-mini{
    btn-size(12px, 2px, 20px)
  }
  &.ml-btn-block {
    display: block;
    width: 100%;
    margin: 0;
  }
  mix-btns()
  .ml-btn-icon {
    line-height: inherit;
    display: inline-block;
    &:before{
      // vertical-align: top
    }
    + .ml-btn-text {
      margin-left: 5px;
    }
  }
  .ml-btn-text {
    display: inline-block;
    vertical-align top;
    line-height: inherit;
    + [class^="ml-icon-"], + [class*=" ml-icon-"] {
      margin-left: 5px;
    }
  }
}
</style>
