<template>
  <div class="ml-checkbox" :class="[{circle}, 'ml-checkbox-' + intent]">
    <input :id="id" :name="name" type="checkbox" v-model="local_value" :disabled="disabled">
    <label :for="id">
      <slot></slot>
    </label>
  </div>
</template>

<script>
import uuid from 'uuid'
import _ from '@/utils/utils'
export default {
  name: 'MLCheckbox',
  props: {
    value: {
      type: [Boolean, Object],
      default: false
    },
    id: {
      default: function () {
        return uuid()
      },
      type: String
    },
    name: {
      default: '',
      type: String
    },
    circle: {
      default: false,
      type: Boolean
    },
    intent: {
      default: 'primary',
      type: String
    },
    disabled: {
      default: false,
      type: Boolean
    }
  },
  data () {
    return {
      local_value: _.cloneDeep(this.value)
    }
  },
  watch: {
    value: {
      handler: function (newVal, oldVal) {
        this.local_value = newVal
      }
    },
    local_value: {
      handler: function (newVal) {
        this.$emit('input', newVal)
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
intents = ('default' $gray) ('dark' $secondary) ('primary' $primary) ('danger' $danger) ('warning' $warning) ('success' $success) ('info' $info)
.ml-checkbox {
  position: relative;
  margin: 0;
  text-align: left;
  line-height: 32px;
  display: inline-block;
  padding-right: 10px;
  + .ml-checkbox {
    margin-left: 10px;
  }
  label {
    cursor: pointer;
    display: inline;
    line-height: inherit;
    vertical-align: top;
    clear: both;
    padding-left: 1px;
    &:not(:empty) {
      padding-left: 5px;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%)
    }

    &:before {
      // box
      width: (17/14)em;
      height: (17/14)em;
      background: #fff;
      border: .1em solid $primary;
      border-radius: 2px;
      cursor: pointer;
      transition: background .3s;
      .circle& {
        border-width: .1em;
        width: 1.3em;
        height: 1.3em;
        border-radius: 1em;
      }
      for intent in intents {
        intentKey = intent[0]
        intentColor = intent[1]
        .ml-checkbox-{intentKey}& {
          border-color: intentColor
        }
      }
    }

    &:after {
      // checkmark
    }
  }

  input[type="checkbox"] {
    outline: 0;
    width: 1.25em;
    margin: 0;
    display: block;
    opacity: 0;
    float: left;
    font-size: inherit;
    top: 0.5em;
    position: relative;
    .circle& {
      width: 1.4em;
    }
    &:checked {
       + label:before{
        background: $primary;
        border:none;
        for intent in intents {
          intentKey = intent[0]
          intentColor = intent[1]
          .ml-checkbox-{intentKey}& {
            background: intentColor
          }
        }
      }
      + label:after {
        transform: translate(.25em, -.25em) rotate(-45deg);
        .circle& {
          transform: translate(.25em, -.25em) rotate(-45deg);
        }
        width: .75em;
        height: (.75em/2);
        border: .08em solid $white;
        border-top-style: none;
        border-right-style: none;
      }
    }

    &:focus {
      + label:before {
        box-shadow: alpha($primary, 0.6) 0px 0px 0px 2px;
      }
    }

    &:active {
      + label:before {
        background: alpha($primary, 0.3)
      }
    }

    &:disabled {
      + label:before{
        border-color: $gray;
        background: $light;
      }
      &:checked {
        + label:before{
          background: $gray;
        }
      }
    }
  }
}
</style>
