<template>
  <div>
    <div class="code-wrapper" :class="{fullscreen}">
      <div class="actions" v-if="showAction">
        <ml-button size="small" type="default" class="clip-btn" circle icon="duplicate"></ml-button>
        <ml-button size="small" style="margin-left: 5px" @click="fullscreen = !fullscreen" circle :icon="fullscreen ? 'minimize' : 'maximize'" intent="warning"></ml-button>
      </div>
      <div class="code-container" :style="{minHeight, maxHeight}">
        <textarea class="code" v-model="value"><slot></slot></textarea>
      </div>
    </div>
  </div>
</template>

<script>
import CodeMirror from 'codemirror'
import 'codemirror/addon/runmode/runmode.js'
import 'codemirror/addon/display/autorefresh.js'
import 'codemirror/addon/selection/active-line.js'
import 'codemirror/mode/javascript/javascript'
import 'codemirror/mode/yaml/yaml'
import 'codemirror/mode/xml/xml'
import 'codemirror/mode/shell/shell'
import 'codemirror/mode/http/http'
import 'codemirror/mode/vue/vue'

import ClipboardJS from 'clipboard'
export default {
  name: 'Code',
  // props: ['value', 'canEdit', 'maxHeight', 'minHeight']
  props: {
    wrap: {
      default: true,
      type: Boolean
    },
    firstLineNumber: {
      default: 1,
      type: Number
    },
    value: {
      type: String,
      default: ''
    },
    canEdit: {
      type: Boolean,
      default: false
    },
    maxHeight: {
      type: String,
      default: '100%'
    },
    minHeight: {
      type: String,
      default: '26px'
    },
    lineNumber: {
      type: Boolean,
      default: true
    },
    showAction: {
      default: true,
      type: Boolean
    },
    mode: {
      type: String,
      default: 'application/json'
    }
  },
  data () {
    return {
      actionIcon: 'maximize',
      fullscreen: false,
      cm: ''
    }
  },
  watch: {
    value: function (newValue) {
      var currentValue = this.cm.getValue()
      if (currentValue !== newValue) {
        this.cm.setValue(newValue)
      }
    },
    mode: function (newValue) {
      this.cm.setOption('mode', newValue)
    },
    fullscreen: function (newVal, oldVal) {
      if (newVal) {
        this.cm.setSize(null, '100%')
      } else {
        this.cm.setSize(null, 'auto')
      }
    },
    firstLineNumber: function (newValue) {
      this.cm.setOption('firstLineNumber', newValue)
    }
  },
  mounted () {
    function betterTab (cm) {
      if (cm.somethingSelected()) {
        cm.indentSelection('add')
      } else {
        cm.replaceSelection(cm.getOption('indentWithTabs') ? '\t' : Array(cm.getOption('indentUnit') + 1).join(' '), 'end', '+input')
      }
    }
    var cm = CodeMirror.fromTextArea(this.$el.querySelector('.code'), {
      value: this.value,
      mode: this.mode,
      lineNumbers: this.lineNumber,
      styleActiveLine: true,
      lineWrapping: this.wrap,
      readOnly: !this.canEdit,
      autoRefresh: true,
      firstLineNumber: this.firstLineNumber,
      extraKeys: { Tab: betterTab }
    })
    if (!this.canEdit) {
      cm.getWrapperElement().classList.add('CodeMirror-readonly')
    }
    cm.on(
      'change',
      function () {
        var newValue = cm.getValue()
        // this.value = newValue
        this.$emit('input', newValue)
      }.bind(this)
    )
    if (this.minHeight) {
      this.$el.querySelector('.CodeMirror-scroll').style.minHeight = this.minHeight
    }
    // cm.setSize('100%', this.maxHeight || '100%')
    this.cm = cm
    this.$nextTick(() => {
      var clipBtn = this.$el.querySelector('.clip-btn')
      if (clipBtn) {
        new ClipboardJS(clipBtn, { // eslint-disable-line no-new
          text: (trigger) => {
            this.$message && this.$message('已复制到剪贴板！')
            return this.cm.getValue()
          }
        })
      }
    })
  },
  methods: {}
}
</script>

<style>
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
    sans-serif;
  height: auto;
  min-height: 30px;
  color: black;
  direction: ltr;
}

/* PADDING */

/* .CodeMirror-lines {
  padding: 4px 0;
} */
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker {
  color: black;
}
.CodeMirror-guttermarker-subtle {
  color: #999;
}

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {
  }
  50% {
    background-color: transparent;
  }
  100% {
  }
}
@-webkit-keyframes blink {
  0% {
  }
  50% {
    background-color: transparent;
  }
  100% {
  }
}
@keyframes blink {
  0% {
  }
  50% {
    background-color: transparent;
  }
  100% {
  }
}

/* Can style cursor different in overwrite (non-insert) mode */

.cm-tab {
  display: inline-block;
  text-decoration: inherit;
}

.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: -20px;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute;
}

.CodeMirror-hscrollbar, .CodeMirror-vscrollbar {
  outline: none;
}
.CodeMirror-scrollbar-filler {
  background: rgba(161,171,189,0.6)
}

/* DEFAULT THEME */

.cm-header {
  color: blue;
}
.cm-quote {
  color: #090;
}
.cm-negative {
  color: #d44;
}
.cm-positive {
  color: #292;
}
.cm-header,
.cm-strong {
  font-weight: bold;
}
.cm-em {
  font-style: italic;
}
.cm-link {
  text-decoration: underline;
}
.cm-strikethrough {
  text-decoration: line-through;
}

.cm-keyword {
  color: #708;
}
.cm-atom {
  color: #219;
}
.cm-number {
  color: #164;
}
.cm-def {
  color: #00f;
}
.cm-variable-2 {
  color: #05a;
}
.cm-variable-3,
.cm-type {
  color: #085;
}
.cm-comment {
  color: #a50;
}
.cm-string {
  color: #a11;
}
.cm-string-2 {
  color: #f50;
}
.cm-meta {
  color: #555;
}
.cm-qualifier {
  color: #555;
}
.cm-builtin {
  color: #30a;
}
.cm-bracket {
  color: #997;
}
.cm-tag {
  color: #170;
}
.cm-attribute {
  color: #00c;
}
.cm-hr {
  color: #999;
}
.cm-link {
  color: #00c;
}

.cm-error {
  color: #f00;
}
.cm-invalidchar {
  color: #f00;
}

.CodeMirror-composing {
  border-bottom: 2px solid;
}

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0f0;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f22;
}
.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3);
}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  min-height: 30px;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0;
}

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent;
}
.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
  line-height: 20px;
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-rtl pre {
  direction: rtl;
}

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre {
  position: static;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-focused .CodeMirror-selected {
  background: #404859;
  color: #fff;
}
.CodeMirror-crosshair {
  cursor: crosshair;
}

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4);
}

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: 0.1px;
}

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: '';
}

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none;
}

.CodeMirror,
.CodeMirror-gutters {
  background-color: #282c34 !important;
  color: #f8f8f2 !important;
  border: none;
}
.CodeMirror-gutters {
  color: #282c34;
}
.CodeMirror-cursor {
  border-left: solid thin #f8f8f0;
}
.CodeMirror-linenumber {
  color: #495162;
}
.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.1);
}
/* .CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, 0.1);
}
.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.1);
} */
span.cm-comment {
  color: #6272a4;
}
span.cm-string,
span.cm-string-2 {
  color: #f1fa8c;
}
span.cm-number {
  color: #bd93f9;
}
span.cm-variable {
  color: #50fa7b;
}
span.cm-variable-2 {
  color: white;
}
span.cm-def {
  color: #50fa7b;
}
span.cm-operator {
  color: #ff79c6;
}
span.cm-keyword {
  color: #ff79c6;
}
span.cm-atom {
  color: #bd93f9;
}
span.cm-meta {
  color: #f8f8f2;
}
span.cm-tag {
  color: #ff79c6;
}
span.cm-attribute {
  color: #50fa7b;
}
span.cm-qualifier {
  color: #50fa7b;
}
span.cm-property {
  color: #66d9ef;
}
span.cm-builtin {
  color: #50fa7b;
}
span.cm-variable-3,
span.cm-type {
  color: #ffb86c;
}
.CodeMirror-activeline-background {
  background: #2c313c;
}
.CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
.code-wrapper {
  position: relative;
  overflow: auto;
}
.code-wrapper .code-container {
  overflow: auto;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.code-wrapper .actions {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
}
.code-wrapper.fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-height: 100%!important;
  z-index: 10000;
}
.code-wrapper.fullscreen .code-container {
  max-height: 100%!important;
}
.CodeMirror-readonly .CodeMirror-cursor {
  display: none !important;
}
</style>
