<template>
  <div :class="classNames" :style="styleObj">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'MLCol',
  props: {
    width: {
      type: String,
      default: ''
    },
    span: {
      default: 12,
      type: [Number, String]
    },
    offset: {
      type: Number,
      default: undefined
    },
    xs: {
      type: Number,
      default: undefined
    },
    sm: {
      type: Number,
      default: undefined
    },
    md: {
      type: Number,
      default: undefined
    },
    lg: {
      type: Number,
      default: undefined
    },
    xlg: {
      type: Number,
      default: undefined
    }
  },
  computed: {
    gutter () {
      let parent = this.$parent
      while (parent && parent.$options.name !== 'MLRow') {
        parent = parent.$parent
      }
      return parent ? parent.gutter : 0
    },
    classNames () {
      var span = this.span
      var classNames = {}
      classNames['ml-span-xs-' + span] = true
      if (this.offset) {
        classNames['ml-span-xs-offset-' + this.offset] = true
      }
      if (typeof this.xs === 'number') {
        classNames['ml-span-xs-' + this.xs] = true
      }
      if (typeof this.sm === 'number') {
        classNames['ml-span-sm-' + this.sm] = true
      }
      if (typeof this.md === 'number') {
        classNames['ml-span-md-' + this.md] = true
      }
      if (typeof this.lg === 'number') {
        classNames['ml-span-lg-' + this.lg] = true
      }
      if (typeof this.xlg === 'number') {
        classNames['ml-span-xlg-' + this.xlg] = true
      }
      return classNames
    },
    styleObj () {
      var gutter = this.gutter
      var styleObj = {
        'padding-left': gutter + 'px',
        'padding-right': gutter + 'px'
      }
      if (this.width) {
        styleObj['flex-basis'] = this.width
        styleObj['-ms-flex-preferred-size'] = this.width
        styleObj['max-width'] = this.width
      }
      return styleObj
    }
  }
}
</script>

<style lang="stylus">

</style>
