<template>
  <div
    class="drawer"
    :class="{'fade': visible, 'mask': !mask}"
    @click="maskClose"
  >
    <div
      class="drawer-slider"
      :class="`placement-${placement}`"
      :style="sliderStyle"
      @click.stop
    >
      <slot name="title">
        <div v-if="title" class="drawer-title">
          <span>{{ title }}</span>
          <ml-icon v-if="closable" class="drawer-close" name="cross" @click.native="close"></ml-icon>
        </div>
      </slot>
      <div class="drawer-content">
        <slot></slot>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'MLDrawer',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    closable: {
      type: Boolean,
      default: false
    },
    placement: {
      type: String,
      default: 'right'
    },
    width: {
      type: String,
      default: '500px'
    },
    height: {
      type: String,
      default: '300px'
    },
    mask: {
      type: Boolean,
      default: true
    },
    maskClosable: {
      type: Boolean,
      default: true
    },
    beforeClose: {
      type: Function,
      default () {
        return null
      }
    }
  },
  computed: {
    sliderStyle () {
      const obj = {}
      switch (this.placement) {
        case 'left':
          obj.width = this.width
          obj.left = `-${this.width}`
          break
        case 'right':
          obj.width = this.width
          obj.right = `-${this.width}`
          break
        case 'top':
          obj.height = this.height
          obj.top = `-${this.height}`
          break
        default:
          obj.height = this.height
          obj.bottom = `-${this.height}`
          break
      }
      return obj
    }
  },
  methods: {
    close () {
      if (!this.beforeClose) {
        return this.handleClose()
      }
      const before = this.beforeClose()
      if (before && before.then) {
        before.then(() => {
          this.handleClose()
        })
      } else {
        this.handleClose()
      }
    },
    maskClose () {
      if (this.maskClosable) {
        this.close()
      }
    },
    handleClose () {
      this.$emit('update:visible', false)
      this.$emit('close')
    }
  }
}
</script>
<style lang="stylus" scoped>
.drawer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;

  &.mask {
    background-color: rgba(0, 0, 0, 0);
  }

  &.fade {
    opacity: 1;
    transition: all 0.3s;
    pointer-events: unset;

    .drawer-slider {
      transition: all 0.3s;

      &.placement-right {
        right: 0 !important;
      }

      &.placement-left {
        left: 0 !important;
      }

      &.placement-top {
        top: 0 !important;
      }

      &.placement-bottom {
        bottom: 0 !important;
      }
    }
  }

  .drawer-slider {
    background-color: #fff;
    overflow-y: auto;
    position: absolute;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;

    &.placement-right, &.placement-left {
      top: 0;
      bottom: 0;
    }

    &.placement-top, &.placement-bottom {
      left: 0;
      right: 0;
    }

    .drawer-title {
      border-bottom: 1px solid #dcdee5;
      color: #666;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      padding: 20px;
      display: flex;
      align-items: center;

      span {
        flex: 1;
      }

      .drawer-close {
        font-size: 20px;
        overflow: hidden;
        cursor: pointer;
        font-weight: 400;
        color: #888;
      }
    }

    .drawer-content {
      padding: 14px 20px;
      flex: 1;
      overflow: auto;
    }
  }
}
</style>
