<template>
  <div class="code-template">
    <div class="example-header">
      <ml-row>
        <ml-col :span="9">
          {{ title || 'Code Example' }}
        </ml-col>
        <ml-col class="align-right" :span="3">
          <ml-button type="subtle" @click="toggleCollapse()" :icon="show ? 'double-chevron-up' : 'code'">查看代码</ml-button>
        </ml-col>
      </ml-row>
    </div>
    <ml-row class="overflow-hidden">
      <ml-col :span="12">
        <div class="example-slot align-center">
          <slot></slot>
        </div>
      </ml-col>
      <ml-col class="code-example" :span="12" style="min-height: 0;">
        <div >
          <ml-code :style="{height, fontSize: '13px'}" mode="text/x-vue" minHeight="120px" :value="local_template"></ml-code>
        </div>
      </ml-col>
    </ml-row>
    <div class="example-toggle-bar" @click="toggleCollapse()">
      <ml-icon :name="show ? 'double-chevron-up' : 'double-chevron-down'"></ml-icon>
      <div class="toggle-text">
        {{ show ? 'Collapse Example' : 'Expand Example' }}
      </div>
    </div>
  </div>
</template>

<script>
const MlCode = () => ({
  component: import('./Code.vue'),
  delay: 0,
  timeout: 3000
})

export default {
  name: 'MLExample',
  components: {
    MlCode
  },
  props: {
    template: {
      type: String,
      default: ''
    },
    script: {
      type: String,
      default: ''
    },
    css: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      show: false,
      height: 0,
      local_template: this.template,
      local_script: this.script,
      local_style: this.css
    }
  },
  computed: {
  },
  mounted () {
  },
  methods: {
    toggleCollapse () {
      this.show = !this.show
      if (this.height === 0) {
        this.height = 'auto'
      } else {
        this.height = 0
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.example-slot {
  background: $white;
  border-bottom: 0;
  padding: 40px 15px;
  bdrs(3px)
  min-height: 100px;
}
.code-template {
  box-shadow $dropShadow
  transition: box-shadow .2s;
  bdrs(2px)
  margin: 20px 0 40px 0;
  &:hover {
    box-shadow: $dropShadowDarker
  }
  .example-header {
    line-height: 32px;
    padding: 8px 15px;
    font-size: $fontSize;
    border-bottom 1px solid alpha($light, .7)
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .code-example {
    background: #282b33;
    // TODO: hard coded? light theme?
  }
  .example-toggle-bar {
    padding: 8px 20px;
    text-align: center;
    border-top: 1px solid alpha($primary, .1);
    cursor pointer
    color: $secondary;
    transition: all .3s;
    background: alpha($primary, .05)
    .ml-svg-icon-container {
      margin-right: 5px;
      font-size: 16px;
    }
    .toggle-text {
      display: inline-block;
      font-size: $fontSize;
      vertical-align: top;
      line-height: 20px;
    }
    &:hover {
      background: alpha($primary, .1);
      color $primary
    }
  }
}
</style>
