<template>
  <div class="ml-svg-icon-container">
    <slot>
      <!-- <svg class="ml-svg-icon" :data-icon="name" :width="size" :height="size" viewBox="0 0 20 20">
        <desc>{{name}}</desc>
        <g v-html="rawPath"></g>
      </svg> -->
      <svg class="ml-svg-icon" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20" :width="size" :height="size">
        <use style="fill: currentColor" :xlink:href="'#icon-' + name" />
      </svg>
    </slot>
  </div>
</template>

<script>
import svgMap from '../data/icons/icons.js'

const svgNS = 'http://www.w3.org/2000/svg'
export default {
  name: 'MLIcon',
  props: {
    name: {
      type: String,
      default: ''
    },
    size: {
      default: 20,
      type: Number
    }
  },
  data () {
    return {
      path: ''
    }
  },
  computed: {
    rawPath () {
      if (this.name) {
        var size = '20px'
        var svgDict = svgMap[this.name]
        if (svgDict) {
          var svgStr = svgDict[size]
          return svgStr.replace(/^<svg[^>]*>/gi, '').replace(/<\/svg>/gi, '')
        }
        return ''
      } else {
        return ''
      }
    },
    svg () {
      if (this.name) {
        var size = '20px'
        var svgDict = svgMap[this.name]
        if (svgDict) {
          return svgDict[size] || {}
        }
        return ''
      } else {
        return ''
      }
    }
  },
  watch: {
    name: {
      immediate: true,
      handler: function (name) {
        if (name && svgMap[name]) {
          const icon = svgMap[name]
          if (!icon.mounted) {
            this.mountIcon(icon)
          }
        }
      }
    }
  },
  methods: {
    mountIcon (icon) {
      if (!icon.mounted) {
        icon.mounted = true
        const svg = document.querySelector('#__SVG_SPRITE_NODE__')
        const symbol = document.createElementNS(svgNS, 'symbol')
        symbol.setAttributeNS(svgNS, 'viewBox', '0 0 20 20')
        symbol.setAttribute('id', `icon-${icon.name}`)
        symbol.id = `icon-${icon.name}`
        symbol.innerHTML = icon.path
          .replace(/^<svg[^>]*>/gi, '')
          .replace(/<\/svg>/gi, '')
        svg.appendChild(symbol)
      }
    }
  }
}
</script>

<style lang="stylus">
.ml-svg-icon-container {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0;
  margin: 0 1px;
  vertical-align: baseline;
  transform: translateY(12.5%);
}
.ml-svg-icon {
  vertical-align: top;
  fill: currentColor;
  height: 1em;
  width: 1em;
  display: block;
  overflow: visible;
}
</style>
