<template>
  <div class="ml-information" :class="classObject" v-show="local_visible">
    <ml-button class="ml-information-close" type="subtle" icon="cross" square @click="close" v-if="closable">
    </ml-button>
    <div class="ml-information-icon" v-if="icon && hasMessage && title">
      <ml-icon :name="icon"></ml-icon>
    </div>
    <div class="ml-information-body">
      <div class="ml-information-title" :class="{'has-message': hasMessage}" v-if="title">
        <ml-icon :name="icon" v-if="!hasMessage && icon"></ml-icon>
        {{title}}
      </div>
      <div class="ml-information-message">
        <ml-icon :name="icon" v-if="!title && icon"></ml-icon>
        <slot>
          {{message}}
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MLInformation',
  props: {
    type: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    message: {
      type: String,
      default: ''
    },
    closable: {
      type: Boolean,
      default: true
    },
    icon: {
      type: String,
      default: ''
    },
    intent: {
      type: String,
      default: ''
    },
    visible: {
      default: true,
      type: [Boolean, String, Object]
    },
    heavy: {
      default: false,
      type: Boolean
    },
    bordered: {
      default: false,
      type: Boolean
    }
  },
  data () {
    return {
      local_visible: true
    }
  },
  computed: {
    classObject () {
      var classObj = {}
      if (this.intent) {
        classObj[this.intent] = true
      }
      if (this.type) {
        classObj[this.type] = true
      }
      classObj['heavy'] = this.heavy
      classObj['bordered'] = this.bordered
      return classObj
    },
    hasMessage () {
      return this.message || this.$slots.default
    }
  },
  watch: {
    visible: {
      immediate: true,
      handler: function (val) {
        this.local_visible = val
      }
    }
  },
  methods: {
    close () {
      this.$emit('close')
      this.local_visible = false
      this.$emit('update:visible', false)
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
accent-color(bg, fg=$white) {
  background: alpha(bg, 0.075);
  color: bg;
  border: 1px solid transparent;
  .ml-btn.ml-btn-subtle {
    color: bg;
    &:hover {
      background-color: bg + 80%;
      opacity: .75
    }
  }
  &.bordered {
    border: 1px solid alpha(bg, .7);
  }
  &.heavy {
    background: bg;
    border: 1px solid bg;
    color: fg;
    .ml-btn.ml-btn-subtle {
      color: fg;
      &:hover {
        background-color: bg + 40%;
        opacity: .75
      }
    }
  }
}

.ml-information {
  padding: 10px;
  bdrs(2px)
  text-align: left;
  margin-bottom: 10px;
  accent-color($secondary)
  &.primary {
    accent-color($primary)
  }
  &.success {
    accent-color($success)
  }
  &.warning {
    accent-color($warning, $dark+20%)
  }
  &.danger {
    accent-color($danger)
  }
  &.information {
    accent-color($info)
  }
  &.info {
    accent-color($info)
  }
  &.dark {
    accent-color($dark)
  }
  .ml-information-close {
    float: right;
    margin-top: -6px;
    margin-right: -6px;
  }
  .ml-information-title {
    font-weight: bold;
    font-size: $fontSize;
    &.has-message {
      margin-bottom: 10px;
    }
  }
  .ml-information-message {
    font-size: 13px;
  }
  .ml-information-icon {
    font-size: 36px;
    line-height: 1.1;
    float: left;
    width: 50px;
    + .ml-information-body {
      margin-left: 50px;
    }
  }
}
</style>
