<template>
  <div class="input-container" :class="[{'input-block': fill, 'textarea': type === 'textarea'}, size]">
    <textarea :min="min" :max="max" :step="step" :readonly="readonly" v-if="type ==='textarea'" class="ml-input" :name="name" :id="id" :cols="cols" :rows="rows" v-model="local_value" :class="className" :placeholder="placeholder" :disabled="disabled" v-on="inputListeners"></textarea>
    <input :min="min" :max="max" :step="step" :readonly="readonly" v-else :type="type" class="ml-input" :name="name" :id="id" v-model="local_value" :class="className" :placeholder="placeholder" :disabled="disabled" v-on="inputListeners">
    <template v-if="validating">
      <i :class="`ml-input-icon append validating`">
        <svg viewBox="0 0 50 50" class="spinner">
          <circle fill="none" class="ring" cx="25" cy="25" r="22.5" />
          <circle fill="none" class="line" cx="25" cy="25" r="22.5" />
        </svg>
      </i>
    </template>
    <template v-else>
      <div class="ml-input-icon" :class="!append ? 'prepend' : 'append'" v-if="icon" @click="clickIcon">
        <ml-icon v-if="prepend && !append && icon" :name="icon"></ml-icon>
        <ml-icon v-if="append && icon" :name="icon"></ml-icon>
      </div>
    </template>
  </div>
</template>

<script>
import _ from '@/utils/utils'

Promise.pending = Promise.race.bind(Promise, [])
export default {
  name: 'MLInput',
  props: {
    id: {
      type: String,
      default: undefined
    },
    type: {
      type: String,
      default: 'text'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    size: {
      default: 'normal',
      type: String
    },
    fill: {
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    state: {
      type: String,
      default: ''
    },
    underline: {
      default: false,
      type: Boolean
    },
    cols: {
      default: 30,
      type: Number
    },
    rows: {
      default: 10,
      type: Number
    },
    min: {
      type: [Number, String],
      default: ''
    },
    max: {
      type: [Number, String],
      default: ''
    },
    readonly: {
      type: Boolean,
      default: false
    },
    step: {
      type: [Number, String],
      default: ''
    },
    value: {
      type: [String, Number],
      default: ''
    },
    focus: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String,
      default: ''
    },
    prepend: {
      type: Boolean,
      default: true
    },
    append: {
      type: Boolean,
      default: false
    },
    required: {
      default: false,
      type: Boolean
    },
    rules: {
      default: function () {
        return []
      },
      type: Array
    }
  },
  data () {
    return {
      local_value: _.cloneDeep(this.value),
      local_validation: [],
      cancel: null
    }
  },
  computed: {
    className () {
      var type = this.type || 'default'
      var classNames = {}
      classNames[type] = true
      if (this.state) {
        classNames[this.state] = true
      }
      if (this.invalid) {
        classNames['invalid'] = true
      }
      classNames['disabled'] = this.disabled
      classNames['ml-input-icon-prepend'] = this.icon && this.prepend && !this.append
      classNames['ml-input-icon-append'] = this.icon && this.append
      classNames['invalid'] = this.local_invalid
      classNames['underline'] = this.underline
      return classNames
    },
    local_invalid () {
      return _.find(this.local_validation, d => {
        return d.valid === false
      })
    },
    validating () {
      return _.find(this.local_validation, d => {
        return d.pending === true
      })
    },
    inputListeners: function () {
      var vm = this
      return Object.assign({},
        this.$listeners,
        {
          input: function (event) {
            vm.$emit('input', event.target.value)
          }
        }
      )
    }
  },
  watch: {
    value: {
      handler: function (newVal, oldVal) {
        this.local_value = newVal
      }
    },
    local_value: {
      handler: function (newVal) {
        this.$emit('input', newVal)
      }
    },
    local_validation: {
      deep: true,
      handler: function (newVal) {
        this.$emit('validate', newVal)
      }
    }
  },
  mounted () {
    if (this.focus) {
      this.$nextTick(() => {
        this.focusInput()
      })
    }
    this.$watch('local_value', _.debounce(this.validateRules, 200))
  },
  methods: {
    clickIcon () {
      this.$emit('icon')
    },
    validateRules () {
      var rules = this.rules
      if (this.required) {
        rules.push({
          type: 'required',
          value: true,
          message: '此区域为必填'
        })
      }
      this.local_validation = []
      rules.forEach(r => {
        var state = {
          rule: r,
          pending: false,
          valid: true
        }
        this.local_validation.push(state)
        this.validateValue(state)
      })
    },
    validateValue (state) {
      var val = this.local_value
      // var rule = this.rule
      var rule = state.rule
      if (!rule) {
        state.valid = true
        return
      }
      switch (rule.type) {
        case 'required':
          if (rule.value && val === '') {
            state.valid = false
          }
          break
        case 'max':
          if (val.length >= rule.value) {
            state.valid = false
          }
          break
        case 'min':
          if (val.length <= rule.value) {
            state.valid = false
          }
          break
        case 'regex':
          var regex = rule.value
          if (rule.value instanceof RegExp) {
            regex = new RegExp(regex)
          }
          state.valid = regex.test(val)
          break
        case 'callback':
          state.pending = true
          if (this.cancel) {
            this.cancel()
          }
          new Promise((resolve, reject) => {
            this.cancel = function () {
              resolve(Promise.pending())
            }
            var callback = function (error, result) {
              if (!error) {
                resolve(result)
              } else {
                reject(error)
              }
            }
            try {
              rule.value(val, callback)
            } catch (error) {
              callback(error)
            }
          }).then(result => {
            state.valid = true
          }).catch(error => {
            state.valid = false
            this.$emit('invalid', error)
          }).finally(() => {
            state.pending = false
          })
          break
        default:
          break
      }
      return state
    },
    focusInput () {
      if (this.type === 'textarea') {
        this.$el.getElementsByTagName('textarea')[0].focus()
      } else {
        this.$el.getElementsByTagName('input')[0].focus()
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'

input-color(color)
  color: color
  border-color: color
  background-color: alpha(color, 0.03)
  &:hover {
    background-color: alpha(color, 0.1)
  }
  &:focus {
    background-color: $white;
    + .ml-input-icon {
      color: color;
    }
  }
  + .ml-input-icon {
    color: color;
  }

placeholder(color)
  &::-webkit-input-placeholder {
  color: color;
  }
  &::-moz-placeholder {
    color: color;
  }
  &:-ms-input-placeholder {
    color: color;
  }
  &:-moz-placeholder {
    color: color;
  }

input-size(fontSize, padding, padding2, height)
  font-size: fontSize;
  padding: padding padding2;
  height: height;

mix-input-size()
  sizes = ('xlarge' 18px 10px 10px 44px) ('large' 16px 6px 10px 36px) ('normal' 14px 6px 10px 32px) ('small' 12px 4px 10px 26px) ('mini' 11px 2px 10px 22px)
  for size in sizes
    sizeName = size[0]
    sizeFont = size[1]
    sizePadding = size[2]
    sizePadding2 = size[3]
    sizeHeight = size[4]
    &.{size} {
      > .ml-input {
        input-size(sizeFont, sizePadding, sizePadding2, sizeHeight)
        &.textarea {
          height: auto;
        }
        &.underline {
          padding-left: 3px;
          padding-right: 3px;
        }
      }
      > .ml-input-icon {
        $lineHeight = (sizeHeight - 2 - 2 * sizePadding)
        font-size: sizeFont
        height: $lineHeight
        line-height: $lineHeight
        &.prepend {
          left: sizePadding2;
          right: auto;
        }
        &.append {
          right: sizePadding2;
          left: auto;
        }
      }
      > .ml-input-icon-prepend {
        padding-left: sizeFont*2.2;
      }
      > .ml-input-icon-append {
        padding-right: sizeFont*2.2;
      }
    }

.ml-input {
  -webkit-appearance: none;
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  border-radius: 2px
  border: 1px solid $light;
  background: $light + 90%;
  padding: 6px 12px
  font-size: $fontSize;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  color: $dark;
  outline: 0;
  line-height: 1.5;
  transition: 0.2s all;
  placeholder($gray)
  .textarea & {
    resize: vertical;
    min-height: 32px;
  }
  &:hover{
    // border-color: $secondary;
    background-color: $light + 60%;
  }
  &:focus{
    outline: 0;
    border-color: $primary;
    background-color: $white;
  }
  &.primary{
    input-color($primary)
  }
  &.danger {
    input-color($error)
  }
  &.invalid {
    input-color($error)
  }
  &.error{
    input-color($error)
  }
  &.warning{
    input-color($warning)
  }
  &.info{
    input-color($info)
  }
  &.success{
    input-color($success)
  }
  &.disabled{
    color: $gray;
    cursor: not-allowed;
    color: $secondary + 40%
    background: $gray + 80%
    border-color: $gray + 50%
    cursor: not-allowed
    box-shadow: none;
    &.allowed{
      cursor: pointer;
    }
  }
  &.invalid{
    input-color($danger)
  }
  &.underline {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    bdrs(0)
  }
}

.input-container {
  position relative;
  width: 260px;
  max-width: 100%;
  display inline-block;
  vertical-align: top;
  line-height: 1;
  &.textarea {
    vertical-align: top;
  }
  &.input-block {
    width: 100%;
  }
  mix-input-size()
}

.ml-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // pointer-events: none;
  color: $gray - 20%;
  transition: 0.2s color;
  cursor pointer
  .ml-input:focus + & {
    color: $primary
  }
  &.prepend {
    left: 12px;
    right: auto;
  }
  &.append {
    right: 12px;
    left: auto;
    .textarea & {
      top: auto;
      bottom: 0px;
      transform: translateY(0)
    }
    &.validating {
      // right: 8px;
      svg {
        width: 18px;
        display: inline-block;
        vertical-align: top;
        line-height: 1;
      }
    }
  }
}
</style>
