<template>
  <div :class="{
      'ml-label-container': true,
      'horizontal': horizontal,
      'clearfix': true
    }">
    <label class="ml-label-text" :for="id" :style="labelStyle">
      <slot name="title">
        <span class="ml-label-text-span">
          {{title}}
        </span>
      </slot>
      <ml-icon name="asterisk" class="ml-label-required-sign" title="Required" v-if="required"></ml-icon>
      <a class="ml-label-icon-hash" href="#" @click.stop.prevent="info" v-if="icon">
        <ml-icon :name="icon"></ml-icon>
      </a>
    </label>
    <div class="ml-label-content" :style="containerStyle">
      <slot :id="id"></slot>
      <slot name="subtle"></slot>
    </div>
  </div>
</template>

<script>
import uuid from 'uuid'
export default {
  name: 'MLLabel',
  props: {
    title: {
      type: String,
      default: ''
    },
    horizontal: {
      type: Boolean,
      default: false
    },
    width: {
      default: '200px',
      type: String
    },
    icon: {
      type: String,
      default: ''
    },
    for: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      uuid: uuid()
    }
  },
  computed: {
    labelStyle () {
      if (this.horizontal) {
        return {
          width: this.width
        }
      }
      return {}
    },
    containerStyle () {
      if (this.horizontal) {
        return {
          width: `calc(100% - ${this.width})`,
          float: 'left'
        }
      }
      return {}
    },
    id () {
      return this.for || this.uuid
    }
  },
  methods: {
    info () {
      this.$emit('info')
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.ml-label-container {
  text-align: left;
  margin-bottom: 15px;
  &.horizontal {
    // margin-bottom: 25px;
  }
  > label.ml-label-text{
    font-size: $fontSize;
    margin-bottom: 10px;
    display: inline-block;
    .ml-label-text-span {
      display: inline-block;
    }
    .ml-label-icon-hash {
      margin-left: 4px;
    }
    .horizontal& {
      float: left;
      line-height: 32px;
      margin-bottom: 0;
    }
    .ml-label-required-sign {
      color: $danger;
      font-size: 10px;
      -ms-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -o-transform: scale(0.8);
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      margin-left: 4px;
      vertical-align: top;
    }
  }
}
</style>
