<template>
  <transition name="ml-message-animation" v-on:leave-cancelled="leaveCancelled" v-on:before-leave="leaveEffect" v-on:after-leave="afterLeave">
    <div class="ml-message" :class="classObject" :style="styleObject" v-show="showed" @mouseenter="handlerMouseEnter" @mouseleave="handlerMouseLeave">
      <ml-button class="ml-message-close" type="link" size="" icon="cross" square @click="close" v-if="closable"></ml-button>
      <div class="ml-message-icon" v-if="icon && hasMessage" :class="{
          small: !(hasMessage && title)
      }">
        <ml-icon :name="icon"></ml-icon>
      </div>
      <div class="ml-message-body">
        <div class="ml-message-title" :class="{'has-message': hasMessage}" v-if="title">
          <ml-icon :name="icon" v-if="!hasMessage && icon"></ml-icon>
          {{ title }}
        </div>
        <div class="ml-message-message">
          <slot>
            {{ message }}
          </slot>
        </div>
        <div class="ml-message-actions" v-if="actions.length">
          <ml-button v-for="(action,idx) in actions" @click="clickAction(action)" :type="action.type || (heavy ? 'default' : type)" :icon="action.icon" :size="action.size" :key="idx">
            {{ action.text }}
          </ml-button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import MlButton from './Button.vue'
export default {
  name: 'MLMessageShot',
  components: { MlButton },
  props: {
    heavy: {
      default: false,
      type: Boolean
    },
    type: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    message: {
      type: String,
      default: ''
    },
    closable: {
      type: Boolean,
      default: true
    },
    duration: {
      type: Number,
      default: 4000
    },
    icon: {
      type: String,
      default: ''
    },
    actions: {
      default: function () {
        return []
      },
      type: Array
    }
  },
  data () {
    return {
      showed: false,
      styleObject: {},
      localDelay: ''
    }
  },
  computed: {
    classObject () {
      var type = this.type
      return {
        primary: type === 'primary',
        warning: type === 'warning',
        danger: type === 'danger',
        success: type === 'success',
        information: type === 'information',
        default: type === 'default',
        heavy: this.heavy
      }
    },
    hasMessage () {
      return this.message || this.$slots.default
    }
  },
  mounted () {
    this.updateTimeout()
    window.setTimeout(() => {
      this.showed = true
    }, 0)
  },
  methods: {
    updateTimeout () {
      if (this.duration && typeof this.duration === 'number' && this.duration > 0) {
        this.localDelay = window.setTimeout(() => {
          this.close()
        }, this.duration)
      }
    },
    handlerMouseEnter () {
      window.clearTimeout(this.localDelay)
    },
    handlerMouseLeave () {
      this.updateTimeout()
    },
    close () {
      this.showed = false
      this.$emit('close')
    },
    clickAction (action) {
      if (action.callback) {
        action.callback(this)
      }
    },
    afterLeave () {
      this.$emit('closed')
    },
    leaveEffect () {
      let height = this.$el.getBoundingClientRect().height
      this.styleObject = {
        marginTop: `-${height}px`
      }
    },
    leaveCancelled () {
      this.styleObject = {
        marginTop: '20px'
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
accent-color(color) {
  color: color;
  .ml-message-icon {
    color: color;
  }
  .ml-btn.ml-btn-link {
    color: color;
    &:hover {
      background-color: alpha(color, 0.1)
    }
  }
  &.heavy {
    color: $white;
    background-color: color;
    .ml-message-icon {
      color: $white;
    }
    .ml-message-actions {
      .ml-btn.ml-btn-default.ml-btn-default {
        background-color: $white;
        color: color;
        border-color: $white;
      }
    }
    .ml-btn.ml-btn-link {
      color: $white;
      &:hover {
        background-color: alpha($white, .1)
      }
    }
  }
}

.ml-message {
  position relative;
  padding: 20px;
  bdrs(2px)
  text-align: left;
  margin-bottom: 0;
  margin-top: 20px;
  accent-color($light - 50%)
  background: $white;
  width: 400px;
  box-shadow 0 20px 32px -8px alpha($secondary, 0.25), 0 0 1px alpha($secondary, 0.3)
  pointer-events: all;
  display: block;
  opacity: 1;
  &:before {
    content: '';
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    .heavy& {
      opacity: 0;
    }
  }
  &.primary {
    accent-color($primary)
  }
  &.success {
    accent-color($success)
  }
  &.warning {
    accent-color($warning)
  }
  &.danger {
    accent-color($danger)
  }
  &.information {
    accent-color($info)
  }
  // &.default {
  //   accent-color($white)
  // }
  .ml-message-close {
    float: right;
    margin-top: -5px;
    margin-right: -10px;
  }
  .ml-message-title {
    font-weight: bold;
    font-size: $fontSize;
    &.has-message {
      margin-bottom: 10px;
    }
  }
  .ml-message-message {
    font-size: $fontSize;
    line-height: 20px;
  }
  .ml-message-icon {
    position: absolute;
    font-size: 36px;
    line-height: 1.1;
    float: left;
    width: 50px;
    + .ml-message-body {
      margin-left: 50px;
    }
    &.small {
      font-size: 18px;
      + .ml-message-body {
        margin-left: 30px;
      }
    }
  }
  &.showed {
    opacity: 1;
    margin-top: 0;
  }
  &.closed {
    opacity: 0;
  }
  .ml-message-actions {
    margin-top: 15px;
  }
}

.ml-message-container {
  position: fixed;
  top: 10px;
  right: 30px;
  z-index: 10000;
  pointer-events: none;
}

.ml-message-animation-enter-active {
  opacity: 0;
  margin-top: 100px;
}
.ml-message-animation-enter-to {
  opacity: 1;
  margin-top: 20px;
  transition: opacity .3s, margin-top .3s;
}
.ml-message-animation-leave-active {
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 20px;
  padding: 20px;
  transition: opacity .3s, margin-top .3s;
}
.ml-message-animation-leave-to {
  opacity: 0;
  margin-top: -150px;
}

</style>
