<template>
  <ml-portal ref="portal" :target="portal">
    <transition name="ml-modal-animation" :duration="{ enter: 300, leave: 200 }" v-on:after-leave="afterLeave">
      <div ref="modal-container" class="ml-modal-container" :class="[{showed, neat}, className]" v-if="showed" @keydown.esc="handlerEscapeKey($event)" tabindex="0">
        <div class="ml-modal-backdrop" @click="clickBackDrop()"></div>
        <div class="ml-modal-box" :style="{width, minWidth}">
          <div class="ml-modal-inner-box">
            <div class="ml-modal-header" :class="{'no-title': !title}">
              <slot name="title">
                <ml-button v-if="closable" class="ml-modal-close" type="subtle" square icon="cross" @click="close"></ml-button>
                <div class="ml-modal-title">
                  {{title}}
                </div>
              </slot>
            </div>
            <div class="ml-modal-body" :class="{'no-footer': !hasFooter}" v-loading="localLoading">
              <div class="ml-modal-body-inner">
                <slot>
                  {{message}}
                  <div v-if="prompt" class="ml-modal-body-inner-prompt">
                    <ml-input @keydown.enter="onConfirm" focus fill v-model="value" type="text" />
                  </div>
                </slot>
              </div>
            </div>
            <div class="ml-modal-footer ml-loading-parent-relative" v-if="hasFooter">
              <slot name="footer">
                <div class="actions" v-if="actions.length">
                  <ml-button :focus="action.focus" v-for="(action,idx) in actions" @click="clickAction(action)" :type="action.type || type" :icon="action.icon" :size="action.size" :key="idx">
                    {{action.text}}
                  </ml-button>
                </div>
              </slot>
              <div class="ml-loading-mask show" v-if="localLoading">
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </ml-portal>
</template>

<script>
export default {
  name: 'MLModal',
  props: {
    title: {
      type: String,
      default: ''
    },
    className: {
      type: String,
      default: ''
    },
    actions: {
      default: function () {
        return []
      },
      type: Array
    },
    closable: {
      default: true,
      type: Boolean
    },
    type: {
      default: 'default',
      type: String
    },
    neat: {
      default: false,
      type: Boolean
    },
    message: {
      default: '',
      type: String
    },
    prompt: {
      default: false,
      type: Boolean
    },
    minWidth: {
      default: '100px',
      type: String
    },
    width: {
      default: '500px',
      type: String
    },
    visible: {
      default: true,
      type: Boolean
    },
    keep: {
      default: false,
      type: Boolean
    },
    portal: {
      type: [Boolean, String],
      default: 'body'
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      showed: false,
      localLoading: this.loading,
      value: ''
    }
  },
  computed: {
    hasFooter () {
      return this.$slots.footer || this.actions.length
    }
  },
  watch: {
    loading: {
      handler: function (newVal) {
        this.localLoading = newVal
      }
    },
    visible: {
      handler: function (newVal, oldVal) {
        if (newVal !== this.showed) {
          newVal ? this.show() : this.close()
        }
      }
    },
    showed: {
      handler: function (newVal, oldVal) {
        if (newVal) {
          this.$nextTick(() => {
            this.$refs['modal-container'].focus()
          })
        }
        if (newVal !== this.visible) {
          this.$emit('update:visible', newVal)
        }
      }
    }
  },
  mounted () {
    this.visible ? this.show() : this.close()
  },
  methods: {
    handlerEscapeKey ($event) {
      if (this.closable && this.showed && !$event.defaultPrevented) {
        this.close()
        $event.preventDefault()
        return false
      }
    },
    afterLeave () {
      this.$emit('closed', true)
    },
    close () {
      this.$emit('close', true)
      this.showed = false
    },
    onConfirm () {
      this.$emit('prompt', this.value)
    },
    show () {
      this.showed = true
    },
    clickAction (action) {
      if (action.callback) {
        action.callback(this)
      }
      if (action.dismiss) {
        this.close()
      }
    },
    clickBackDrop () {
      if (!this.keep) {
        this.close()
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'

nextLoop(next){
  &.showed {
    + .ml-modal-container {
      &.showed .ml-modal-box {
        margin-top: next * 10
      }
      if next < 5 {
        nextLoop(next + 1)
      }
    }
  }
}

.ml-modal-container {
  text-align: left;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 10000;
  .ml-modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: alpha($dark, 0.56)
    opacity: 1;
  }
  + .ml-modal-container {
    .ml-modal-backdrop {
      background: alpha($dark, 0.4)
    }
  }
  .ml-modal-box {
    max-width: calc(100% - 120px);
    width: 500px;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 100px);
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: 510;
    // margin-top: 80px;
    margin-top: 0;
    opacity: 1;
    .ml-modal-inner-box {
      box-shadow: alpha($dark, 0.08) 0px 0px 0px 1px, alpha($dark, 0.08) 0px 2px 1px, alpha($dark, 0.31) 0px 0px 20px -6px;
      display: flex;
      flex-direction: column;
      background: $white;
      overflow: auto; // fix firefox overflow scroll.
      bdrs(2px)
    }
    .ml-modal-header {
      position relative;
      padding: 16px;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      flex: 0 0 auto;
      .ml-modal-title {
        font-size: 18px;
        font-weight: 500;
      }
      .ml-modal-close {
        position: absolute;
        z-index: 1;
        top: 14px;
        right: 12px;
      }
      &.no-title {
        padding: 0;
        .ml-modal-close {
          top: 10px;
        }
      }
    }
    .ml-modal-body {
      overflow auto;
      display: flex;
      padding 2px 16px;
      flex: 1 1 auto;
      overflow-x: hidden;
      &.no-footer {
        padding-bottom: 16px;
      }
      .neat& {
        padding 0;
      }
      .ml-modal-body-inner {
        display: block;
        width: 100%;
        position: relative;
        .ml-modal-body-inner-prompt {
          margin-top: 15px;
        }
      }
    }
    .ml-modal-footer {
      display: flex;
      padding: 16px;
      -webkit-box-pack: justify;
      justify-content: space-between;
      flex: 0 0 auto;
      .actions {
        flex: auto;
        text-align: right;
      }
    }
  }
  nextLoop(1px)
}

.ml-modal-animation-enter {
  .ml-modal-backdrop {
    opacity: 0;
  }
  .ml-modal-box {
    opacity: 0;
    // transform: scale(.96);
    margin-top: 80px!important;
  }
}
.ml-modal-animation-enter-to {
  .ml-modal-backdrop {
    opacity: 1;
    transition: opacity .3s;
  }
  .ml-modal-box {
    opacity: 1;
    margin-top: 0px;
    transform: scale(1);
    transition: opacity .3s, margin-top .3s, transform .3s;
  }
}
.ml-modal-animation-leave {
  .ml-modal-backdrop {
    opacity: 1;
    transition: opacity .2s;
  }
  .ml-modal-box {
    opacity: 1;
    transform: scale(1);
    transition: opacity .2s, margin-top .2s;
  }
}
.ml-modal-animation-leave-to {
  .ml-modal-backdrop {
    opacity: 0;
    transition: opacity .2s;
  }
  .ml-modal-box {
    opacity: 0;
    // transform: scale(.95);
    margin-top: -50px!important;
    transition: opacity .2s, margin-top .2s, transform .2s;
  }
}
</style>
