<template>
  <div class="ml-pagination">
    <ml-button :type="type" class="ml-pagination-previous" @click="previous(1)" :disabled="!canPrevious">
      <ml-icon name="chevron-left"></ml-icon>
    </ml-button>
    <ml-button
      :type="!isActive(1) ? type : undefined"
      class="ml-pagination-block"
      @click="goto(1)"
      :intent="isActive(1) ? intent : undefined">
      1
    </ml-button>
    <ml-button
      :type="type"
      class="ml-pagination-more previous"
      @click="previous(5)"
      v-if="hasPreviousMore">
      <ml-icon name="more" class="hover-hide"></ml-icon>
      <ml-icon name="double-chevron-left" class="hide"></ml-icon>
    </ml-button>
    <ml-button
      :type="!isActive(page.number) ? type : undefined"
      class="ml-pagination-block"
      v-for="page in pages" :key="page.number"
      @click.stop.prevent="goto(page.number)"
      :intent="isActive(page.number) ? intent : undefined">
      {{ page.number }}
    </ml-button>
    <ml-button
      :type="type"
      class="ml-pagination-more next"
      @click="next(5)"
      v-if="hasNextMore">
      <ml-icon name="more" class="hover-hide"></ml-icon>
      <ml-icon name="double-chevron-right" class="hide"></ml-icon>
    </ml-button>
    <ml-button
      :type="isActive(last) ? undefined : type"
      class="ml-pagination-block"
      @click="goto(last)"
      :intent="isActive(last) ? intent : undefined"
      v-if="last > 1">
      {{ last }}
    </ml-button>
    <ml-button :type="type" class="ml-pagination-next" @click="next(1)" :disabled="!canNext">
      <ml-icon name="chevron-right"></ml-icon>
    </ml-button>
  </div>
</template>

<script>
import _ from '@/utils/utils'

export default {
  name: 'MLPagination',
  props: {
    type: {
      default: 'subtle',
      type: String
    },
    size: {
      type: Number,
      default: 10
    },
    total: {
      type: Number,
      default: 30
    },
    page: {
      type: Number,
      default: 1
    },
    intent: {
      default: 'primary',
      type: String
    },
    mini: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      local_page: this.page
    }
  },
  computed: {
    count () {
      return Math.ceil(this.total / this.size)
    },
    pages () {
      var pages = this.count
      var page = this.local_page
      if (pages <= 2) {
        return []
      }
      var gap = 2
      var leftNum = gap
      if (page - (gap + 1) < 1) {
        leftNum = page - 1 - 1
      }
      var rightNum = gap
      if (page + (gap + 1) > pages) {
        rightNum = pages - page - 1
      }
      var pageStart = page - leftNum
      return Array.from(Array(rightNum + leftNum + 1)).map((v, i) => {
        return {
          number: pageStart + i
        }
      })
    },
    last () {
      return Math.ceil(this.total / this.size)
    },
    hasPreviousMore () {
      if (this.pages.length) {
        return _.first(this.pages).number - 1 > 1
      } else {
        return false
      }
    },
    hasNextMore () {
      if (this.pages.length) {
        return _.last(this.pages).number + 1 < this.last
      } else {
        return false
      }
    },
    canPrevious () {
      return this.local_page > 1
    },
    canNext () {
      return this.local_page < this.count
    }
  },
  watch: {
    local_page (newVal) {
      this.$emit('update:page', newVal)
      this.$emit('pagination', newVal)
    },
    page (newVal) {
      if (newVal !== this.local_page) {
        this.local_page = newVal
      }
    }
  },
  methods: {
    isActive (num) {
      return this.local_page === num
    },
    goto (page) {
      this.local_page = page
    },
    previous (num) {
      var maxGap = this.local_page - 1
      this.local_page -= Math.min(num, maxGap)
    },
    next (num) {
      var maxGap = this.total - this.local_page
      this.local_page += Math.min(num, maxGap)
    }
  }
}
</script>

<style lang="stylus">
.ml-pagination-more {
  .hide {
    display: none!important;
  }
  &:hover {
    .hover-hide {
      display: none;
    }
    .hide {
      display: inline-block!important;
    }
  }
}
</style>
