<template>
  <div class="ml-portal">
    <slot></slot>
  </div>
</template>

<script>
// github.com/calebroseland/vue-dom-portal
import dom from '@/utils/dom'
import _ from '@/utils/utils'

function getTarget (node = document.body) {
  let container
  if (node === true) {
    container = document.body
  } else {
    container = node instanceof window.Node ? node : document.querySelector(node)
  }
  // container
  // let $container = container.childNodes
  let $container = _.find(container.childNodes, child => {
    return dom.hasClass(child, 'ml-portal-container')
  })
  if (!$container) {
    $container = dom.template('<div class="ml-portal-container"></div>')[0]
    dom.append($container, container)
  }
  return $container
}

const homes = new Map()

export default {
  name: 'MLPortal',
  props: {
    target: {
      type: [Boolean, String],
      default: 'body'
    }
  },
  data () {
    return {
      child: ''
    }
  },
  watch: {
    target: {
      handler: function (value, oldVal) {
        if (value === oldVal) {
          return
        }
        let el = this.child
        const { parentNode, home, hasMovedOut } = homes.get(el) // recall where home is
        if (!hasMovedOut && value) {
          // remove from document and leave placeholder
          parentNode.replaceChild(home, el)
          // append to target
          getTarget(value).appendChild(el)

          homes.set(el, Object.assign({}, homes.get(el), { hasMovedOut: true }))
        } else if (hasMovedOut && value === false) {
          // previously moved, coming back home
          parentNode.replaceChild(el, home)
          homes.set(el, Object.assign({}, homes.get(el), { hasMovedOut: false }))
        } else if (value) {
          // already moved, going somewhere else
          getTarget(value).appendChild(el)
        }
      }
    }
  },
  mounted () {
    let el = this.$el.firstChild
    this.child = el
    const { parentNode } = el
    const home = document.createComment('')
    let hasMovedOut = false
    if (this.target !== false) {
      parentNode.replaceChild(home, el) // moving out, el is no longer in the document
      getTarget(this.target).appendChild(el) // moving into new place
      hasMovedOut = true
    }

    if (!homes.has(el)) homes.set(el, { parentNode, home, hasMovedOut }) // remember where home is or should be
  },
  beforeDestroy () {
    let slot = this.$slots.default
    let firstChild = slot[0].elm
    dom.remove(firstChild)
  },
  methods: {
    prepareContainer () {
    }
  }
}
</script>
