<template>
  <div class="ml-progress" :class="classObj" :style="{background: background}">
    <span v-if="type === 'line'">
      <div v-if="indeterminate" class="indeterminate" :style="styleInner"></div>
      <div v-else class="determinate" :style="styleInner"></div>
    </span>
    <svg v-if="type === 'circle'" class="circular-loader" viewBox="25 25 50 50">
      <circle class="loader-path" cx="50" cy="50" r="20" fill="none" stroke-width="2"></circle>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'MLProgress',
  props: {
    type: {
      default: 'line',
      type: String
    },
    intent: {
      default: '',
      type: String
    },
    background: {
      default: '',
      type: String
    },
    backgroundInner: {
      default: '',
      type: String
    },
    indeterminate: {
      default: false,
      type: Boolean
    },
    value: {
      default: 0,
      type: Number
    }
  },
  computed: {
    styleInner () {
      var styles = {}
      if (this.backgroundInner) {
        styles['background'] = this.backgroundInner
      }
      if (!this.indeterminate) {
        styles['width'] = (this.value * 100) + '%'
      }
      return styles
    },
    classObj () {
      var classObj = {}
      if (this.intent) {
        classObj[this.intent] = true
      }
      if (this.type) {
        classObj[this.type] = true
      }
      return classObj
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
accent-color(color) {
  &.line {
    background-color: alpha(color, 0.3);
    .determinate {
      background-color color
    }
    .indeterminate {
      background-color color
    }
  }
  &.circle {
    .loader-path {
      stroke: color;
    }
  }
}

.ml-progress {
  &.line {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: alpha($secondary, 0.3);
    border-radius: 2px;
    margin: 10px 0;
    overflow: hidden
    .determinate {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: $secondary;
      -webkit-transition: width .3s ease-out;
      transition: width .3s ease-out
    }

    .indeterminate {
      background-color: $secondary
      &:before {
        content: '';
        position: absolute;
        background-color: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite
      }
      &:after {
        content: '';
        position: absolute;
        background-color: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        -webkit-animation-delay: 1.15s;
        animation-delay: 1.15s
      }
    }
  }

  &.circle{
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    position: relative;
    margin: 0px auto;
    width: 100px;
    height:100px;
    overflow: hidden;
    .circular-loader {
      -webkit-animation: rotate 2s linear infinite;
      animation: rotate 2s linear infinite;
      height: 100%;
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
      .loader-path {
        stroke: $primary;
        stroke-dasharray: 150,200;
        stroke-dashoffset: -10;
        -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        stroke-linecap: round;
      }
    }
  }

  &.dark {
    accent-color($secondary)
  }
  &.primary {
    accent-color($primary)
  }
  &.success {
    accent-color($success )
  }
  &.warning {
    accent-color($warning )
  }
  &.danger {
    accent-color($danger )
  }
  &.information {
    accent-color($information )
  }
  &.light {
    accent-color($light )
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%
    }

    60% {
        left: 100%;
        right: -90%
    }

    100% {
        left: 100%;
        right: -90%
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%
    }

    60% {
        left: 100%;
        right: -90%
    }

    100% {
        left: 100%;
        right: -90%
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }

    60% {
        left: 107%;
        right: -8%
    }

    100% {
        left: 107%;
        right: -8%
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }

    60% {
        left: 107%;
        right: -8%
    }

    100% {
        left: 107%;
        right: -8%
    }
}
</style>
