<template>
  <div class="ml-radio-group">
    <slot></slot>
  </div>
</template>

<script>
import _ from '@/utils/utils'
import uuid from 'uuid'
export default {
  name: 'ml-radio-group',
  props: {
    name: {
      default: function () {
        return uuid()
      },
      type: String
    },
    value: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      radioChildren: [],
      local_value: _.cloneDeep(this.value)
    }
  },
  provide () {
    return {
      radioGroup: this
    }
  },
  watch: {
    value: {
      immediate: true,
      handler: function (newVal, oldVal) {
        if (this.local_value !== newVal) {
          this.local_value = newVal
        }
      }
    }
  },
  methods: {
    updateValue (child) {
      this.local_value = child.value
      this.$emit('input', child.value)
      child.local_value = child.value
    },
    addChild (child) {
      this.radioChildren.filter(radio => {
        if (radio.value === child.value) {
          // eslint-disable-next-line
          console.warn(`Child radio component with same value: '${child.value}' has been inserted.`)
        }
      })
      this.radioChildren.push(child)
    }
  }
}
</script>
