<template>
  <div class="ml-radio" :class="[{square}, 'ml-radio-' + intent]">
    <input :id="id" :name="local_name" type="radio" :value="value" @change="onChange" :disabled="disabled" :checked="isChecked">
    <label :for="id">
      <slot></slot>
    </label>
  </div>
</template>

<script>
import uuid from 'uuid'
export default {
  name: 'MLRadio',
  model: {
    prop: 'modelValue',
    event: 'input'
  },
  props: {
    modelValue: {
      default: '',
      type: [String, Boolean]
    },
    value: {
      default: '',
      type: [String, Boolean]
    },
    id: {
      default: function () {
        return uuid()
      },
      type: String
    },
    name: {
      default: '',
      type: String
    },
    square: {
      default: false,
      type: Boolean
    },
    intent: {
      default: 'primary',
      type: String
    },
    disabled: {
      default: false,
      type: Boolean
    },
    checked: {
      default: null,
      type: Boolean,
      async: true
    }
  },
  data () {
    return {
      local_value: this.radioGroup ? this.value : this.modelValue
    }
  },
  inject: {
    radioGroup: {
      default: ''
    }
  },
  computed: {
    local_name () {
      return (this.radioGroup && this.radioGroup.name) ? this.radioGroup.name : this.name
    },
    isChecked () {
      return this.radioGroup ? (this.radioGroup.local_value === this.value) : (this.local_value === this.value)
    }
  },
  watch: {
    'radioGroup.local_value': function (newVal) {
      if (newVal !== this.local_value) {
        this.local_value = newVal
      }
    },
    modelValue (newVal) {
      if (newVal !== this.local_value) {
        this.local_value = newVal
      }
    },
    local_value () {
      if (this.isChecked) {
        this.$emit('input', this.value)
      }
    }
  },
  mounted () {
    if (this.radioGroup) {
      this.radioGroup.addChild(this)
    }
  },
  methods: {
    onChange ($event) {
      if (this.radioGroup) {
        if ($event.target.value === this.value) {
          this.local_value = this.value
          this.radioGroup.updateValue(this)
        }
      } else {
        this.local_value = $event.target.value
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
intents = ('default' $gray) ('dark' $secondary) ('primary' $primary) ('danger' $danger) ('warning' $warning) ('success' $success) ('info' $info)
$checkboxWidth = (17/14)em // Well, this is embarrassing.
.ml-radio {
  position: relative;
  margin: 0;
  text-align: left;
  line-height: 32px;
  display: inline-block;
  padding-right: 10px;
  + .ml-radio {
    margin-left: 10px;
  }
  label {
    cursor: pointer;
    display: inline;
    line-height: inherit;
    vertical-align: top;
    clear: both;
    padding-left: 1px;
    &:not(:empty) {
      padding-left: 5px;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%)
    }

    &:before {
      width: $checkboxWidth;
      height: $checkboxWidth;
      background: #fff;
      border: .1em solid $primary;
      cursor: pointer;
      transition: background .3s;
      border-radius: 2em;
      .square& {
        border-radius: 2px;
        width: $checkboxWidth;
        height: $checkboxWidth;
      }
      for intent in intents {
        intentKey = intent[0]
        intentColor = intent[1]
        .ml-radio-{intentKey}& {
          border-color: intentColor
        }
      }
    }

    &:after {
      // checkmark
    }
  }

  input[type="radio"] {
    outline: 0;
    width: 1.25em;
    opacity: 0;
    margin: 0;
    top: .5em;
    position relative;
    display: block;
    float: left;
    font-size: inherit;
    .square& {
      width: 1.25em;
    }
    &:checked {
       + label:before{
        background: $primary;
        border:none;
        for intent in intents {
          intentKey = intent[0]
          intentColor = intent[1]
          .ml-radio-{intentKey}& {
            background: intentColor
          }
        }
      }
      + label:after {
        width: .5em;
        height: .5em;
        border-radius: 1em;
        background: $white;
        transform: translate(($checkboxWidth/2 - .5em/2), -(.5em/2))
        top: 50%;
        border: 0;
        .square& {
          top: 50%;
          width: .75em;
          background: none;
          border-radius: 0;
          height: (.75em/2);
          border: .08em solid $white;
          border-top-style: none;
          border-right-style: none;
          transform: translate(.25em, -.25em) rotate(-45deg);
        }
      }
    }

    &:focus {
      + label:before {
        box-shadow: rgba(38, 132, 255, 0.6) 0px 0px 0px 2px;
      }
    }

    &:disabled {
      + label:before{
        border-color: $gray;
        background: $light;
      }
      &:checked {
        + label:before{
          background: $gray;
        }
      }
    }
  }
}
</style>
