<template>
  <div class="ml-row" :class="{'ml-row-center': center}" :style="styleObj">
    <slot></slot>
  </div>
</template>

<script>
import _ from '@/utils/utils'

export default {
  name: 'MLRow',
  props: {
    gutter: {
      default: 0,
      type: [Number, String]
    },
    center: {
      default: false,
      type: Boolean
    },
    maxWidth: {
      default: '',
      type: String
    }
  },
  computed: {
    styleObj () {
      var gutter = this.gutter
      var style = {}
      if (gutter) {
        style = _.merge(style, {
          'margin-left': '-' + gutter + 'px',
          'margin-right': '-' + gutter + 'px',
          'width': 'auto'
        })
      }
      if (this.maxWidth) {
        style = _.merge(style, {
          'max-width': this.maxWidth
        })
      }
      return style
    }
  }
}
</script>
