<template>
  <div class="ml-select-wrapper" :class="{multiple, fill, notmultiple: !multiple, disabled}">
    <div class="ml-select-input input-container normal" tabindex="0" @keydown.esc="toggleSelect()">
      <div type="text" class="ml-input text ml-input-icon-append" :class="{disabled}">
        <div class="ml-select-placeholder" v-if="isEmpty && !(multiple && !search)">{{placeholder}}</div>
        <slot name="selection" :data="local_value">
          <div class="ml-selection-render" v-if="multiple">
            <span class="ml-selection-tag" v-for="(item, idx) in local_value" :key="idx">
              <div class="ml-selection-tag-text">
                {{getText(item)}}
              </div>
              <div class="ml-selection-tag-remove" @click="selectOption(item)" v-if="!disabled">
                <ml-icon name="cross"></ml-icon>
              </div>
            </span>
            <div class="ml-selection-input-placeholder" v-if="!search && !disabled">
              <input v-model="filter" :placeholder="isEmpty ? placeholder : ''" @keydown.esc="toggleSelect()" @keydown.delete="handlerDeleteTag()" :class="{empty: isEmpty}" class="ml-selection-input-elem" type="text">
            </div>
          </div>
          <div v-else>
            <div class="ml-select-value-text" v-if="!isEmpty" :title="getText(local_value)">{{getText(local_value)}}</div>
          </div>
        </slot>
      </div>
      <div class="ml-input-icon append" :class="{clearable}" @click.stop.prevent="clearOptions">
        <template v-if="clearable">
          <ml-icon class="clearable" name="cross"></ml-icon>
        </template>
        <ml-icon class="chevron-down" name="chevron-down"></ml-icon>
      </div>
    </div>
    <div class="option-wrapper" v-if="!(data && data.length)">
      <select class="option-init-select" name="" :id="id">
        <slot></slot>
      </select>
    </div>
    <ml-popover prevent @open="handlerPopoverOpen" thin ref="popover" :minimal="!animate" :placement="placement" :arrow="arrow" :target="target" v-if="!disabled">
      <div @keydown.esc="toggleSelect()" ref="content" class="ml-selection-content" :style="{minWidth}" tabindex="0">
        <ml-input ref="filterInput" v-if="search" placeholder="Filter..." @keydown.esc.stop="toggleSelect()" class="ml-select-filter-input" :icon="searching ? 'loading' : 'search'" append fill focus v-model="filter"></ml-input>
        <ul ref="options" class="ml-selection-option ml-scroll">
          <li class="ml-selection-item"
            tabindex="0"
            v-for="(option, idx) in options"
            :key="idx"
            :class="{selected: isSelected(option), disabled: option.disabled}"
            role="option"
            @keydown.space.prevent.stop="selectOption(option, $event)"
            @keydown.enter.prevent.stop="selectOption(option, $event)"
            @click="selectOption(option, $event)">
            <div class="ml-select-option" :class="{'ml-popover-dismiss': !multiple}">
              <slot name="template" :data="option" :selected="isSelected(option)" :index="idx">
                <div class="ml-select-option-text">
                  <ml-checkbox class="ml-select-checkbox" v-if="multiple" :value="isSelected(option)"></ml-checkbox>
                  {{option.title || option.text}}
                </div>
                <div class="ml-select-option-alt">
                  {{option.alt}}
                </div>
              </slot>
            </div>
          </li>
          <li class="ml-selection-item" v-if="!options.length">
            <div class="ml-select-option cannot-select">No result</div>
          </li>
          <li class="ml-selection-item" ref="searching">
            <div class="ml-select-option cannot-select" v-if="searching">
              <ml-icon name="loading"></ml-icon>
              正在加载...
            </div>
          </li>
        </ul>
      </div>
    </ml-popover>
  </div>
</template>

<script>
import dom from '@/utils/dom'
import _ from '@/utils/utils'

export default {
  name: 'MLSelect',
  props: {
    data: {
      type: Array,
      default: () => {
        return []
      }
    },
    fill: {
      default: false,
      type: Boolean
    },
    multiple: {
      default: false,
      type: Boolean
    },
    template: {
      default: false,
      type: [Function, Boolean]
    },
    animate: {
      default: false,
      type: Boolean
    },
    search: {
      default: false,
      type: [Boolean, Object]
    },
    fetch: {
      type: [Function, String],
      default: ''
    },
    placeholder: {
      default: 'Please choose option',
      type: String
    },
    placement: {
      default: 'bottom-start',
      type: String
    },
    disabled: {
      default: false,
      type: Boolean
    },
    clearable: {
      default: false,
      type: Boolean
    },
    arrow: {
      default: false,
      type: Boolean
    },
    id: {
      default: '',
      type: String
    },
    prop: {
      default: '',
      type: String
    },
    value: {
      type: [Object, String, Array, Number, Boolean],
      default: ''
    }
  },
  data () {
    return {
      searching: false,
      hasNext: true,
      page: 1,
      show: false,
      target: '',
      filter: '',
      minWidth: '100%',
      local_value: '',
      opts: [],
      placeholderInput: ''
    }
  },
  computed: {
    options () {
      let data = []
      if (this.fetch && typeof this.fetch === 'function') {
        if (this.filter) {
          return this.opts
        }
        data = this.opts
        const leftData = _.filter(this.data, d => {
          if (this.prop) {
            return !_.find(data, _.matchesProperty(this.prop, _.get(d, this.prop)))
          } else {
            return !_.find(data, d)
          }
        })
        return (leftData || []).concat(data || [])
      } else {
        if (this.data && this.data.length) {
          data = this.data
        } else if (this.opts && this.opts.length) {
          data = this.opts
        }
        if (this.filter) {
          let filter = this.filter.toLowerCase()
          data = _.filter(data, option => {
            let string = (option.title || option.text) + (option.alt || '') || ''
            return string.toLowerCase().indexOf(filter) > -1
          })
        }
        return data
      }
    },
    isEmpty () {
      let notEmpty
      if (this.multiple) {
        notEmpty = this.local_value && this.local_value.length
      } else {
        notEmpty = this.local_value
      }
      return !notEmpty
    },
    searchOption () {
      if (this.search === false) {
        return {
          enable: false,
          min: 0
        }
      }
      if (this.search === true) {
        return {
          enable: true,
          min: 0
        }
      }
      if (typeof this.search === 'object') {
        return {
          enable: true,
          min: this.search.min === undefined ? 0 : this.search.min,
          fetch: this.search.fetch || this.fetch || undefined
        }
      }
    }
  },
  watch: {
    multiple: {
      immediate: true,
      handler: function (newVal) {
        if (_.isEmpty(this.local_value)) {
          this.local_value = newVal ? [] : ''
        }
      }
    },
    value: {
      deep: true,
      immediate: true,
      handler: function (newVal, oldVal) {
        if (!_.isEqual(newVal, oldVal)) {
          this.updatePropsChange()
        }
      }
    },
    data: {
      deep: true,
      immediate: true,
      handler: function (newVal, oldVal) {
        if (!_.isEqual(newVal, oldVal)) {
          this.updatePropsChange()
        }
      }
    },
    local_value: {
      deep: true,
      handler: function (newVal, oldVal) {
        if (!this.multiple) {
          if (!this.prop) {
            if (!_.isEqual(newVal, this.value)) {
              this.$emit('input', newVal)
            }
          } else {
            let _newVal = _.get(newVal, this.prop)
            if (!_.isEqual(_newVal, this.value)) {
              this.$emit('input', _newVal)
            }
          }
        } else {
          if (!this.prop) {
            if (!_.isEqual(newVal, this.value)) {
              this.$emit('input', newVal)
            }
          } else {
            let _newVal = _.map(newVal, _.property(this.prop))
            if (!_.isEqual(_newVal, this.value)) {
              this.$emit('input', _newVal)
            }
          }
        }
      }
    },
    filter: {
      deep: true,
      handler: function (newVal) {
        if (newVal) {
          this.clearTagFocus()
          this.$refs.popover.open()
          this.$refs.popover.update()
        }
      }
    }
  },
  mounted () {
    this.target = this.$el.querySelector('.ml-select-input')
    this.placeholderInput = this.$el.querySelector('.ml-selection-input-elem')
    this.target.addEventListener('click', () => {
      if (this.placeholderInput) {
        this.placeholderInput.focus()
      }
    }, false)
    this.resizeOptionWidth()
    let updatePopover = () => {
      if (this.$refs.popover) {
        this.$refs.popover.update()
        if (this.placeholderInput) {
          this.placeholderInput.focus()
        }
        this.clearTagFocus()
      }
    }
    let debouncedUpdatePopover = _.debounce(updatePopover, 100, { 'maxWait': 300 })
    this.$watch('local_value', debouncedUpdatePopover, { deep: true })
    let debouncedSearchFilter = _.debounce(this.searchFilter, 300, { 'maxWait': 300 })
    this.$watch('filter', debouncedSearchFilter, { deep: true })
    this.parseNativeOption()
    this.bindPagination()
  },
  beforeDestroy () {
    if (this.$refs.searching) {
      this.observer.unobserve(this.$refs.searching)
    }
  },
  methods: {
    clearOptions () {
      if (this.clearable) {
        if (this.multiple) {
          this.local_value = []
        } else {
          this.local_value = ''
        }
      }
    },
    bindPagination () {
      const config = {
        root: null,
        rootMargin: '0px',
        threshold: 0.5
      }
      this.observer = new IntersectionObserver((entries) => {
        entries.forEach((item) => {
          if (item.intersectionRatio > 0) {
            if (this.searchOption.min <= this.filter.length) {
              this.pagination()
            }
          }
        })
      }, config)
      this.$nextTick(() => {
        if (this.$refs.searching) {
          this.observer.observe(this.$refs.searching)
        }
      })
    },
    pagination () {
      if (this.fetch && typeof this.fetch === 'function' && !this.searching && this.hasNext && this.options.length > 0) {
        this.searching = true
        this.fetch(this.filter, this.page + 1).then((data) => {
          this.opts.push(...(data.data || []))
          this.hasNext = !!data.more
          this.page++
        }).finally(() => {
          this.searching = false
        })
      }
    },
    searchFilter () {
      if (this.searchOption.min > this.filter.length) {
        return
      }
      if (this.fetch && typeof this.fetch === 'function') {
        this.searching = true
        let filter = this.filter
        this.fetch(filter, 1).then((data) => {
          if (this.filter === filter) {
            this.opts = data.data
            this.$refs.options.scrollTo = 0
            this.hasNext = !!data.more
            this.page = 1
          }
        }, () => {
          if (this.filter === filter) {
            this.opts = []
          }
        }).finally(() => {
          if (this.filter === filter) {
            this.searching = false
          }
        })
      }
    },
    parseNativeOption () {
      if (this.$el && !(this.data && this.data.length)) {
        let select = this.$el.querySelector('.option-init-select')
        if (select) {
          this.opts = Array.from(select.children).map(opt => {
            return {
              text: opt.innerText,
              id: opt.value
            }
          })
          this.updatePropsChange()
        }
      }
    },
    resizeOptionWidth () {
      this.minWidth = Math.min(this.target.clientWidth, document.body.clientWidth) + 'px'
    },
    updatePropsChange () {
      let options = [...this.options]
      if (this.fetch && typeof this.fetch === 'function') {
        if (this.multiple) {
          options.push(...(this.local_value || []))
        } else {
          options.push(this.local_value)
        }
      }
      let newVal = this.value
      if (!this.multiple) {
        if (this.prop) {
          newVal = _.find(options, _.matchesProperty(this.prop, newVal))
        } else {
          newVal = _.find(options, newVal)
        }
      } else {
        newVal = _.filter(_.map(newVal, val => {
          if (!this.prop) {
            return _.find(options, val)
          } else {
            return _.find(options, _.matchesProperty(this.prop, val))
          }
        }))
      }
      if (this.local_value !== newVal) {
        this.local_value = newVal
      }
    },
    handlerDeleteTag () {
      let lastSelectionTags = this.$el.querySelectorAll('.ml-selection-tag')
      let lastSelectionTag = lastSelectionTags[lastSelectionTags.length - 1]
      if (!lastSelectionTag) {
        return
      }
      if (this.filter === '') {
        if (dom.hasClass(lastSelectionTag, 'focus')) {
          this.local_value.pop()
        } else {
          dom.addClass(lastSelectionTag, 'focus')
        }
      } else {
        dom.removeClass(lastSelectionTag, 'focus')
      }
    },
    clearTagFocus () {
      let lastSelectionTags = this.$el.querySelectorAll('.ml-selection-tag')
      let lastSelectionTag = lastSelectionTags[lastSelectionTags.length - 1]
      if (lastSelectionTag) {
        dom.removeClass(lastSelectionTag, 'focus')
      }
    },
    toggleSelect () {
      // this.show = !this.show
      this.$refs.popover.toggle()
    },
    oppen () {
      this.$refs.popover.open()
    },
    close () {
      this.$refs.popover.close()
    },
    handlerPopoverOpen () {
      this.resizeOptionWidth()
      let filterInput = this.$refs.filterInput
      if (filterInput) {
        window.setTimeout(() => {
          filterInput.focusInput()
        }, 0)
      } else {
        if (!this.search) {
          this.$nextTick(() => {
            this.$refs.content.focus()
          })
        }
      }
      if (!this.searching && this.opts.length === 0 && (this.searchOption.min <= this.filter.length)) {
        this.searchFilter()
      }
    },
    selectOption (option, $event) {
      if (option.disabled) {
        $event.preventDefault()
        return false
      }
      if (!this.multiple) {
        this.local_value = option
      } else {
        if ($event) {
          $event.preventDefault()
        }
        if (_.find(this.local_value, option)) {
          var index = _.findIndex(this.local_value, option)
          if (index >= 0) {
            this.local_value.splice(index, 1)
          }
        } else {
          this.local_value.push(option)
        }
      }
      this.multiple || this.close()
    },
    getText (option) {
      return option.title || option.text
    },
    isSelected (option) {
      if (this.multiple) {
        return _.find(this.local_value, option)
      } else {
        if (_.isEqual(option, this.local_value)) {
          return true
        }
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.ml-select-wrapper {
  text-align: left;
  display: inline-block;
  max-width: 600px;
  + .ml-select-wrapper {
    margin-left: 10px;
    &.fill {
      margin-left: 0;
    }
  }
  .ml-input {
    &.disabled {
      .ml-selection-render .ml-selection-tag {
        cursor: not-allowed
        background: $light
      }
      + .ml-input-icon {
        cursor: not-allowed
      }
    }
  }
  &.fill {
    max-width: 100%;
    width: 100%;
    display: block;
  }
  .ml-select-input > .ml-input-icon.append {
    user-select none
    padding: 0 1px;
    right: 9px;
    &.clearable {
      > .clearable {
        display: none;
        color: $primary
      }
      > .chevron-down {
        display: inline-block;
      }
      &:hover {
        background: $light;
        bdrs(2px)
      }
      :hover& {
        > .clearable {
          display: inline-block;
        }
        > .chevron-down {
          display: none;
        }
      }
    }
  }
  .ml-selection-content {
    padding: 5px;
    width: 100%;
  }
  .ml-select-input {
    width: 100%;
    cursor: pointer;
    .multiple& {
      width: 100%;
      min-width: 100px;
      .ml-input {
        height: auto;
        min-height: 32px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 6px;
      }
    }
  }
  .multiple& .ml-selection-render {
    margin-bottom: -3px;
    .ml-selection-tag {
      display: inline-block;
      background: alpha($light, .7);
      bdrs(2px);
      height: 22px;
      white-space: nowrap;
      margin: 0px 3px 3px 0;
      line-height: 22px;
      cursor text
      .ml-selection-tag-text {
        padding: 0px 5px;
        display: inline-block;
        white-space: nowrap;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: top;
      }
      .ml-selection-tag-remove {
        cursor pointer
        display: inline-block;
        vertical-align: top;
        width: 22px;
        height: 22px;
        text-align: center;
        opacity: .3
        transition: opacity .2s
      }
      &:hover {
        .ml-selection-tag-remove {
          color: $primary
          bdrs(2px)
          opacity: 1
        }
      }
      &.focus {
        outline: 1px auto $primary;
      }
    }
    .ml-selection-input-placeholder {
      display: inline-block;
      vertical-align: top;
      margin: 0px 3px 3px 0;
      .ml-selection-input-elem {
        display: inline-block;
        width: 80px;
        min-width: 10px;
        height: 22px;
        background: transparent;
        border: none;
        outline: none;
        vertical-align: top;
        &.empty {
          width: 180px;
        }
      }
    }
  }
  .ml-select-placeholder {
    display: block;
    line-height: 18px;
    color: $gray;
    .multiple& {
      padding: 0 4px;
      line-height: 22px;
    }
  }
  .ml-select-value-text {
    display: block;
    line-height: 18px;
    color: $dark;
    vertical-align top;
    font-size: $fontSize;
    padding: 0 3px;
    min-width: 90px;
    width: 100%;
    user-select none;
    overflow hidden;
    white-space: nowrap;
    text-overflow ellipsis;
  }
  .ml-select-filter-input {
    + .ml-selection-option {
      margin-top: 5px;
    }
  }
  .ml-selection-option {
    margin: 0;
    padding: 0;
    list-style: none
    max-height: 300px;
    overflow: auto;
    .ml-selection-item {
      margin: 0;
      padding: 0;
      list-style: none;
      &:focus {
        outline: 0;
        background: alpha($primary, .1);
        outline: 1px solid alpha($primary, .5);
        outline-offset: 1px;
      }
      .notmultiple&.selected {
        .ml-select-option {
          background: $primary
          color: $white;
          .ml-select-option-alt {
            color: $light;
          }
        }
      }
      .multiple&.selected {
        .ml-select-option {
          background: alpha($light, .5);
        }
      }
      &.disabled {
        .ml-select-option {
          background: $light
          cursor: not-allowed;
        }
      }
    }
  }
  .option-wrapper {
    display: none;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    opacity: 0;
  }
  .ml-select-option {
    padding: 6px 10px;
    bdrs(2px)
    cursor pointer
    &:hover {
      background: alpha($light, .3);
    }
    &.cannot-select {
      background: $white;
      color: $gray;
      cursor: default;
    }
    .ml-select-option-text {
      display: inline-block;
      vertical-align top;
      font-size: $fontSize;
      padding: 0 3px;
      min-width: 90px;
      padding-right: 30px;
      max-width: calc(100vw - 100px);
      user-select none;
      overflow hidden;
      white-space: nowrap;
      text-overflow ellipsis;
      line-height 20px
      .ml-select-checkbox {
        line-height: 20px;
      }
    }
    .ml-select-option-alt {
      float: right;
      color: $secondary + 30%;
      font-size: 13px;
      line-height 20px
    }
  }
}
</style>
