<template>
  <div class="ml-select-container ml-select" :class="{fill}">
    <select :disabled="disabled" :placeholder="placeholder" :multiple="multiple">
      <slot></slot>
    </select>
  </div>
</template>

<script>
import $ from 'jquery'
import 'select2'
import _ from '@/utils/utils'
import Mustache from 'mustache'

export default {
  name: 'MLSelect2',
  props: {
    value: {
      type: String,
      default: ''
    },
    data: {
      default: '',
      type: [Array, String]
    },
    ajax: {
      default: () => { return '' },
      type: [Object, String]
    },
    fetch: {
      default: '',
      type: [Function, String]
    },
    minSearch: {
      default: '0',
      type: [String, Number]
    },
    disabled: {
      type: Boolean,
      default: false
    },
    search: {
      type: Boolean,
      default: false
    },
    clearable: {
      type: Boolean,
      default: false
    },
    template: {
      type: String,
      default: ''
    },
    selectionTemplate: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    fill: {
      type: Boolean,
      default: false
    },
    multiple: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    value: {
      handler: function (value, oldValue) {
        if (!_.isEqual(value, oldValue) && this.$el) {
          $(this.$el.querySelector('select'))
            .val(value)
            .trigger('change')
        }
      },
      deep: true
    },
    data: {
      handler: function (options) {
        if (options) {
          this.$nextTick(() => {
            this.reload()
          })
        }
      },
      deep: true
    }
  },
  mounted () {
    this.setup()
  },
  beforeDestroy: function () {
    let $dom = this.$el.querySelector('select')
    $($dom).select2('destroy')
    $(this.$el).addClass('ml-select')
  },
  methods: {
    setup () {
      this.reload()
    },
    getOption () {
      var options = this.options || {}
      options.data = this.data
      if (this.template) {
        if (typeof this.template === 'string') {
          options.templateResult = (option) => {
            if (!option.id || option.loading) {
              return $('<span>').text(option.text)
            }
            return $('<span>').html(Mustache.render(this.template, option))
          }
          if (!this.selectionTemplate) {
            options.templateSelection = (option) => {
              if (!option.id || option.loading) {
                return $('<span>').text(option.text)
              }
              return $('<span>').html(Mustache.render(this.template, option))
            }
          }
        }
        if (typeof this.template === 'function') {
          options.templateResult = this.template
          if (!this.selectionTemplate) {
            this.templateSelection = this.template
          }
        }
      }
      if (this.selectionTemplate) {
        if (typeof this.selectionTemplate === 'string') {
          options.templateSelection = (option) => {
            return $('<span>').html(Mustache.render(this.selectionTemplate, option))
          }
        }
        if (typeof this.selectionTemplate === 'function') {
          options.templateSelection = this.selectionTemplate
        }
      }
      options.minimumResultsForSearch = Infinity
      if (typeof this.search === 'string') {
        options.minimumResultsForSearch = 0
      }
      if (typeof this.search === 'number') {
        options.minimumResultsForSearch = this.search
      }
      if (typeof this.search === 'boolean') {
        options.minimumResultsForSearch = this.search ? 0 : Infinity
      }
      options.value = this.value
      options.width = '100%'
      if (this.placeholder) {
        options.placeholder = this.placeholder
      }
      let ajax = _.defaults(this.ajax || {}, {
        dataType: 'json',
        delay: 250
      })
      if (this.fetch && typeof this.fetch === 'function') {
        let transport = (params, success, failure) => {
          var $request = this.fetch(params.data.q, params.data.page || 1).then(data => {
            if (data && data instanceof Array) {
              return {
                results: data
              }
            } else {
              return data
            }
          })
          $request.then(success, failure)
          return $request
        }
        ajax.transport = transport
      }
      if (this.ajax || this.fetch) {
        options.ajax = ajax
        options.minimumResultsForSearch = 0
      }
      if (this.minSearch) {
        options.minimumInputLength = parseInt(this.minSearch)
      }
      return options
    },
    reload () {
      var $dom = this.$el.querySelector('select')
      $(this.$el).removeClass('ml-select')
      if ($($dom).data('select2')) {
        $($dom).off('change').off('select2:select').select2('destroy')
      }
      if (this.data) {
        $($dom).html('')
      }
      var option = this.getOption()
      let select2 = $($dom).select2(option)
      select2.val(this.value)
        .on('change', () => {
          var value = select2.val()
          let couldBeEmpty = this.clearable || this.multiple
          if (_.isEmpty(value) && !couldBeEmpty) {
            return
          }
          if (!_.isEmpty(value) && !_.isEqual(value, this.value)) {
            this.$emit('input', value)
          }
        }).on('select2:select', (event) => {
          this.$emit('select', event.params.data)
        }).on('select2:unselect', (event) => {
          let value = _.pullAll(select2.val(), [event.params.data.id])
          this.$emit('input', value)
        }).trigger('change')
    }
  }
}
</script>

<style lang="stylus">
</style>
