<template>
  <div class="ml-select" :class="{focus: focused}">
    <select :name="name" :id="id" @focus="updateFocus(true)" @blur="updateFocus(false)" v-model="local_value">
      <slot>
        <option :value="opt.value" v-for="(opt, idx) in options" :key="idx">{{opt.text}}</option>
      </slot>
    </select>
  </div>
</template>

<script>
import uuid from 'uuid'
export default {
  name: 'ml-select-raw',
  props: {
    value: {
      type: String,
      default: ''
    },
    options: {
      type: Array,
      default: () => {
        return []
      }
    },
    name: {
      type: String,
      default: () => {
        return ''
      }
    },
    id: {
      type: String,
      default: () => {
        return uuid()
      }
    }
  },
  data () {
    return {
      focused: false,
      local_value: this.value
    }
  },
  watch: {
    local_value: {
      immediate: true,
      handler: function (newVal, oldVal) {
        if (newVal !== this.value) {
          this.$emit('input', newVal)
        }
      }
    },
    value: {
      immediate: true,
      handler: function (newVal) {
        if (newVal !== this.local_value) {
          this.local_value = newVal
        }
      }
    }
  },
  methods: {
    updateFocus (val) {
      this.focused = val
    }
  }
}
</script>
