<template>
  <div class="ml-slider" :class="[orientation, {tooltip, scale}]">
    <div class="slider"></div>
  </div>
</template>

<script>
import _ from '@/utils/utils'
import NoUiSlider from 'nouislider'
import 'nouislider/distribute/nouislider.css'

function mergeTooltips (slider, threshold, separator) {
  const textIsRtl = false
  const isRtl = slider.options.direction === 'rtl'
  const isVertical = slider.options.orientation === 'vertical'
  const tooltips = slider.getTooltips()
  const origins = slider.getOrigins()
  const tooltipOptions = slider.options.tooltips
  if (!tooltips) {
    return
  }
  // Move tooltips into the origin element. The default stylesheet handles this.
  tooltips.forEach(function (tooltip, index) {
    if (tooltip) {
      origins[index].appendChild(tooltip)
    }
  })

  slider.on('update', function (values, handle, unencoded, tap, positions) {
    const pools = [[]]
    const poolPositions = [[]]
    const poolValues = [[]]
    let atPool = 0

    // Assign the first tooltip to the first pool, if the tooltip is configured
    if (tooltips[0]) {
      pools[0][0] = 0
      poolPositions[0][0] = positions[0]
      let formattedFirstText = values[0]
      if (tooltipOptions && tooltipOptions[0] && tooltipOptions[0].to) {
        console.log('tooltips[0].to', tooltipOptions[0], 0, values)
        formattedFirstText = tooltipOptions[0].to(values[0])
      }
      poolValues[0][0] = formattedFirstText
    }

    for (let i = 1; i < positions.length; i++) {
      if (!tooltips[i] || (positions[i] - positions[i - 1]) > threshold) {
        atPool++
        pools[atPool] = []
        poolValues[atPool] = []
        poolPositions[atPool] = []
      }

      if (tooltips[i]) {
        pools[atPool].push(i)
        let formattedText = values[i]
        if (tooltipOptions && tooltipOptions[i] && tooltipOptions[i].to) {
          console.log('tooltips[i].to', tooltipOptions[i], i, values)
          formattedText = tooltipOptions[i].to(values[i])
        }
        // const formattedText = (tooltips[i].to && tooltips[i].to(values[0])) || values[0]
        poolValues[atPool].push(formattedText)
        poolPositions[atPool].push(positions[i])
      }
    }

    pools.forEach(function (pool, poolIndex) {
      const handlesInPool = pool.length

      for (let j = 0; j < handlesInPool; j++) {
        const handleNumber = pool[j]

        if (j === handlesInPool - 1) {
          let offset = 0

          poolPositions[poolIndex].forEach(function (value) {
            offset += 1000 - 10 * value
          })

          const direction = isVertical ? 'bottom' : 'right'
          const last = isRtl ? 0 : handlesInPool - 1
          const lastOffset = 1000 - 10 * poolPositions[poolIndex][last]
          offset = (textIsRtl && !isVertical ? 100 : 0) + (offset / handlesInPool) - lastOffset

          // Center this tooltip over the affected handles
          tooltips[handleNumber].innerHTML = poolValues[poolIndex].join(separator)
          tooltips[handleNumber].style.display = 'block'
          tooltips[handleNumber].style[direction] = offset + '%'
        } else {
          // Hide this tooltip
          tooltips[handleNumber].style.display = 'none'
        }
      }
    })
  })
}

export default {
  name: 'MLSlider',
  props: {
    orientation: {
      type: String,
      default: 'horizontal'
    },
    scale: {
      type: [String, Boolean, Object],
      default: false
    },
    readonly: {
      type: Boolean,
      default: false
    },
    devider: {
      type: String,
      default: '-'
    },
    padding: {
      type: [String, Number, Array],
      default: 0
    },
    connect: {
      type: [Boolean, String, Array],
      default: false
    },
    min: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      default: 100
    },
    range: {
      type: [Object, null],
      default: null
    },
    value: {
      type: [Number, Array, String],
      default: 0
    },
    tooltip: {
      type: [Boolean, Function, Array],
      default: true
    },
    step: {
      type: Number,
      default: 0
    },
    option: {
      type: [Object, String],
      default: ''
    },
    multiple: {
      default: false,
      type: Boolean
    }
  },
  data () {
    return {
      slider: ''
    }
  },
  computed: {
    liveOption () {
      if (this.option) {
        return this.option
      } else {
        return {
          orientation: this.orientation,
          padding: this.padding,
          connect: this.connect,
          start: this.value,
          tooltips: this.getTooltip(),
          step: this.step,
          range: this.range || {
            min: this.min,
            max: this.max
          },
          pips: this.scale
        }
      }
    }
  },
  watch: {
    readonly: {
      handler: function (val) {
        console.log('readonly', val)
        this.$el.querySelector('.slider').setAttribute('disabled', val)
      }
    },
    value: {
      handler: function (newVal) {
        console.log('watch: ', newVal, this.slider.get())
        if (!_.isEqual(newVal, this.slider.get())) {
          if (!this.changing) {
            this.slider.set(newVal)
          }
        }
      }
    }
  },
  mounted () {
    this.setup()
  },
  methods: {
    getTooltip () {
      if (typeof this.tooltip === 'function') {
        if (Array.isArray(this.value)) {
          return _.map(this.value, () => {
            return {
              to: this.tooltip
            }
          })
        } else {
          return {
            to: this.tooltip
          }
        }
      } else {
        if (Array.isArray(this.tooltip)) {
          return this.tooltip.map(tooltip => {
            return typeof tooltip === 'function' ? {
              to: tooltip
            } : tooltip
          })
        }
        return this.tooltip
      }
    },
    setup () {
      const slider = this.$el.querySelector('.slider')
      if (this.readonly) {
        slider.setAttribute('disabled', true)
      }
      this.slider = NoUiSlider.create(slider, this.liveOption)
      mergeTooltips(this.slider, 20, this.devider || '-')
      console.log('this.slider', this.slider)
      this.slider.on('start', () => {
        this.changing = true
      })
      this.slider.on('end', () => {
        this.changing = false
      })
      this.slider.on('update', (val) => {
        console.log('update', val)
        if (val instanceof Array && val.length === 1) {
          console.log('update----', parseFloat(val[0]))
          this.$emit('input', parseFloat(val[0]))
        } else {
          this.$emit('input', val)
        }
      })
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'

.ml-slider {
  &.horizontal {
    padding: 10px 0;
    &.tooltip {
      padding-top: 50px
      padding-bottom: 20px;
    }
    &.scale {
      padding-bottom: 60px
    }
  }
  &.vertical {
    padding: 0 10px;
    &.tooltip {
      padding-left: 120px
      padding-right: 20px;
    }
    &.scale {
      padding-right: 100px
    }
  }
}
.noUi-marker {
  background: $light
}
.noUi-marker-large {
  background: $gray;
}
.noUi-value {
  color: $gray
  font-size: 14px;
  .noUi-horizontal & {
    padding: 5px;
  }
}
.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle
  background $primary
  box-shadow 0 6px 12px 0 rgba(12,71,124,0.3)
  border-radius 50%
  border none
  outline none
  cursor pointer
  &:before
    width 8px
    height 8px
    border-radius 50%
    top 50%
    left 50%
    transform translate(-50%, -50%)
    transition: width .2s, height .2s
  &:after
    width 0px
    height 0px
    border-radius 50%
    top 50%
    left 50%
    transform translate(-50%, -50%)
    transition: width .2s, height .2s
    background: $primary
  &:hover {
    &:before {
      width: 12px;
      height: 12px;
    }
  }
  &.noUi-active {
    &:before {
      width: 18px;
      height: 18px;
    }
    &:after {
      width: 10px;
      height: 10px;
    }
  }
  [disabled]&, [disabled] & {
    background: $gray
    cursor: not-allowed
    &:before {
      width: 8px;
      height: 8px;
    }
  }

.noUi-horizontal
  height: 6px;
  .noUi-handle
    width 24px
    height 24px
    top -9px
    right: -12px;

.noUi-vertical
  width: 6px;
  max-height: 100%;
  &.noUi-target {
    height: 200px;
  }
  .noUi-handle
    width 24px
    height 24px
    top -12px
    right: -9px;

.noUi
  &-target
    background $light
    border none
    box-shadow none
    outline none
  &-connects
    border-radius 10px
  &-connect
    background alpha($primary, .7)
    [disabled] & {
      background: $gray
    }
  &-horizontal
    .noUi-origin > .noUi-tooltip {
      bottom: 15px;
    }
    .noUi-tooltip
      font-weight 700
      font-size 14px
      text-align center
      background: $white;
      box-shadow: 0px 8px 15px 0px alpha($secondary,.3)
      padding 5px 15px
      border none
      border-radius 3px
      // text-transform uppercase
      font-family "Roboto", sans-serif
      &:after
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        bottom: -5px;
        background: $white;
  &-vertical
    .noUi-origin > .noUi-tooltip {
      margin-bottom: -16px
    }
    .noUi-tooltip
      font-weight 700
      font-size 14px
      text-align center
      background: $white;
      box-shadow: 5px 4px 15px 0px alpha($secondary,.3)
      padding 5px 15px
      border none
      border-radius 3px
      // text-transform uppercase
      font-family "Roboto", sans-serif
      &:after
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        right: -5px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        background: $white;
</style>
