<script>
export default {
  props: {
    data: {
      type: [String, Object],
      default: ''
    },
    template: {
      type: Function,
      default: undefined
    },
    content: {
      type: [String, Object],
      default: ''
    },
    prop: {
      type: String,
      default: ''
    },
    index: {
      type: [String, Number],
      default: ''
    }
  },
  render (createElement, context) {
    function deepGet (obj, props, defaultValue) {
      if (obj === undefined || obj === null) {
        return defaultValue
      }
      if (props.length === 0) {
        return obj
      }
      var foundSoFar = obj[props[0]]
      var remainingProps = props.slice(1)
      return deepGet(foundSoFar, remainingProps, defaultValue)
    }

    if (this.template) {
      return createElement('div', [
        this.template({
          data: this.data,
          $index: this.index
        })
      ])
    } else if (this.content) {
      return createElement('div', this.content)
    } else if (this.$scopedSlots.default) {
      return createElement('div', [
        this.$scopedSlots.default({
          data: this.data,
          $index: this.index
        })
      ])
    } else if (this.prop) {
      var result = deepGet(this.data, this.prop.split('.'))
      return createElement('div', result)
    } else {
      return createElement('div')
    }
  }
}
</script>

<style lang="stylus">

</style>
