<template>
  <div class="ml-switch" :class="[intent]">
    <label class="ml-switch-text-label" :class="{active: !local_value}" :for="id" v-if="closeText">{{closeText}}</label>
    <input class="ml-switch-input" tabindex="0" v-model="local_value" type="checkbox" :id="id" />
    <label class="ml-switch-label" :for="id"></label>
    <label class="ml-switch-text-label" :class="{active: local_value}" :for="id" v-if="openText">{{openText}}</label>
  </div>
</template>

<script>
import uuid from 'uuid'
export default {
  name: 'MLSwitch',
  props: {
    id: {
      default: function () {
        return uuid()
      },
      type: String
    },
    onText: {
      type: String,
      default: ''
    },
    offText: {
      type: String,
      default: ''
    },
    value: {
      default: false,
      type: Boolean
    },
    intent: {
      default: 'primary',
      type: String
    }
  },
  data () {
    return {
      local_value: false
    }
  },
  computed: {
    openText () {
      return this.onText
    },
    closeText () {
      return this.offText
    }
  },
  watch: {
    local_value (newVal) {
      if (newVal !== this.value) {
        this.$emit('input', newVal)
      }
    },
    value (newVal) {
      if (newVal !== this.local_value) {
        this.local_value = newVal
      }
    }
  },
  mounted () {
    this.local_value = this.value
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.ml-switch {
  line-height: 32px;
  height: 32px;
  vertical-align: top;
  padding: 6px 0;
  display: inline-block;
}

input.ml-switch-input{
  height: 0
  width: 0
  opacity: 0;
  &:checked + label.ml-switch-label {
    background: $primary;
  }
  &:checked + label.ml-switch-label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
}

label.ml-switch-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: $light;
  display: inline-block;
  border-radius: 20px;
  position: relative;
  vertical-align: top;
  transition: background 0.3s;
  &:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 20px;
    transition: 0.3s;
  }
  input.ml-switch-input:focus + & {
    outline: 2px auto alpha($primary,.6);
    outline-offset: 2px;
    -moz-outline-radius: 6px
  }
}
label.ml-switch-text-label {
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
  margin: 0 5px;
  cursor pointer
  user-select none;
  font-size 14px;
  color: $secondary;
  &.active {
    color: $primary
  }
}

intents = ('primary' $primary) ('success' $success) ('warning' $warning) ('danger' $danger) ('information' $information) ('dark' $secondary)
for intent in intents
  .ml-switch.{intent[0]} {
    input.ml-switch-input {
      &:checked + label.ml-switch-label {
        background: intent[1]
      }
    }
    label.ml-switch-text-label {
      &.active {
        color: intent[1]
      }
    }
  }

</style>
