<template>
  <div class="ml-tag" :class="[intent, (circle && 'circle'), (plain && 'plain')]">
    <div class="ml-tag-slot">
      <ml-icon :name="icon" v-if="icon"></ml-icon>
      <slot></slot>
    </div>
    <div class="ml-tag-close" @click="close" v-if="closable">
      <ml-icon name="cross"></ml-icon>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MLTag',
  props: {
    icon: {
      default: '',
      type: String
    },
    intent: {
      default: 'default',
      type: String
    },
    closable: {
      default: false,
      type: Boolean
    },
    circle: {
      default: false,
      type: Boolean
    },
    plain: {
      default: false,
      type: Boolean
    }
  },
  methods: {
    close () {
      this.$emit('close')
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
accent-color(color, fg=$white) {
  background: color;
  color: fg;
  transition: background .3s;
  &:hover {
    background: alpha(color, .8)
  }
  &.plain {
    border: 1px solid color;
    background: $white;
    color: color;
    line-height: 24px;
    &:hover {
      background: alpha(color, .03)
    }
  }
}
.ml-tag {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  background: $light;
  padding: 0 10px;
  color: $gray - 40%;
  margin-bottom: 2px;
  bdrs(2px)
  + .ml-tag {
    margin-left: 2px;
  }
  &.circle {
    bdrs(26px)
  }
  &.plain {
    border: 1px solid $gray;
    background: $white;
    color: $gray;
    line-height: 23px;
    &:hover {
      background: alpha($gray, .03)
    }
  }
  .ml-tag-slot {
    display: inline-block;
  }
  .ml-tag-close {
    display: inline-block;
    cursor pointer
    margin-left: 4px;
    transition: opacity .3s
    &:hover {
      opacity: .75;
    }
  }
  &.primary {
    accent-color($primary)
  }
  &.success {
    accent-color($success)
  }
  &.warning {
    accent-color($warning, $dark+20%)
  }
  &.danger {
    accent-color($danger)
  }
  &.information {
    accent-color($info)
  }
}
</style>
