<template>
  <div class="ml-toc">
    <div class="ml-toc-header">
      <ml-icon class="ml-toc-icon" name="align-right"></ml-icon> Table of contents:
      <hr style="margin: 10px 0;" class="ml-hr">
    </div>
    <a class="ml-toc-item" :class="['level-' + item.level]" v-for="(item, idx) in data" :key="idx" :href="`#${item.slug}`">{{item.title}}</a>
  </div>
</template>

<script>
export default {
  name: 'MLToc',
  props: {
    data: {
      default: () => { return [] },
      type: Array
    }
  },
  methods: {
    close () {
      this.$emit('close')
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.ml-toc {
  position: fixed;
  top: 40px;
  width: calc(calc(100% - 280px) * .16)
}
a.ml-toc-item {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  margin: 5px 0 0 0;
  color: $secondary;
  text-decoration: none;
  font-size: 13px;
  &:hover {
    color: $primary;
  }
  level(n) {
    &.level-{n} {
      padding-left: (n - 1)*10px;
    }
  }
  for lv in 1 2 3 4 5 6 {
    level(lv)
  }

}
.ml-toc-header {
  color: $gray;
}
</style>
