<template>
  <div class="ml-tree-wrapper">
    <div class="ml-tree" v-for="(item, $idx) in local_data" :key="$idx">
      <div class="ml-tree-content"
        :class="{
          'ml-tree-selected': item.selected,
          'ml-tree-can-select': canSelect,
          'ml-tree-can-collapse': canCollapse
        }"
        @click="toggleSelect(item)"
        :style="{'padding-left': `${level * 20 + 5}px`}">
        <div class="ml-tree-collapse" @click.stop.prevent="toggleCollapse(item)" v-if="!hideCaret">
          <ml-icon v-if="!item.isLeaf" :name="item.collapse ? 'chevron-right' : 'chevron-down'"></ml-icon>
        </div>
        <ml-checkbox @input="(val) => {updateChildrenCheck(item, val)}" class="ml-tree-checkbox" v-if="showCheck" v-model="item.checked"></ml-checkbox>
        <div class="ml-tree-title">
          <slot-render
            :data="item"
            :template="template"
            :index="$idx"
            prop="title">
            <template slot-scope="scope">
                <slot :data="scope.data" :index="scope.index">
                {{ scope.data.title }}
              </slot>
            </template>
          </slot-render>
        </div>
        <div class="ml-tree-alt" v-show="!template && !$scopedSlots.default">
          <slot name="alt">{{ item.label }}</slot>
        </div>
      </div>
      <div class="ml-tree-children" v-show="!item.collapse" v-if="item.children">
        <ml-tree ref="children" :defaultCollapse="defaultCollapse" :canSelect="canSelect" :canCollapse="canCollapse" :hideCaret="hideCaret" :template="template || $scopedSlots.default" :data="item.children" :level="level + 1" :showCheck="showCheck"></ml-tree>
      </div>
    </div>
  </div>
</template>

<script>
import SlotRender from './slot-render.vue'
import _ from '@/utils/utils'

export default {
  name: 'MLTree2',
  components: {
    SlotRender
  },
  props: {
    template: {
      type: String,
      default: ''
    },
    level: {
      default: 0,
      type: Number
    },
    canSelect: {
      default: true,
      type: Boolean
    },
    canCollapse: {
      default: false,
      type: Boolean
    },
    defaultCollapse: {
      default: false,
      type: Boolean
    },
    hideCaret: {
      default: false,
      type: Boolean
    },
    data: {
      type: [Array],
      default: function () {
        return []
      }
    },
    showCheck: {
      type: Boolean,
      default: false
    }
  },
  data () {
    var localData = this.setupLocalData(this.data)
    return {
      local_data: localData
    }
  },
  watch: {
    data: {
      deep: true,
      handler: function (val) {
        this.local_data = this.setupLocalData(val)
      }
    }
  },
  methods: {
    toggleCollapse (item) {
      item.collapse = !item.collapse
    },
    updateChildrenCheck (item, val) {
      function updateChildrenCheck (arr, val) {
        arr.forEach(item => {
          item.checked = val
          if (item.children) {
            updateChildrenCheck(item.children, val)
          }
        })
      }
      updateChildrenCheck(item.children, val)
    },
    toggleCheckAll (val) {
      this.local_data.forEach(d => {
        d.checked = val
      })
    },
    clearSelect () {
      if (this.level === 0) {
        this.clearDownStream()
      } else {
        this.clearUpstream()
      }
    },
    clearUpstream () {
      this.$parent.clearSelect()
    },
    clearDownStream () {
      this.local_data.forEach(d => {
        d.selected = false
      })
      this.$refs.children.forEach(d => {
        d.clearDownStream()
      })
    },
    toggleSelect (item) {
      if (this.canSelect) {
        this.clearSelect()
        item.selected = true
        this.$emit('selected', item)
      }
      if (this.canCollapse) {
        item.collapse = !item.collapse
      }
    },
    setupLocalData (data) {
      return _.cloneDeep(data).map(item => {
        _.defaults(item, {
          selected: false,
          checked: false,
          collapse: this.defaultCollapse,
          isLeaf: false
        })
        // this.updateChildrenCheck(item, item.checked)
        return item
      })
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.ml-tree-wrapper {
  .ml-tree-content {
    border: 1px solid transparent;
    bdrs(2px)
    padding: 0;
    display: block;
    white-space: nowrap;
    display: flex;
    line-height: 32px;
    .ml-tree-collapse {
      display: inline-block;
      line-height: 32px;
      font-size: $fontSize;
      cursor pointer;
      user-select none;
      width: 24px;
    }
    .ml-tree-checkbox {
      padding-right: 5px;
      user-select none
      font-size: 13px;
    }
    .ml-tree-title {
      display: inline-block;
      flex: 1 1 auto;
      display: inline-block;
      vertical-align: top;
      overflow hidden
      white-space: nowrap;
      width: 100%;
      text-overflow ellipsis
    }
    .ml-tree-alt {
      color: $gray;
      display: inline-block;
      vertical-align: top;
      padding-right: 5px;
    }
    &.ml-tree-can-select {
      &:hover {
        background: alpha($light, .3)
      }
      &.selected {
        background: $primary
      }
      &.ml-tree-selected {
        background: alpha($primary, .2)
        border-color: alpha($primary, .3);
      }
    }
    &.ml-tree-can-collapse {
      cursor pointer
    }
  }
  .ml-tree-children {
    margin-left: 20px;
    .empty-children {
      color: $secondary;
      font-size: 80%;
      margin-left: 10px;
    }
  }
}
</style>
