<template>
  <transition name="zoom-in-top">
      <div class="ml-picker-panel-wrap ml-picker-range-panel-wrap" ref="panel" v-show="shown" :style="position">
        <short-cuts v-if="shownSideBar" :shortcuts="pickerOptions.shortcuts" @shortcut-click="handleShortcutPick"></short-cuts>
        <div class="ml-picker-range-panel ml-picker-range-left-panel" :style="{marginLeft: shownSideBar ? '110px' : '0'}">
        <div class="ml-picker-panel-header">
          <div class="ml-picker-header-label">
              <span class="ml-picker-header-label-text" v-html="formatYearMonthText(1)"></span>
          </div>
          <div class="ml-picker-header-toggle ml-picker-header-toggle-prev">
              <ml-icon name="double-chevron-left" @click.native="changeLeftYear(-1)"></ml-icon>
              <ml-icon name="chevron-left" @click.native="changeLeftMonth(-1)"></ml-icon>
          </div>
            <div class="ml-picker-header-toggle ml-picker-header-toggle-next" v-if="unlinkPanels">
              <ml-icon name="chevron-right" :class="{'disabled': disableLinkMonth}" @click.native="changeLeftMonth(1)"></ml-icon>
              <ml-icon name="double-chevron-right" :class="{'disabled': disableLinkYear}" @click.native="changeLeftYear(1)"></ml-icon>
          </div>
        </div>
        <date-table
          :lang="lang"
          :locals="customLocals"
          :date="leftDate"
          :min-date="startDate"
          :max-date="endDate"
          :selecting="selecting"
          :options="pickerOptions"
          @end-date-change="handleEndDateChange"
            @range-change="handleRangeChange">
          </date-table>
        <div class="ml-date-time-picker" v-if="showTimePicker">
          <TimePicker format="date" :precision="precision" v-model="startTimeDate" class="ml-time-picker-in-date-picker"></TimePicker>
        </div>
      </div>
      <div class="ml-picker-range-panel ml-picker-range-right-panel">
        <div class="ml-picker-panel-header">
          <div class="ml-picker-header-label">
              <span class="ml-picker-header-label-text" v-html="formatYearMonthText(2)"></span>
          </div>
            <div class="ml-picker-header-toggle ml-picker-header-toggle-prev" v-if="unlinkPanels">
              <ml-icon name="double-chevron-left" :class="{'disabled': disableLinkYear}" @click.native="changeRightYear(-1)"></ml-icon>
              <ml-icon name="chevron-left" :class="{'disabled': disableLinkMonth}" @click.native="changeRightMonth(-1)"></ml-icon>
          </div>
          <div class="ml-picker-header-toggle ml-picker-header-toggle-next">
              <ml-icon name="chevron-right" @click.native="changeRightMonth(1)"></ml-icon>
              <ml-icon name="double-chevron-right" @click.native="changeRightYear(1)"></ml-icon>
          </div>
        </div>
        <date-table
          :lang="lang"
          :locals="customLocals"
          :date="rightDate"
          :min-date="startDate"
          :max-date="endDate"
          :selecting="selecting"
          :options="pickerOptions"
          @end-date-change="handleEndDateChange"
            @range-change="handleRangeChange">
          </date-table>
        <div class="ml-date-time-picker" v-if="showTimePicker">
          <TimePicker format="date" :precision="precision" v-model="endTimeDate" class="ml-time-picker-in-date-picker"></TimePicker>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import locals from './helpers/locals'
import TimePicker from '@/components/DatePicker/time-picker'

import {
  isDate,
  nextMonth, nextYear
  // getPanelPosition, contains,
} from './helpers/utils'

import ShortCuts from './shortcuts.vue'
import DateTable from './date-table.vue'

export default {

  components: {
    ShortCuts,
    DateTable,
    TimePicker
  },
  props: {
    precision: {
      type: String,
      default: 'minute',
      validator: function (value) {
        return ['year', 'month', 'day', 'hour', 'minute', 'second'].indexOf(value) !== -1
      }
    }
  },
  data () {
    return {
      shown: false,
      position: {
        top: 0,
        left: 0
      },

      shownSideBar: false,
      unlinkPanels: false,

      // 用于初始面板
      rightDate: null,
      leftDate: null,

      // 选择
      startDate: null,
      endDate: null,
      selecting: false,
      clickCount: 0,

      timeDateInitialized: false,
      startTimeDate: new Date(),
      endTimeDate: new Date(),

      pickerOptions: null,
      lang: 'cn',
      format: 'yyyy/MM/dd',
      customLocals: {},

      disableLinkMonth: false, // whether link when unlinkPanels is true for closed months.
      disableLinkYear: false // whether link when unlinkPanels is true for closed years.
    }
  },

  computed: {
    showTimePicker () {
      return ['hour', 'minute', 'second'].includes(this.precision)
    }
  },

  watch: {
    // startTimeDate: {
    //   handler: function (newVal) {
    //     if (this.timeDateInitialized) {
    //       this.$emit('emit', this.getTargetDate())
    //     }
    //   }
    // },
    // endTimeDate: {
    //   handler: function (newVal) {
    //     if (this.timeDateInitialized) {
    //       this.$emit('emit', this.getTargetDate())
    //     }
    //   }
    // }
  },

  mounted () {
    this.$on('pick', this.shortcutPick)
    this.$on('clear', this.clearDate)
    this.$nextTick(() => {
      // this.changeLinkStatus(this.leftDate, this.rightDate)
    })
  },

  methods: {
    changeLinkStatus (leftDate, rightDate) {
      const l = leftDate || this.leftDate
      const r = rightDate || this.rightDate
      const monthDiff = r.getMonth() - l.getMonth()
      const yearDiff = r.getFullYear() - l.getFullYear()

      if (this.unlinkPanels) {
        if (yearDiff === 0 || (yearDiff === 1 && monthDiff <= 0)) {
          this.disableLinkYear = true
        } else {
          this.disableLinkYear = false
        }

        if ((monthDiff === 1 && yearDiff === 0) || (monthDiff === -11 && yearDiff === 1)) {
          this.disableLinkMonth = true
        } else {
          this.disableLinkMonth = false
        }
      } else {
        this.disableLinkMonth = false
        this.disableLinkYear = false
      }
    },

    changeLeftMonth (delta) {
      // left panel date
      if (delta === 1 && this.disableLinkMonth) {
        return
      }
      this.leftDate = nextMonth(this.leftDate, delta)

      if (!this.unlinkPanels) {
        this.rightDate = nextMonth(this.rightDate, delta)
      }
      this.changeLinkStatus(this.leftDate, null)
    },

    changeLeftYear (delta) {
      // left panel date
      if (delta === 1 && this.disableLinkYear) {
        return
      }
      this.leftDate = nextYear(this.leftDate, delta)

      if (!this.unlinkPanels) {
        this.rightDate = nextYear(this.rightDate, delta)
      }

      this.changeLinkStatus(this.leftDate, null)
    },

    changeRightMonth (delta) {
      // right panel date
      if (delta === -1 && this.disableLinkMonth) {
        return
      }
      this.rightDate = nextMonth(this.rightDate, delta)

      if (!this.unlinkPanels) {
        this.leftDate = nextMonth(this.leftDate, delta)
      }
      this.changeLinkStatus(null, this.rightDate)
    },

    changeRightYear (delta) {
      // right panel date
      if (delta === -1 && this.disableLinkYear) {
        return
      }
      this.rightDate = nextYear(this.rightDate, delta)

      if (!this.unlinkPanels) {
        this.leftDate = nextYear(this.leftDate, delta)
      }
      this.changeLinkStatus(null, this.rightDate)
    },

    formatYearMonthText (type) {
      // 2018&nbsp年&nbsp&nbsp1&nbsp月
      const d = type === 1 ? this.leftDate : this.rightDate
      if (!d) {
        return
      }
      if (this.lang === 'cn') {
        return `${d.getFullYear()}&nbsp年&nbsp&nbsp${d.getMonth() + 1}&nbsp月`
      } else if (this.lang === 'en') {
        return `${d.getFullYear()}&nbsp&nbsp${locals[this.lang].months.original[d.getMonth()]}`
      } else {
        return `${d.getFullYear()}&nbsp&nbsp${this.customLocals[this.lang].months.original[d.getMonth()]}`
      }
    },

    handleEndDateChange (date) {
      this.endDate = date
    },

    getPartialTargetDate (date, time) {
      const year = date.getFullYear()
      const monthIndex = date.getMonth()
      const day = date.getDate()
      const hour = time.getHours()
      const minute = time.getMinutes()
      const second = time.getSeconds()
      return new Date(year, monthIndex, day, hour, minute, second)
    },

    getTargetDate () {
      let left = this.getPartialTargetDate(this.startDate, this.startTimeDate)
      let right = this.getPartialTargetDate(this.endDate, this.endTimeDate)
      if (left.getTime() > right.getTime()) {
        this.startTimeDate = right
      }
      return [left, right]
    },

    getTimeDateFrom (date) {
      const now = new Date()
      const year = now.getFullYear()
      const monthIndex = now.getMonth()
      const day = now.getDate()
      const hour = date.getHours()
      const minute = date.getMinutes()
      const second = date.getSeconds()
      return new Date(year, monthIndex, day, hour, minute, second)
    },

    initTimeDate () {
      if (!this.timeDateInitialized) {
        this.startTimeDate = this.getTimeDateFrom(this.startDate)
        this.endTimeDate = this.getTimeDateFrom(this.endDate)
        this.timeDateInitialized = true
      }
    },
    handleRangeChange (date, isResetStartDate) {
      if (isResetStartDate) {
        this.clickCount = 0
      }
      this.clickCount = this.clickCount + 1
      if (!this.selecting) {
        this.selecting = true
      }
      if (this.clickCount === 1) {
        this.startDate = date
        return
      }
      if (this.clickCount >= 2) {
        this.endDate = date
      }

      this.$emit('emit', this.getTargetDate())
      this.shown = false
      this.selecting = false
      this.clickCount = 0
    },

    handleShortcutPick (shortcut) {
      if (typeof shortcut.onClick === 'function') {
        shortcut.onClick(this)
      }
    },

    shortcutPick (range) {
      if (Array.isArray(range) && range.length === 2) {
        if (!isDate(range[0]) || !isDate(range[1])) {
          throw new Error('[ml-datepicker]: Invalid date returned in shortcuts')
        }

        this.startDate = range[0]
        this.endDate = range[1]
        this.$emit('emit', this.getTargetDate())
        this.shown = false
      }
    },

    clearDate () {
      this.startDate = ''
      this.endDate = ''
      this.shown = false
      this.selecting = false
      this.clickCount = 0
    }
  }
}
</script>
