<template>
  <transition name="zoom-in-top">
    <div class="ml-picker-panel-wrap" v-show="shown" :style="position">
      <short-cuts v-if="shownSideBar" :shortcuts="pickerOptions.shortcuts" @shortcut-click="handleShortcutPick"></short-cuts>
      <div class="ml-picker-panel" :style="{marginLeft: shownSideBar ? '110px' : '0'}">
        <div class="ml-picker-panel-header">
          <div class="ml-picker-header-label">
            <span class="ml-picker-header-label-text" v-html="formatYearMonthText()"></span>
          </div>
          <div class="ml-picker-header-toggle ml-picker-header-toggle-prev">
            <ml-icon name="double-chevron-left" @click.native="changeYear(-1)"></ml-icon>
            <ml-icon name="chevron-left" @click.native="changeMonth(-1)"></ml-icon>
          </div>
          <div class="ml-picker-header-toggle ml-picker-header-toggle-next">
            <ml-icon name="chevron-right" @click.native="changeMonth(1)"></ml-icon>
            <ml-icon name="double-chevron-right" @click.native="changeYear(1)"></ml-icon>
          </div>
        </div>
        <div class="ml-picker-panel-content ml-picker-panel-table ml-picker-panel-days-table" @click="selectdCurDate">
          <div class="ml-picker-panel-table-row ml-picker-panel-week-label">
            <span v-for="day in weekDaysLabel" :key="day" v-text="day"></span>
          </div>
          <div class="ml-picker-panel-table-row" v-for="(row, index) in rows" :key="index">
            <span v-for="cell in row" :key="cell.index"
              :class="getCellClasses(cell)"
              :data-index="cell.index"
            >
              <span v-text="cell.text" :data-index="cell.index"></span>
            </span>
          </div>
        </div>
        <div class="ml-date-time-picker" v-if="showTimePicker">
          <TimePicker format="date" :precision="precision" v-model="timeDate" class="ml-time-picker-in-date-picker"></TimePicker>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import locals from './helpers/locals'

import {
  nextDate, isDate, nextYear, nextMonth,
  getFirstDateOfMonth, getLastDateOfMonth,
  getClearHoursTime
  //, daysOfMonth, getDaysOfMonth, contains, getPanelPosition
} from './helpers/utils'

import ShortCuts from './shortcuts.vue'
import TimePicker from '@/components/DatePicker/time-picker'

export default {

  components: {
    ShortCuts,
    TimePicker
  },
  props: {
    precision: {
      type: String,
      default: 'minute',
      validator: function (value) {
        return ['year', 'month', 'day', 'hour', 'minute', 'second'].indexOf(value) !== -1
      }
    }
  },
  data () {
    return {
      shown: false,
      position: {
        top: 0,
        left: 0
      },
      timeDate: '',
      timeDateInitialized: false,
      shownSideBar: false,
      date: new Date(), // 用于初始面板
      selectedDate: null, // 选中的日期
      rows: [],
      pickerOptions: null,
      lang: 'cn',
      customLocals: {},
      renderRow: 6,
      format: 'yyyy/MM/dd'
    }
  },

  computed: {
    weekDaysLabel () {
      if (locals[this.lang]) {
        return locals[this.lang].days
      } else if (this.customLocals[this.lang]) {
        return this.customLocals[this.lang].days
      } else {
        return locals['cn'].days
      }
    },
    showTimePicker () {
      return ['hour', 'minute', 'second'].includes(this.precision)
    }
  },

  watch: {
    date: {
      handler: function () {
        this.initDays()
      }
    }
    // timeDate: {
    //   handler: function (newVal) {
    //     this.$emit('emit', this.getTargetDate())
    //   }
    // }
  },

  mounted () {
    this.$on('pick', this.shortcutPick)
    this.$on('clear', this.clearDate)
  },

  methods: {
    initRenderRows () {
      if (this.renderRow === 6) {
        return [[], [], [], [], [], []]
      } else {
        return [[], [], [], [], [], [], []]
      }
    },
    getTimeDateFrom (date) {
      const now = new Date()
      const year = now.getFullYear()
      const monthIndex = now.getMonth()
      const day = now.getDate()
      const hour = date.getHours()
      const minute = date.getMinutes()
      const second = date.getSeconds()
      return new Date(year, monthIndex, day, hour, minute, second)
    },
    getTargetDate () {
      const year = this.date.getFullYear()
      const monthIndex = this.date.getMonth()
      const day = this.date.getDate()
      const hour = this.timeDate.getHours()
      const minute = this.timeDate.getMinutes()
      const second = this.timeDate.getSeconds()
      return new Date(year, monthIndex, day, hour, minute, second)
    },
    initTime () {
      if (!this.timeDateInitialized) {
        this.timeDate = this.getTimeDateFrom(this.date)
        this.timeDateInitialized = true
      }
    },
    initDays () {
      const date = this.date
      this.initTime()
      const curYear = date.getFullYear()
      const curMonth = date.getMonth()
      // const curDate = date.getDate()
      // const curDay = date.getDay()

      const firstDateOfMonth = getFirstDateOfMonth(date)
      const firstWeekDay = firstDateOfMonth.getDay()
      // const daysOfMonth = getDaysOfMonth(curYear, curMonth + 1)
      const lastDateOfMonth = getLastDateOfMonth(date)
      const mod = (firstWeekDay + 7) % 7

      const diff = this.renderRow === 6 ? mod : mod + 7
      const panelStartDate = new Date(curYear, curMonth, firstDateOfMonth.getDate() - diff)

      const rows = this.initRenderRows()
      const minTime = firstDateOfMonth.getTime()
      const maxTime = lastDateOfMonth.getTime()
      let index = 0

      for (let i = 0, l = rows.length; i < l; i++) {
        const row = rows[i]
        for (let j = 0; j < 7; j++) {
          const cell = {}
          index = i * 7 + j
          const d = nextDate(panelStartDate, index)
          const time = d.getTime()
          cell.index = index
          cell.text = d.getDate()
          cell.type = time < minTime ? 'prev-month' : time > maxTime ? 'next-month' : 'normal'
          cell.isToday = time === getClearHoursTime(Date.now())
          cell.isSelected = isDate(this.selectedDate) ? time === getClearHoursTime(new Date(this.selectedDate).getTime()) : false
          cell.date = d

          // disable date
          if (this.pickerOptions && typeof this.pickerOptions.disabledDate === 'function') {
            cell.disabled = this.pickerOptions.disabledDate(cell.date)
          }

          row.push(cell)
        }
        rows[i] = row
      }

      this.rows = [].concat(rows)
    },

    getCellClasses (cell) {
      const classes = ['ml-picker-panel-table-cell', 'ml-picker-panel-day']
      classes.push(cell.type)
      if (cell.isToday) {
        classes.push('today')
      }
      if (cell.isSelected) {
        classes.push('selected')
      }
      if (cell.disabled) {
        classes.push('disabled')
      }

      return classes.join(' ')
    },

    changeMonth (delta) {
      const d = this.date
      this.date = nextMonth(d, delta)
    },

    changeYear (delta) {
      const d = this.date
      this.date = nextYear(d, delta)
    },

    formatYearMonthText () {
      // 2018&nbsp年&nbsp&nbsp1&nbsp月
      const d = this.date
      if (this.lang === 'cn') {
        return `${d.getFullYear()}&nbsp年&nbsp&nbsp${d.getMonth() + 1}&nbsp月`
      } else if (this.lang === 'en') {
        return `${d.getFullYear()}&nbsp&nbsp${locals[this.lang].months.original[d.getMonth()]}`
      } else {
        return `${d.getFullYear()}&nbsp&nbsp${this.customLocals[this.lang].months.original[d.getMonth()]}`
      }
    },

    handleShortcutPick (shortcut) {
      if (typeof shortcut.onClick === 'function') {
        shortcut.onClick(this)
      }
    },

    shortcutPick (date) {
      if (isDate(date)) {
        this.selectedDate = date
        this.date = date
        this.$emit('emit', this.getTargetDate())
        this.shown = false
      }
    },

    getCellInfoByIndex (index) {
      const rowIndex = Math.floor(index / 7)
      const cellIndex = index % 7
      return this.rows[rowIndex][cellIndex]
    },

    selectdCurDate (e) {
      // Compatible IE9 ~ IE10
      const index = e.target.dataset ? e.target.dataset.index : e.target.getAttribute('data-index')
      if (index) {
        const cell = this.getCellInfoByIndex(index)
        if (cell.disabled) {
          return
        }
        this.selectedDate = cell.date
        this.date = cell.date
        this.$emit('emit', this.getTargetDate())
        this.shown = false
      }
    },

    clearDate () {
      this.selectedDate = ''
      this.shown = false
      this.$nextTick(() => {
        this.initDays()
      })
    }
  }
}
</script>
