<template>
  <div :pid="pid" class="ml-date-wrap" :class="{'ml-date-range-wrap': range, 'ml-date-wrap-fill': fill}" @click.stop="handleTriggerClick" @mouseover="shownClear=true" @mouseout="shownClear=false">
    <ml-input fill :disabled="disabled" :prepend="prepend" :append="append" icon="calendar" v-model="displayDate" :placeholder="_placeholder" @blur="blur"></ml-input>
    <div class="ml-date-panel-container">
      <component ref="panel" :precision="precision" :is="component"></component>
    </div>
  </div>
</template>

<script>
import _ from '@/utils/utils'

import {
  isDate, formatDate, contains, getPanelPosition, nextMonth
} from './helpers/utils'

import pickerManage from './helpers/picker-manage'

import DateRangePickerPanel from './date-range-panel'
import DatePickerPanel from './date-panel'

export default {
  name: 'ml-datepicker',
  components: {
    DateRangePickerPanel, DatePickerPanel
  },
  props: {
    fill: {
      type: Boolean,
      default: false
    },
    value: {
      type: [Array, String, Date, Number],
      default: ''
    },
    prepend: {
      type: Boolean,
      default: false
    },
    append: {
      type: Boolean,
      default: false
    },
    range: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    rangeSeparator: {
      type: String,
      default: ' - '
    },
    lang: {
      type: String,
      default: 'cn'
    },

    customLocals: {
      type: Object,
      default: () => {}
    },
    precision: {
      type: String,
      default: 'second',
      validator: function (value) {
        return ['year', 'month', 'day', 'hour', 'minute', 'second'].indexOf(value) !== -1
      }
    },
    format: {
      type: String,
      default: function () {
        let format = this.range ? 'yyyy/MM/dd' : 'yyyy-MM-dd'
        if (['hour', 'minute', 'second'].includes(this.precision)) {
          format += ' HH:mm'
        }
        if (['second'].includes(this.precision)) {
          format += ':ss'
        }
        return format
      }
    },

    placeholder: {
      type: String,
      default: ''
    },

    unlinkPanels: {
      // 是否取消左右面板的联动
      type: Boolean,
      default: false
    },

    pickerOptions: {
      type: Object,
      default: () => {
        return {}
      }
    },

    renderRow: {
      type: Number,
      default: 6,
      validator: val => [6, 7].includes(val)
    },
    defaultValue: {
      type: String,
      default: ''
    }
  },

  data () {
    const MONTH = 1000 * 3600 * 24 * 30
    const [initLeftDate, initRightDate] = this.initDate(MONTH)
    const initDate = this.initCurDate()
    return {
      pid: -1,
      view: 'day',
      leftDate: initLeftDate,
      rightDate: initRightDate,
      curDate: initDate,
      displayDate: '',
      shownClear: false,
      pickerClicked: false,
      panelHeight: null,
      panelWidth: null,
      wrapRect: null,
      picker: null,
      startDate: null,
      endDate: null,
      MONTH: MONTH
    }
  },

  computed: {
    _placeholder () {
      if (this.range) {
        return this.placeholder ? this.placeholder : this.lang === 'cn' ? '开始时间 - 结束时间' : 'Choosing date range...'
      } else {
        return this.placeholder ? this.placeholder : this.lang === 'cn' ? '选择日期' : 'Choosing date...'
      }
    },
    component () {
      if (this.range) {
        return 'date-range-picker-panel'
      } else {
        return 'date-picker-panel'
      }
    }
  },

  watch: {
    value: {
      immediate: true,
      deep: true,
      handler: function (val) {
        if (this.range) {
          if (Array.isArray(val) && val.length === 2) {
            this.setDefRange()
          }
        } else {
          if (isDate(val)) {
            this.setDefDate()
          }
        }
      }
    },
    lang (val) {
      if (this.picker) {
        this.picker.lang = val
      }
    }
  },

  created () {
    this.winResize = _.debounce(this.handleDocResize, 100)
  },

  mounted () {
    window.document.addEventListener('mousedown', this.handleDocClick, false)
    window.document.addEventListener('scroll', this.winResize, false)
    window.addEventListener('resize', this.winResize, false)
  },

  beforeDestroy () {
    window.document.removeEventListener('mousedown', this.handleDocClick, false)
    window.document.removeEventListener('scroll', this.winResize, false)
    window.removeEventListener('resize', this.winResize, false)

    if (this.picker) {
      this.picker.$destroy()
      this.picker.$off()
      this.picker.$el.parentNode.removeChild(this.picker.$el)
    }
    this.winResize = null
    this.picker = null

    this.pid = pickerManage.deletePicker(this.pid)
  },
  methods: {
    initCurDate () {
      if (isDate(this.defaultValue)) {
        return new Date(this.defaultValue)
      }
      return new Date()
    },
    setDefDate () {
      this.curDate = new Date(this.value)
      this.displayDate = formatDate(this.curDate, this.format)
    },
    initDate (MONTH) {
      if (Array.isArray(this.value) && this.value.length === 2) {
        let leftDate = isDate(this.value[0]) ? new Date(this.value[0]) : new Date()
        let rightDate = isDate(this.value[1]) ? new Date(this.value[1]) : nextMonth(new Date(), 1)

        if (leftDate.getTime() > rightDate.getTime()) {
          [leftDate, rightDate] = [rightDate, leftDate]
        }
        const diff = rightDate.getTime() - leftDate.getTime()

        if (!this.unlinkPanels && diff > MONTH) {
          rightDate = nextMonth(leftDate, 1)
        }

        if (diff <= MONTH) {
          rightDate = nextMonth(leftDate, 1)
        }

        return [leftDate, rightDate]
      }

      if (!this.unlinkPanels && isDate(this.defaultValue)) {
        const leftDate = new Date(this.defaultValue)
        return [leftDate, nextMonth(leftDate, 1)]
      }

      return [new Date(), nextMonth(new Date(), 1)]
    },

    setDefRange () {
      let startDate = isDate(this.value[0]) ? new Date(this.value[0]) : ''
      let endDate = isDate(this.value[1]) ? new Date(this.value[1]) : ''
      if (startDate && endDate) {
        if (startDate.getTime() > endDate.getTime()) {
          [startDate, endDate] = [endDate, startDate]
        }

        this.startDate = startDate
        this.endDate = endDate
        const formate = [formatDate(this.startDate, this.format), formatDate(this.endDate, this.format)]
        this.displayDate = formate.join(this.rangeSeparator)
      }
    },

    clearDate () {
      this.displayDate = ''
      this.$emit('input', this.range ? [null, null] : '')
      this.$emit('change', this.range ? [null, null] : '')
      if (this.picker) {
        this.picker.$emit('clear')
      }
    },

    emitValue ([startDate, endDate]) {
      const formate = [formatDate(startDate, this.format), formatDate(endDate, this.format)]
      this.displayDate = formate.join(this.rangeSeparator)
      this.$emit('input', [startDate, endDate])
      this.$emit('change', [startDate, endDate])
      // this.$nextTick(() => {
      //     [this.leftDate, this.rightDate] = this.initDate(this.MONTH)
      // })
    },

    shownSideBar () {
      // fix #10
      if (this.pickerOptions && this.pickerOptions.shortcuts && Array.isArray(this.pickerOptions.shortcuts) && this.pickerOptions.shortcuts.length) {
        return true
      }
      return false
    },

    handleTriggerClick () {
      if (this.disabled) {
        return
      }
      if (this.range) {
        this.handleRangeClick()
      } else {
        this.handleDateClick()
      }
    },
    handleDateClick () {
      this.wrapRect = this.$el.getBoundingClientRect()
      if (!this.picker) {
        this.picker = this.$refs.panel //  new Vue(DatePickerPanel).$mount()
        this.picker.pickerOptions = { ...this.pickerOptions }
        this.picker.date = this.curDate
        this.picker.selectedDate = this.displayDate
        this.picker.lang = this.lang
        this.picker.customLocals = this.customLocals
        this.picker.format = this.format
        this.picker.renderRow = this.renderRow
        this.picker.shownSideBar = this.shownSideBar()
        this.picker.position = {
          top: `${this.wrapRect.bottom}px`,
          left: `${this.wrapRect.left}px`
        }
        this.picker.$on('emit', (date) => {
          this.curDate = date
          this.displayDate = formatDate(date, this.format)
          this.$emit('input', date)
          this.$emit('change', date)
        })
        this.pid = pickerManage.addPicker('date', this.picker)
        document.body.appendChild(this.picker.$el)
      }
      pickerManage.updatePicker(this.pid)
      this.picker.shown = !this.picker.shown
      this.$nextTick(() => {
        this.setPanelPosition()
      })
    },
    handleRangeClick () {
      this.wrapRect = this.$el.getBoundingClientRect()
      if (!this.picker) {
        this.picker = this.$refs.panel // new Vue(DateRangePickerPanel).$mount()
        this.picker.pickerOptions = { ...this.pickerOptions }
        this.picker.leftDate = this.leftDate
        this.picker.rightDate = this.rightDate
        this.picker.startDate = this.startDate
        this.picker.endDate = this.endDate
        this.picker.unlinkPanels = this.unlinkPanels
        this.picker.lang = this.lang
        this.picker.customLocals = this.customLocals
        this.picker.format = this.format
        if (this.startDate && this.endDate) {
          this.picker.initTimeDate()
        }
        this.picker.shownSideBar = this.shownSideBar()
        this.picker.position = {
          top: `${this.wrapRect.bottom}px`,
          left: `${this.wrapRect.left}px`
        }
        this.picker.$on('emit', this.emitValue)
        this.pid = pickerManage.addPicker('range', this.picker)
        document.body.appendChild(this.picker.$el)
      }
      pickerManage.updatePicker(this.pid)
      this.picker.shown = !this.picker.shown
      this.$nextTick(() => {
        this.setPanelPosition()
      })
    },

    handleDocClick (e) {
      const target = e.target
      if (!this.picker) {
        return
      }

      this.pickerClicked = contains(this.picker.$el, target)

      if (!this.pickerClicked && this.picker.shown) {
        this.picker.shown = false
      }
    },

    setPanelPosition () {
      if (!this.picker.shown) {
        return
      }
      if (!this.panelHeight) {
        this.panelHeight = parseInt(window.getComputedStyle(this.picker.$el, null).getPropertyValue('height'))
      }
      if (!this.panelWidth) {
        this.panelWidth = parseInt(window.getComputedStyle(this.picker.$el, null).getPropertyValue('width'))
      }

      const { top, left } = getPanelPosition(this.panelHeight, this.panelWidth, this.wrapRect)
      this.picker.position = {
        top: `${top}px`,
        left: `${left}px`
      }
    },

    handleDocResize (e) {
      if (!this.picker || !this.picker.shown) {
        return
      }
      this.wrapRect = this.$el.getBoundingClientRect()
      this.$nextTick(() => {
        this.setPanelPosition()
      })
    },

    blur (e) {
      if (this.pickerClicked) return
      const inputVaule = e.target._value
      if (!this.pickerClicked && inputVaule === '') {
        this.clearDate()
        return
      }
      if (this.range) {
        const [inputLeftDate, inputRightDate] = inputVaule.split('-')
        if (isDate(inputLeftDate)) {
          this.picker.startDate = new Date(inputLeftDate)
          this.picker.startTimeDate = new Date(inputLeftDate)
        }
        if (isDate(inputRightDate)) {
          this.picker.endDate = new Date(inputRightDate)
          this.picker.endTimeDate = new Date(inputRightDate)
        }
        this.$emit('input', [this.picker.startDate, this.picker.endDate])
        this.$emit('change', [this.picker.endDate, this.picker.startDate])
      } else {
        if (isDate(inputVaule)) {
          const inputVauleDate = new Date(inputVaule)
          this.picker.date = inputVauleDate
          this.picker.selectedDate = inputVauleDate
          this.picker.timeDate = inputVauleDate
          this.$emit('input', inputVauleDate)
          this.$emit('change', inputVauleDate)
        } else {
          this.displayDate = formatDate(this.curDate, this.format)
        }
      }
    }
  }
}
</script>
