<template>
  <div class="ml-time-picker" :style="{width}">
    <ml-row>
      <ml-col :width="hasSecond ? '29.333%': (hasMinute ? '47%': '100%')">
        <ml-input max="23" type="number" maxlength="2" fill placeholder="00" v-model="hour"></ml-input>
      </ml-col>
      <ml-col width="6%" v-if="hasMinute">
        <div class="time-colon">:</div>
      </ml-col>
      <ml-col :width="hasSecond ? '29.333%': '47%'" v-if="hasMinute">
        <ml-input max="59" type="number" maxlength="2" fill placeholder="00" v-model="minute"></ml-input>
      </ml-col>
      <ml-col width="6%" v-if="hasSecond">
        <div class="time-colon">:</div>
      </ml-col>
      <ml-col :width="'29.333%'" v-if="hasSecond">
        <ml-input max="59" type="number" maxlength="2" fill placeholder="00" v-model="second"></ml-input>
      </ml-col>
    </ml-row>
  </div>
</template>

<script>
export default {
  name: 'ml-timepicker',
  props: {
    value: {
      type: [String, Date],
      default: () => {
        return new Date()
      }
    },
    width: {
      type: String,
      default: '220px'
    },
    format: {
      type: String,
      default: 'string'
    },
    precision: {
      type: String,
      default: 'minute',
      validator: function (value) {
        return ['hour', 'minute', 'second'].indexOf(value) !== -1
      }
    }
  },
  data () {
    return {
      localValue: '',
      hour: '',
      minute: '',
      second: ''
    }
  },
  computed: {
    hasMinute () {
      return ['minute', 'second'].includes(this.precision)
    },
    hasSecond () {
      return this.precision === 'second'
    }
  },
  watch: {
    value: {
      immediate: true,
      handler: function (newVal) {
        if (newVal !== this.localValue) {
          this.localValue = newVal
        }
        this.updateLocalValue()
      }
    },
    hour: {
      immediate: true,
      handler: function (newVal) {
        this.hour = newVal
        this.$nextTick(() => {
          this.updateValue()
        })
      }
    },
    minute: {
      immediate: true,
      handler: function (newVal) {
        this.minute = newVal
        this.$nextTick(() => {
          this.updateValue()
        })
      }
    },
    second: {
      immediate: true,
      handler: function (newVal) {
        this.second = newVal
        this.$nextTick(() => {
          this.updateValue()
        })
      }
    }
  },
  methods: {
    updateLocalValue () {
      // String in format of: `12:34:56` or `12:34`
      const regex = /^\d\d:\d\d[:]?[\d]{0,2}$/

      const newVal = this.localValue
      if (typeof newVal === 'string' && regex.test(newVal)) {
        [this.hour, this.minute, this.second] = newVal.split(':')
        return
      }
      let datetime = new Date(newVal)
      this.hour = this.validStr(datetime.getHours().toString(), 23)
      this.minute = this.validStr(datetime.getMinutes().toString(), 59)
      this.second = this.validStr(datetime.getSeconds().toString(), 59)
    },
    updateValue () {
      this.hour = this.validStr((this.hour || 0).toString(), 23)
      this.minute = this.validStr((this.minute || 0).toString(), 59)
      this.second = this.validStr((this.second || 0).toString(), 59)
      if (this.format === 'date') {
        const datetime = new Date()
        const year = datetime.getFullYear()
        const monthIndex = datetime.getMonth()
        const day = datetime.getDate()
        const hour = parseInt(this.hour)
        const minute = this.hasMinute ? parseInt(this.minute) : 0
        const second = this.hasSecond ? parseInt(this.second) : 0
        const newDate = new Date(year, monthIndex, day, hour, minute, second)
        this.$emit('input', newDate)
      } else {
        let stringVal = this.hour
        if (this.hasMinute) {
          stringVal = `${stringVal}:${this.minute}`
        }
        if (this.hasSecond) {
          stringVal = `${stringVal}:${this.second}`
        }
        this.$emit('input', stringVal)
      }
    },
    validStr (newVal, max) {
      if (typeof newVal !== 'string') {
        return '00'
      }
      const regex = /^\d\d$/
      if (!newVal) {
        newVal = '00'
      } else if (newVal.length === 1) {
        newVal = '0' + newVal
      } else if (newVal.length > 2) {
        newVal = newVal.slice(-2)
      }
      if (!regex.test(newVal)) {
        newVal = '00'
      }
      if (parseInt(newVal) > max) {
        return max.toString()
      }
      return newVal
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.ml-time-picker {
  text-align: center;
  .input-container {
    > input.ml-input {
      text-align: center;
      font-size: 16px;
      padding: 4px 6px;
      // appearance textfield
    }
  }
  .time-colon {
    line-height: 32px;
    font-size: 16px;
    font-family: $code_font
    text-align: center;
  }
}
.ml-date-time-picker {
  border-top: 1px solid $light
  padding: 6px 10px;
  .ml-time-picker-in-date-picker {
    margin: 0 auto;
  }
}

</style>
