<template>
  <div>
    <slot v-if="isSlot" :data="data"></slot>
  </div>
</template>

<script>
import _ from '@/utils/utils'

export default {
  name: 'ml-table-column',
  props: {
    isSlot: {
      default: false,
      type: Boolean
    },
    data: {
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    label: { type: String, default: '' },
    prop: { type: String, default: '' },
    width: { type: String, default: '' },
    sortable: {
      default: false,
      type: [Boolean, String]
    },
    overflow: { type: Boolean, default: false },
    align: { type: String, default: 'left' },
    className: { type: String, default: '' }
  },
  data () {
    return {
      sortState: 'natural'
    }
  },
  inject: ['parent'],
  mounted () {
    this.parent.childrenColumns.push(this)
  },
  destroyed () {
    var children = this.parent.childrenColumns
    var index = children.indexOf(this)
    if (index >= 0) {
      children.splice(index, 1)
    }
  },
  methods: {
    toggleSort () {
      var sortList = ['natural', 'asc', 'desc']
      if (!_.includes(sortList, this.sortState)) {
        this.sortState = 'natural'
      } else {
        var idx = _.indexOf(sortList, this.sortState)
        if (idx === 2) {
          idx = -1
        }
        this.sortState = sortList[idx + 1]
      }
    },
    resetSort () {
      this.sortState = 'natural'
    }
  }
}
</script>

<style lang="stylus">

</style>
