<template>
  <div :class="classObj">
    <table class="ml-table">
      <thead>
        <tr>
          <th v-if="withCheckbox" :width="40" class="align-center">
            <span @click.stop.prevent="toggleSelectAll()">
              <ml-checkbox v-model="selectAll" style="padding-right: 0; line-height: inherit;"></ml-checkbox>
            </span>
          </th>
          <th v-for="(child, $idx) in children" :key="$idx" @click="toggleSort(child)" :width="getWidth(child)" :class="{sortable: child.sortable}">
            {{ getHead(child) }}
            <div class="pull-right ml-table-sort-icon" v-if="child.sortable">
              <div class="ml-table-sort-double-icon" v-if="sortIcon !== 'list'">
                <div :class="{active: sortIconActive(child, 'asc')}">
                  <ml-icon :name="`${sortIcon}-up`"></ml-icon>
                </div>
                <div :class="{active: sortIconActive(child, 'desc')}">
                  <ml-icon :name="`${sortIcon}-down`"></ml-icon>
                </div>
              </div>
              <div :class="{active: sortIconActive(child)}" v-else>
                <ml-icon :name="getSortIcon(child)"></ml-icon>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data, $idx) in tableData" :key="$idx">
          <td v-if="withCheckbox" class="align-center">
            <span @click.stop.prevent="toggleSelected(data)">
              <ml-checkbox :value="data.$__is__selected__" style="padding-right: 0; line-height: inherit;"></ml-checkbox>
            </span>
          </td>
          <td v-for="(child, $index) in children" :key="$idx + '-' + $index">
            <ml-table-column-content :data="data" :index="$idx" :prop="child.prop" :template="child.$scopedSlots.default" :content="child.$slots.default"></ml-table-column-content>
          </td>
        </tr>
      </tbody>
      <tfoot v-if="!(tableData && tableData.length)" class="no-data">
        <tr>
          <td :colspan="children.length">
            <slot name="empty">
              <div style="text-align: center;">
                <ml-icon name="warning-sign"></ml-icon>
                暂无数据
              </div>
            </slot>
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="ml-table-slots">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import MlTableColumnContent from '../slot-render.vue'
import _ from '@/utils/utils'

export default {
  name: 'MLTable',
  components: {
    MlTableColumnContent
  },
  props: {
    data: {
      type: Array,
      default: function () {
        return []
      }
    },
    stripe: {
      type: Boolean,
      default: false
    },
    bordered: {
      type: Boolean,
      default: false
    },
    interactive: {
      default: true,
      type: Boolean
    },
    sortIcon: {
      default: 'chevron', // ['chevron', 'caret', 'symbol-triangle', 'list']
      type: String
    },
    withCheckbox: {
      default: false,
      type: Boolean
    }
  },
  data () {
    return {
      childrenColumns: [],
      local_data: {},
      sortBy: {
        prop: '',
        type: 'natural'
      },
      selectAll: false
    }
  },
  provide () {
    return {
      parent: this
    }
  },
  computed: {
    children () {
      return this.childrenColumns
    },
    tableData () {
      var data = _.cloneDeep(this.local_data)
      if (data && this.sortBy && this.sortBy.prop && this.sortBy.type) {
        switch (this.sortBy.type) {
          case 'natural':
            break
          case 'asc':
            data = _.sortBy(data, this.sortBy.prop)
            break
          case 'desc':
            data = _.sortBy(data, this.sortBy.prop).reverse()
            break
          default:
            break
        }
      }
      return data
    },
    classObj () {
      var obj = {}
      if (this.interactive) {
        obj['ml-table-interactive'] = true
      }
      if (this.bordered) {
        obj['ml-table-bordered'] = true
      }
      return obj
    }
  },
  watch: {
    local_data: {
      deep: true,
      handler: function (newVal, oldVal) {
        if (_.every(newVal, '$__is__selected__')) {
          this.selectAll = true
        } else {
          this.selectAll = false
        }
        this.$emit('selection', _.filter(newVal, '$__is__selected__'))
      }
    },
    data: {
      immediate: true,
      handler: function (newVal, oldVal) {
        this.local_data = _.map(newVal, d => {
          var data = _.cloneDeep(d)
          data.$__is__selected__ = false
          return data
        })
      }
    }
  },
  methods: {
    toggleSelected (data) {
      var idx = _.findIndex(this.local_data, data)
      var item = this.local_data[idx]
      item.$__is__selected__ = !item.$__is__selected__
      this.$set(this.local_data, idx, item)
    },
    toggleSelectAll () {
      this.selectAll = !this.selectAll
      this.local_data = _.map(this.data, d => {
        var data = _.cloneDeep(d)
        data.$__is__selected__ = this.selectAll
        return data
      })
    },
    getHead (child) {
      return child.label
    },
    sortIconActive (child, type) {
      if (!type) {
        return child.sortState !== 'natural'
      } else {
        return child.sortState === type
      }
    },
    getWidth (child) {
      return child.width
    },
    toggleSort (child) {
      this.children.forEach(_child => {
        if (_child !== child) {
          _child.resetSort()
        } else {
          child.toggleSort()
        }
      })
      if (child.sortable && child.sortable === true) {
        this.sortBy = {
          prop: child.prop,
          type: child.sortState
        }
      } else if (child.sortable === 'custom') {
        this.$emit('sort', {
          prop: child.prop,
          type: child.sortState
        })
      }
    },
    getSortIcon (child) {
      var iconMap = {
        'natural': 'sort',
        'asc': 'sort-asc',
        'desc': 'sort-desc'
      }
      return iconMap[child.sortState]
    }
  }
}
</script>

<style lang="stylus">
@import '~@/stylesheets/vars'
.ml-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  color: $gray - 40%;
  text-align: left;
  .ml-table-sort-icon {
    display: inline-block;
    color: $gray
    .active {
      color: $primary;
    }
    .ml-table-sort-double-icon {
      margin-top: -3px;
      div {
        display: block;
        height: 10px;
      }
    }
  }
  tr {
    td, th {
      padding: 9px;
      border-bottom: 1px solid $gray + 72%
      .ml-table-fat & {
        padding: 12px 8px;
      }
      .ml-table-thin & {
        padding: 5px;
      }
    }
    th {
      // border-bottom: 2px solid $gray + 72%
      &.sortable {
        cursor pointer
        user-select none
      }
    }
    .ml-table-bottom-none &:last-child {
      td {
        border-bottom 0;
      }
    }
  }
  tfoot {
    &.no-data {
      tr {
        td {
          border-bottom: 0;
          height: 100px;
        }
      }
    }
  }
  .ml-table-interactive & {
    tbody {
      tr {
        transition: background .2s;
        background: $white;
        &:hover {
          background: $gray + 90%;
        }
      }
    }
  }
  .ml-table-bordered & {
    border: 1px solid $gray + 72%
    tr {
      td, th {
        border-right: 1px solid $gray + 72%
      }
      th {
        background: $gray + 90%
      }
    }
  }
}
</style>
