<template>
  <div>
    <framework>
      <router-view/>
    </framework>
  </div>
</template>

<script>
import framework from './views/framework'
export default {
  components: {
    framework
  }
}
</script>
